<h1>Listing Punch Clock Groups</h1>

<% @punch_clock_sets.each do |punch_clock_set| %>
  <fieldset class='index'>
    <legend><%= punch_clock_set.description %></legend
    <p>Started at: <%= punch_clock_set.created_at.to_s(:am_pm_long) %></p>
    <%= link_to "Pause all clocks", punch_clock_set_path(punch_clock_set, :pause => true), :method => :put %><br />
    <%= link_to "Unpause all clocks", punch_clock_set_path(punch_clock_set, :unpause => true), :method => :put %><br />
    <%= link_to "Submit all clocks", punch_clock_set_path(punch_clock_set, :submit => true), :method => :put %><br />
    <%= link_to "Cancel all clocks", punch_clock_set_path(punch_clock_set), :method => :delete, :confirm => "Are you sure you want to cancel these clocks?  No time will be added to payform for unsubmitted clocks." %><br />
    <%= render :partial => "punch_clocks/clocks", :object => punch_clock_set.punch_clocks %>
  </fieldset>
<% end %>

<%= link_to 'New Punch Clock Group', new_punch_clock_set_path %>
