<h1>Listing Punch Clock Sets</h1>

<% @punch_clock_sets.each do |punch_clock_set| %>
  <fieldset class='index'>
    <legend><%= punch_clock_set.description %></legend
    <p>Started at: <%= punch_clock_set.created_at.to_s(:am_pm_long) %></p>
    <%= link_to "Pause all clocks", punch_clock_set_path(punch_clock_set, :pause => true), :method => :put %><br />
    <%= render :partial => "punch_clocks/clocks", :object => punch_clock_set.punch_clocks %>
  </fieldset>
<% end %>

<%= link_to 'New Punch Clock Set', new_punch_clock_set_path %>
