<h1>New Punch Clock Group</h1>

<%= form_for(@punch_clock_set) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :users %><br />
    <%= collection_multiple_select_tag(:users, @users_select, :id, :name, selected_items: @punch_clock_set.users.map{|u| u.id}) %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', punch_clock_sets_path %>
