<strong>Edit Shift</strong>
<% form_for @shift do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :start %><br />
    <%= f.datetime_select :start, :minute_step => @department.department_config.time_increment, :twelve_hour => true %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.datetime_select :end, :minute_step => @department.department_config.time_increment, :twelve_hour => true %>
  </p>
    <% if current_user.is_admin_of?(@department) %>
    <p>
      <%= f.label :user %><br />
      <%= f.collection_select(:user_id, @department.users, :id, :name, {:prompt => "Select a user"}) %>
    </p>
  <% end %>
  <p>
    <%= f.label :location %><br />
    <%= select_tag 'shift[location_id]', option_groups_from_collection_for_select(@department.loc_groups, :locations, :name, :id, :name, @shift.location ? @shift.location.id : nil)%><br />
  </p>
  <p><%= submit_to_remote 'update', 'Submit', :url => { :action => 'update' }, :after => "$('div.tooltip').hide()" %> <%#, :after => "$('div#schedule').html('<h1>lookatme</h1>')" %></p>
<% end %>