
  <div class="close_link">
    <a onclick="$(this).parent().parent().fadeOut(function (){ $(this).remove() }); return false;" href="#">[x]</a>
  </div>
  <%= unobtrusive_datepicker_include_tags %>
  <h2>New Shift</h2>

  <% remote_form_for @shift do |f| %>
    <%= f.error_messages %>
    <p>
      <%
        start_time = (params[:date] ? Time.parse(params[:date]) : Date.today.to_time)
      
        if params[:xPercentage]
          @dept_start_hour = current_department.department_config.schedule_start / 60
          @dept_end_hour = current_department.department_config.schedule_end / 60
          @hours_per_day = (@dept_end_hour - @dept_start_hour)
          start_time += @dept_start_hour.hours + (@hours_per_day * params[:xPercentage].to_f) * 3600
        end
      %>
      <%= f.label :start_time %><br />
      <%= f.unobtrusive_datetime_picker :start, :default => start_time, :minute_step => @department.department_config.time_increment %>
    </p>
    <p>
      <%= f.label :end_time %><br />
      <%= f.unobtrusive_datetime_picker :end, :default => start_time + 1.hour, :minute_step => @department.department_config.time_increment %>
    </p>
    <% if current_user.is_admin_of?(@department) %>
    <p>
      <%= f.label :user %><br />
      <%= f.collection_select(:user_id, @department.users, :id, :name, {:prompt => "Select a user"}) %>
    </p>
    <% end %>
    <p>
      <%= f.label :location %><br />
      <%= select_tag 'shift[location_id]', option_groups_from_collection_for_select(@department.loc_groups, :locations, :name, :id, :name, params[:location_id].to_i)%><br />
    </p>
    <p><%= submit_to_remote "add_button", "Create New", :url => { :action => 'create' } %></p>
  <% end %>
