 <%= content_for :head do %>
  <%= javascript 'user_profile_fields' %>
<% end %>
  <p>
    <%= f.label :public, "Public?"  %>
    <%= f.check_box :public %>
  </p>
  <p>
    <%= f.label :user_editable, "User Editable?" %>
    <%= f.check_box :user_editable %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>

