<% title "User Profile Fields" %>

<table>
  <tr>
    <th>Name</th>
    <th>Display Type</th>
    <th>Values</th>
	<th>Displayed in Index
    <th>Public</th>
    <th>User Editable</th>
  </tr>
  <% for user_profile_field in @user_profile_fields %>
    <tr>
      <td><%=h user_profile_field.name %></td>
      <td><%=h UserProfileField::DISPLAY_TYPE_VIEW[user_profile_field.display_type] %></td>
      <td><%=h user_profile_field.values %></td>
	  <td><%=h user_profile_field.index_display %></td>
      <td><%=h user_profile_field.public %></td>
      <td><%=h user_profile_field.user_editable %></td>
      <td><%= link_to "Show", user_profile_field %></td>
      <td><%= link_to "Edit", edit_user_profile_field_path(user_profile_field) %></td>
      <td><%= link_to "Destroy", user_profile_field, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New User Profile Field", new_user_profile_field_path %></p>

