<% form_for @cagtegory do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>
  <p>
    <%= f.label :department %><br />
    <%= f.text_field :department %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
