<% form_for @user_config do |f| %>
  <%= f.error_messages %>
  <% unless @dept_select.length == 1 %>
    <fieldset class = "index">
      <legend>Default Department Preferences"</legend>
      <small>Control which department your account will be logged into when you sign in to the
      application.  You can then change it through the department chooser.  If you
      leave this blank, then it will default to your first department.</small><br />
      <%= f.select :default_dept, @dept_select %>
    </fieldset>
  <% end %>
  <fieldset class = "index">
  <legend>Location Groups</legend>
    
    <small>Control which location groups to view on your shift
    schedule and on the notices index page.</small><br />
    <%= render :partial => 'loc_groups' %>

  </fieldset>

  <fieldset class = "index">
    <legend>Schedule View</legend>
    <small>Control which portion of the shift schedule you would like to see.</small><br />
    <%= f.select :view_week, UserConfig::VIEW_WEEK_OPTIONS %>
  </fieldset>
  <fieldset class = "index">
    <legend>Data</legend>
    <small>Control which data objects will show updates on your
    dashboard.</small><br />
    <%= render :partial => 'dt_objects' %>
    
  </fieldset>
  <fieldset class = "index">
	<legend>Email Notifications</legend>
	<small>Control your notification preferences.</small><br />
	<p>
     <%= f.check_box :taken_sub_email %>
     <%= f.label :taken_sub_email, text = "Enable email notifications for all taken sub requests" %>
    </p>
	</fieldset>
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>


