<% form_for @user_config do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :default_dept %><br />
    <small>This is the department you will be logged into when you sign in to the 
    application.  You can then change it through the department chooser.  If you 
    leave this blank, then it will default to your first department.</small><br />
    <%= f.text_field :default_dept %>
  </p>
  <p>
    <%= f.label :view_loc_groups %><br />
    <small>These are the location groups you will view by default on the shift 
    schedule.  If you leave this blank, then it will default to all of your 
    location groups.</small><br />
    <%= f.text_field :view_loc_groups %>
  </p>
  <p>
    <%= f.label :view_week %><br />
    <small>This controls what portion of the shift schedule you see, relative to
    your pay period.  Your pay period is defined by your administrator.</small><br />
    <%= f.select :view_week, UserConfig::VIEW_WEEK_OPTIONS %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
