<% @loc_groups_grouped_by_dept.each do |dept| %>
 <div class="header_container"><h3>
  <% dept_name = dept[0] %>
  <% dept_loc_groups = dept[1] %>
  <% dept_val = nil %>
	<% header_class = "header_#{normalize_str(dept_name)}" %>
  <%= check_box_tag "#{normalize_str(dept_name)}".html_safe, nil, nil, class: header_class -%>
  <%= label_tag "#{normalize_str(dept_name)}", "#{dept_name}".html_safe, class: header_class -%></h3>
	<%= "<a class=\"#{header_class}\" id=\"hide\" href=\"#\">Hide</a>".html_safe -%></div>
	<%= "<ul class=\"#{header_class}\" id=\"ul\">".html_safe %>
  <% dept_loc_groups.each do |loc_grp| %>
  <div class="toggle"><li>
	<% loc_grp_name = loc_grp[0] %>
    <% loc_grp_id = loc_grp[1] %>
    <% loc_grp_checkbox_value = loc_grp[2] %>
    <%= check_box_tag "loc[#{loc_grp_id}]".html_safe, loc_grp_checkbox_value, loc_grp_checkbox_value, class: normalize_str(dept_name) %>
    <%= label_tag "loc[#{loc_grp_id}]", "#{loc_grp_name}".html_safe, class: normalize_str(dept_name) %>
	</li></div>
  <% end %>
	</ul><br />
<% end %>