<% form_for [:]current_user.user_profile_entries.each do |profile_entry| %>
  <% form_for profile_entry do |f| %>
    <%= f.error_messages %>
    <% args = f.prepare_form_helpers %>
    <p>
      <%= f.label "user_profile_entry[#{profile_entry.id}]", "#{UserProfileField.find(profile_entry.user_profile_field_id).name}" %><br />

      <% if ["text_field", "select", "text_area"].include? field.display_type %>
        <%= send(field.display_type, *args) %>
      <% elsif ["check_box", "radio_button"].include? field.display_type %>
        <% args.each do |options| %>
          <%= send(field.display_type, *options) %>
          <%= label "data_fields[#{field.id}]", "#{options.last}" %>
        <% end %>
      <% end %>

    </p>
    <p><%= f.submit "Submit" %></p>
  <% end %>
<% end %>

