<% form_for @app_config do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :footer %><br />
    <small>You can edit this footer with HTML.  Be careful to close your tags,
    or you may produce broken pages.</small><br/>
    <%= f.text_area :footer, {:class => "settings", :size => "80x10"} %>
  </p>
  <p>
    <%= f.label :user_editable_logins, text="Users are allowed to edit their logins?" %>
    <%= f.check_box :user_editable_logins %>
  </p>
  </p>
    <%= f.label :ldap_address %>
    <%= f.text_field :ldap_address %>

  <p><%= f.submit "Submit" %></p>
<% end %>

