<% form_for @app_config do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :footer %><br />
    <small>You can edit this footer with HTML.  Be careful to close your tags,
    or you may produce broken pages.</small><br/>
    <%= f.text_area :footer, {:class => "settings", :size => "80x10"} %>
  </p>
  <p>
    <%= f.label :auth_types %><br />
    <%#= f.text_field :auth_types %>
  </p>
  <p>
    <%= f.label :auth_types, text = "Login Options" %><br />
    <%= multiple_select :app_config, :auth_types, AppConfig::LOGIN_OPTIONS, :selected_items => @selected_auth_types %>
  
  <p><%= f.submit "Submit" %></p>
<% end %>
