<% title "Welcome, #{current_user.name}" %>

<% unless current_user.notices.empty? %>
  <%= render :partial => 'notices/for_you' %>
<% end %>

<div id="left_stuff">

  <fieldset class="index" id="shifts">
    <legend>Shifts</legend>
        <h4>Current Shift</h4>
    <%= render :partial => "shifts/user_options" %>
    <% unless @upcoming_shifts.empty? %>
        <h4>Upcoming Shifts</h4>
        <ul>
          <%= render :partial => 'shifts/upcoming_shift', :collection => @upcoming_shifts %>
        </ul>
    <% end %>
  </fieldset>

    <% if @most_recent_payform %>
    <fieldset class="index" id="payform">
      <legend>Your Current Payform</legend>
      <%= render :partial => "mini_payform", :object => @most_recent_payform %>
    </fieldset>
  <% end %>

  <fieldset class="index" id="punch_clock">
    <legend>Punch Clock</legend>
    <% if current_user.punch_clock %>
      <%= render :partial => "punch_clocks/dashboard_clock", :object => current_user.punch_clock %>
    <% else %>
      <%= image_tag("icons/clock_play.png", :class => "mini_icon") %>
      <%= link_to "Clock in", user_punch_clocks_path(current_user), :class => "action_with_icon", :method => :post %>
    <% end %>
  </fieldset>

  </div>
  <div id="right_stuff">

  <fieldset class="index" id="subs">
    <legend>Sub Requests</legend>
    <% unless @subs_you_requested.empty? %>
      <h4>Subs you've requested</h4>
      <ul>
        <%= (render :partial => 'shifts/upcoming_sub', :collection => @subs_you_requested) %>
      </ul>
    <% end %>

    <% unless @subs_you_can_take.empty? %>
      <h4>Subs You Can Take</h4>
        <ul>
          <%= (render :partial => 'shifts/upcoming_sub', :collection => @subs_you_can_take) %>
        </ul>
    <% end %>
  </fieldset>
  <% unless @watched_objects.empty? %>
  <fieldset class="index" id="watched_objects">
    <legend>Recent updates for your watched data objects</legend>
      <%= render :partial => 'data_objects/watched_object', :collection => @watched_objects %>
  </fieldset>
<% end %>
  </div>

<% unless current_user.user_config.view_loc_groups.empty? %>
  <fieldset class="index" id="schedule">
  <legend>Today's schedule</legend>
  <%= render :partial => 'shifts/schedule/day', :object => Date.today %>
</fieldset>
<% end %>

