<br/>
<% form_remote_for(@announcement) do |f| %>
  <div id ="errors">
    <%= render :partial => "notices/error_messages", :locals => {:f => f} %>
  </div>

	<fieldset class = "index">
    <legend>Content:</legend>
    <%= f.text_area :content, :id=>"content", :size => "60x5" %>
  </fieldset>

	<div id = "time_choices">
	<fieldset class = "index">
		<legend>Start time:</legend>
		<%= radio_button_tag 'start_time_choice', 'now', start_time_check(true) %> Now <br/>
		<%= radio_button_tag 'start_time_choice', 'date', start_time_check(false) %>
		<%= f.datetime_select :start_time, :minute_step => current_department.department_config.time_increment, :twelve_hour => true %>
	</fieldset>

	<fieldset class = "index">
		<legend>End time:</legend>
		<%= radio_button_tag 'end_time_choice', 'indefinite', end_time_check(true) %> Indefinite <br/>
		<%= radio_button_tag 'end_time_choice', 'date', end_time_check(false) %>
		<%= f.datetime_select :end_time, :minute_step => current_department.department_config.time_increment, :twelve_hour => true %>
	</fieldset>

  </div>

	<fieldset class = "index">
  	<legend>Where:</legend>
	 <%= check_box_tag :department_wide_locations, current_department.id, department_check(current_department, @announcement), :style => "display: none;" %>
    <%= label_tag "department_wide_locations", text = current_department.name + " (all locations)"%>

		<div id = "all_locations">
    <% for loc_group in current_department.loc_groups do %>
      <% if current_user.permission_list.select{|p| p.loc_group == loc_group} %>
				<li id = "notice_li">
		      <%= check_box_tag "for_location_groups[]", loc_group.id, loc_group_check(loc_group, @announcement), :style => "display: none;" %>
		      <%= label_tag "location_group_#{loc_group.id}", text = loc_group.name %>:
		      <% for location in loc_group.locations do %>
		        <%= check_box_tag "for_locations[]", location.id, location_check(location, @announcement) %>
		        <%= label_tag "location_#{location.id}", text = location.short_name %>
		        <% unless location == loc_group.locations.last %> , <%end%>
		      <% end %>
		    </li>
			<% end %>
    <% end %>
  	</div>
	</fieldset>
	<p>
  	<%= f.submit 'Save' %>
	</p>
<% end %>
<%= javascript_include_tag 'notices' %>