<% unless @notice_type %>
  <fieldset class = "index">
    <legend>Who:</legend>
    Enter any name, login, role or department
    <%= tokenized_users_autocomplete(@notice, "user_sources", "for_users") %>
  </fieldset>
<% end %>

<fieldset class = "index">
  <legend>Where:</legend>
  <% if current_user.is_admin_of?(current_department) %>
    <%= check_box_tag :department_wide_locations, department_check(current_department) %>
    <%= label_tag "department_wide_locations", text = current_department.name + " (all locations)" %>
  <% end %>
  <div id = "all_locations">
    <% for loc_group in current_department.loc_groups do %>
      <li id = "notice_li">
        <%= check_box_tag "for_location_groups[]", loc_group.id, loc_group_check(loc_group) %>
        <%= label_tag "location_group_#{loc_group.id}", text = loc_group.name %>:
        <% for location in loc_group.locations do %>
          <%= check_box_tag "for_locations[]", location.id, location_check(location) %>
          <%= label_tag "location_#{location.id}", text = location.short_name %>
          <% unless location == loc_group.locations.last %> , <%end%>
        <% end %>
      </li>
    <% end %>
  </div>
</fieldset>

