<% if current_user.is_admin_of?(current_department) %>
  <% unless Notice.upcoming.empty? %>
  <div id = "upcoming">
    <fieldset class = "index">
      <legend>Upcoming</legend>
      <%= render :partial => 'notice', :collection => Notice.upcoming %>
    </fieldset>
  </div>
  <br />
  <% end %>

  <div id = "for_others">
    <%= render :partial => 'notices/for_others' %>
  </div>

<% end %>
<div id = "for_you">
    <%= render :partial => 'notices/for_you' %>
</div>

<% if current_user.user_config.view_loc_groups.empty? %>
  <p>You have not selected any location groups to view! Fix that in your
    <%= link_to "User settings", edit_user_config_path(current_user.user_config) %>.</p>
<% end %>
<div id = "location_notices">
  <% current_user.user_config.view_loc_groups.each do |loc_group| %>
    <% loc_group.locations.each do |loc| %>
      <% @loc_current_notices = loc.current_notices %>
      <% unless @loc_current_notices.empty? %>
        <fieldset class ="index">
          <legend id ="blue_fieldset"><%= loc.name %></legend>
          <%= render :partial => 'notices/notice', :collection => @loc_current_notices%>
        </fieldset>
        <br/>
      <% end %>
    <% end %>
  <% end %>
</div>

