<% @notices.each do |notice| %>
<% if !notice.is_sticky? %>
<fieldset class="announcement", title= "<%= "Posted on #{notice.start_time.to_date} at #{notice.start_time.to_s(:am_pm)}" %>" >
  <% if current_user.is_admin_of?(@department) %>
      <div class="right">
        <%= link_to '[x]', { :action => 'destroy', :id => notice },
          :confirm => "Are you sure you want to trash this announcement? It will be removed for other users as well.",
          :method => :post %>
      </div>
      <div class="grayright">
        <%= link_to 'Edit', edit_notice_path(notice) %>
      </div>
  <% end %>
  <%= notice.content %>

<br />
<div class="grayleft">
    <%= "by #{(notice.author.name )}" -%>
</div>
  <div class="grayright">
    <%= notice.auth_full_list %>
  </div>
  </fieldset>
  <% end %>
<% end %>

