<fieldset class = "index">
<% form_for(@notice) do |f| %>
  <%= f.error_messages %>
  <% if current_user.is_admin_of?(@department) %>
    <p>
      Post as sticky? (start/end time preferences will be ignored)
      <%= f.check_box :is_sticky %>
    </p>
    <p>
      Specify a start time<br />
      <%= f.datetime_select :start_time %>
    </p>
    <p>
      Specify an end time<br />
      <%= f.datetime_select :end_time %> <br /> or check here to make it indefinite:
      <%= check_box_tag :indefinite -%>
    </p>
  <% end %>

  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
<span id ="advanced_link" style="display:none" >
<%= link_toggle "advanced", "Show/hide advanced options", "fast" %>
</span>
<div id="advanced">
  For users: <br />
  <%= tokenized_users_autocomplete(@notice, "user_sources", "for_users") %>
  <p>
    For locations: <br />
    <% if current_user.is_admin_of?(current_department) %>
      <%= check_box_tag :department_wide_locations, 1, dept_check, :disabled => dept_check %><%= current_department.name %> (all locations)<br />
    <% end %>
    <% for loc_group in @loc_groups do %>
      &nbsp;&nbsp;&nbsp;
      <%= check_box_tag "for_location_groups[]", loc_group.id, loc_group_check(loc_group), :disabled => loc_group_check(loc_group)%><%= loc_group.name %>:
      <% for location in loc_group.locations do %>
        <% if current_user.current_shift %>
          <%= check_box_tag "for_locations[]", location.id, locations_check(location), :disabled => locations_check(location) %>
        <% else %>
          <%= check_box_tag "for_locations[]", location.id, false, :disabled => false %>
        <% end %>
        <%= location.name %> &nbsp;
      <% end %>
      <br />
    <% end %>
  </p>
</div>

</fieldset>

<p>
  <%= f.submit 'Save',:onclick => 'self.parent.tb_remove()' %>
</p>

<% end %>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){$("#advanced").hide();})
    $(document).ready(function(){$("#advanced_link").show();})
</script>

