<fieldset>
<% form_for(@notice) do |f| %>
  <%= f.error_messages %>

  <% if current_user.is_admin_of?(@department) %>
  <p>
    Post as sticky? (start/end time preferences will be ignored)
    <%= f.check_box :is_sticky %>
  </p>
    <p>
    Specify a start time<br />
    <%= f.datetime_select :start_time %>
  </p>
  <p>
    Specify an end time<br />
    <%= f.datetime_select :end_time %> <br /> or check here to make it indefinite:

    <%= check_box_tag :indefinite -%>
    </p>
  <% end %>

  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>

  <p>
    <%= label_tag :for_users %><br />
    <%= text_field_tag :for_users %>
  </p>
  For locations: <br />
  <% if current_user.is_admin_of?(@department) %>
    <%= check_box_tag :department_wide_locations %><%= @department.name %> (all locations)<br />
  <% end %>

  <% for loc_group in @loc_groups do %>
    &nbsp;&nbsp;&nbsp;
    <%= check_box_tag "for_location_groups[]", loc_group.id, false, :disabled => false %><%= loc_group.name %><br />

    <% for location in loc_group.locations do %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= check_box_tag "for_locations[]", location.id, false, :disabled => false %><%= location.name %><br />
    <% end %>
  <% end %>
  </fieldset>
  <p>
    <%= f.submit 'Create/Edit' %>
  </p>
<% end %>

