<% form_for @notice do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_area :content, :size => "80x10" %>
  </p>

  <% if current_user.is_admin_of?(current_department) %>
    <p>
      Post as sticky? (start/end time preferences will be ignored)
      <%= f.check_box :is_sticky %>
    </p>
    <p>
      Specify a start time:
      <%= f.datetime_select :start_time %>
    </p>
    <p>
      Specify an end time:
      <%= f.datetime_select :end_time %> <br /> or check here to make it indefinite:
      <%= check_box_tag :indefinite -%>
    </p>
  <% end %>

  <% unless current_user.is_admin_of?(current_department) %>
    <span id ="advanced_link">
      <%= link_toggle "advanced_options_div", "Show/hide advanced options", "fast" %>
    </span>
  <%end%>

  <div id="advanced_options_div">
    <%= render :partial => 'advanced_options'%>
  </div>

<p>
  <%= f.submit 'Save' %>
</p>
<% end %>

<% unless current_user.is_admin_of?(current_department) %>
  <script type="text/javascript" charset="utf-8">
      $("#advanced_options_div").hide();
      $("#advanced_link").show();
  </script>
<% end %>

