<h1 id="page_title"><%=h "Notices - " %><font size = -2><%= link_to 'Post a new notice', {:action => 'new'} %></font></h1>

<% unless current_user.notices.empty? %>
  <fieldset>
    <legend>For you</legend>
    <%= render :partial => 'notice', :collection => current_user.notices if current_user.notices%>
  </fieldset>
  <br />
<% end %>

<% @department.locations.each do |loc| %>
  <% unless loc.notices.empty? %>
  <fieldset>
    <legend><%= loc.name %></legend>
    <%= render :partial => 'notice', :collection => loc.notices %>
  </fieldset>
  <br/>
  <% end %>
<% end %>

<% if current_user.is_admin_of?(@department) %>
<fieldset>
  <legend>Inactive Notices</legend>
  <%= render :partial => 'notice', :collection => Notice.inactive %>
  </fieldset>
<% end %>

