<% title "Notices" %>

<table>
  <tr>
    <th>Id</th>
    <th>Is sticky</th>
    <th>Content</th>
    <th>Author</th>
    <th>Start time</th>
    <th>End time</th>
    <th>For users</th>
    <th>For locations</th>
    <th>For location groups</th>
    <th>For departments</th>
    <th>Remover</th>
  </tr>

  <%# if @notice.is_sticky %>
  <% @notices.each do |notice| %>
  <tr>
    <td><%=h notice.id %></td>
    <td><%=h notice.is_sticky %></td>
    <td><%=h notice.content %></td>
    <td><%=h notice.author_id %></td>
    <td><%=h notice.start_time %></td>
    <td><%=h notice.end_time %></td>
    <td><%=h notice.for_users %></td>
    <td><%=h notice.for_locations %></td>
    <td><%=h notice.for_location_groups %></td>
    <td><%=h notice.for_departments %></td>
    <td><%=h notice.remover_id %></td>
    <td><%= link_to 'Show', notice %></td>
    <td><%= link_to 'Edit', edit_notice_path(notice) %></td>
    <td><%= link_to 'Destroy', notice, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

  <% @notices.each do |notice| %>
  <fieldset class="<%= notice.class.to_s.downcase%>" id="<%= "%s_%s" % [notice.class.to_s.downcase, notice.id] %>" style="width:48%">
  <div class="grayright">
    <%= link_to '[x]', { :action => 'new', :id => notice },
      :confirm => "Are you sure you want to trash this notice? It will be removed for other users as well.",
      :method => :post if notice.class == Notice %>
  </div>
  <%= notice.content %>
<br />
  <div class="grayleft">
    <%= "by #{(notice.author_id )}" -%><%= ": <a title=\"On #{notice.start_time.to_date} at #{notice.start_time.to_s(:am_pm)}\">#{distance_of_time_in_words(notice.start_time, Time.now, true)} ago</a>"  if notice.class == Notice %>
  </div>
  <%# TO DO: Admins should only be able to see this edit link%>
  <div class="grayright">
    <%= link_to 'Edit', edit_notice_path(notice) %>
    </div>
  </fieldset>
<% end %>

