<li id="shift<%=idden_shift.id%>" style="background:#<%= @color[hidden_shift.calendar] %>;" class="click_to_edit_shift calendar<%=idden_shift.calendar_id%>">
  <%= hidden_shift.user.name %><br/>
  <%= hidden_shift.start.to_s(:am_pm) %> - <%= hidden_shift.end.to_s(:am_pm) %>
  (<%= hidden_shift.location.short_name %>)
</li>