<ul id="location<%=location.id%>_<%=day%>_events" class="events" style="height:<%= @table_pixels / (@table_height)%>px;">
  <li id="location<%=location.id%>_<%=day%>_free_time" style="width:100%;" class="click_to_add_new_shift"></li>
  <% unless location_row.compact.empty? %>
    <%= render partial: "calendars/schedule/shift", collection: location_row -%>
  <% end %>
</ul>
<% @location_row += 1 %>
