<% calculate_default_times %>

<% form_for @restriction do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :starts %><br />
    <%= f.date_select :start_date, :default => @restriction.starts.to_date, :id => :start_date  %>
    <%= f.time_select :start_time, {
                :simple_time_select => true,
                :time_separator => "",
                :minute_interval => current_department.department_config.time_increment,

                :start_time => @range_start_time,
                :end_time => @range_end_time,
                :include_start_time => true,
                :include_end_time => false,
                :default => @restriction.starts,
                                          } %>

  </p>
  <p>
    <%= f.label :expires %><br />
    <%= f.date_select :end_date, :default => @restriction.expires.to_date, :id => :end_date  %>
    <%= f.time_select :end_time, {
                :simple_time_select => true,
                :time_separator => "",
                :minute_interval => current_department.department_config.time_increment,

                :start_time => @range_start_time,
                :end_time => @range_end_time,
                :include_start_time => true,
                :include_end_time => false,
                :default => @restriction.expires,
                                          } %>  </p>
  <p>
    <%= f.label :max_subs %><br />
    <%= f.text_field :max_subs %>
  </p>
  <p>
    <%= f.label :max_hours %><br />
    <%= f.text_field :max_hours %>
  </p>

  <span id ="advanced_link" style="display:none" >
  <%= link_toggle "advanced", "Show/hide advanced options", "fast" %>
  </span>
  <div id="advanced">
    Search for a user, role, or department: <br />
    <%= tokenized_users_autocomplete(@restriction, "user_sources", :id => "for_users",:style => "facebook") %>
    <p>
      For locations: <br />
      <% if current_user.is_admin_of?(@department) %>
        <%= check_box_tag :department_wide_locations %><%= @department.name %> (all locations)<br />
      <% end %>
      <% for loc_group in @department.loc_groups do %>
        &nbsp;&nbsp;&nbsp;
        <%= check_box_tag "for_location_groups[]", loc_group.id, false, :disabled => false %><%= loc_group.name %>:
        <% for location in loc_group.locations do %>
          <% if current_user.current_shift %>
            <%= check_box_tag "for_locations[]", location.id, current_user.current_shift.location == location, :disabled => false %>
          <% else %>
            <%= check_box_tag "for_locations[]", location.id, false, :disabled => false %>
          <% end %>
          <%= location.name %> &nbsp;
        <% end %>
        <br />
      <% end %>
    </p>
  </div>


  <p><%= f.submit "Submit" %></p>
<% end %>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){$("#advanced").hide();})
    $(document).ready(function(){$("#advanced_link").show();})
</script>

