<% title "Restriction" %>

<p>
  <strong>Starts:</strong>
  <%=h @restriction.starts %>
</p>
<p>
  <strong>Expires:</strong>
  <%=h @restriction.expires %>
</p>
<p>
  <strong>Max Subs:</strong>
  <%=h @restriction.max_subs %>
</p>
<p>
  <strong>Max Hours:</strong>
  <%=h @restriction.max_hours %>
</p>

<p>
  <%= link_to "Edit", edit_restriction_path(@restriction) %> |
  <%= link_to "Destroy", @restriction, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", restrictions_path %>
</p>
