<% title "Repeating Events" %>

<table>
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Calendar</th>
    <th>Days Of Week</th>
  </tr>
  <% for repeating_event in @repeating_events %>
    <tr>
      <td><%=h repeating_event.start_date %></td>
      <td><%=h repeating_event.end_date %></td>
      <td><%=h repeating_event.calendar %></td>
      <td><%=h repeating_event.days_of_week %></td>
      <td><%= link_to "Show", repeating_event %></td>
      <td><%= link_to "Edit", edit_repeating_event_path(repeating_event) %></td>
      <td><%= link_to "Destroy", repeating_event, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Repeating Event", new_repeating_event_path %></p>
