<% unless @tasks.empty? %>
  <% task_kinds = @tasks.collect{|t| t.kind}.uniq %>
  <% task_kinds.each do |task_kind| %>
    <div class="task_category"><%= task_kind %></div>
    <% these_tasks = @tasks.select{|t| t.kind == task_kind}.sort_by{|t| t.name} %>
    <% these_tasks.each do |task| %>
      <div class="tasklist">
        <% if task.done %>
          <div class="task_entry task_complete" title="<%=task.description%>">
            <%= "#{task.name}" %>
          </div>

        <% elsif task.missed %>
          <div class="task_entry">
            <%= link_to_remote ("#{task.name} - Needs Doing ASAP!", {:url => { :controller => "tasks", :action => 'make_entry', "task_ids[]" => task.id}}, :class => "task_title") %>
            <span class="task_description"><%=task.description%></span>
            <%if task.link%>
              <a href=<%=task.link%>>[link]</a>
            <%end%>
          </div>

        <% else %>
          <div class="task_entry">
            <%= link_to_remote ((task.needs_doing ? "#{task.name} - Needs Doing!" : "#{task.name}"), {:url => { :controller => "tasks", :action => 'make_entry', "task_ids[]" => task.id}}, :class => "task_title") %>
            <span class="task_description"><%=task.description%></span>
            <%if task.link%>
              <a href=<%=task.link%>>[link]</a>
            <%end%>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <em>There are no tasks at this time.</em>
<% end %>
