<tr <%=  task.active ? "class=#{cycle("odd", "even")}" : "class='disabled'" %>>
  <td title='<%= task.description %>'>
    <%=link_to task.name, task%></td>
  <% unless mobile_device?%>
    <td><%=h task.kind %></td>
    <td><%=h Location.find(task.location_id).short_name %></td>
    <td><%=h task.start.strftime("%B %d %Y") %></td>
    <td><%=h task.end.strftime("%B %d %Y")%></td>
    <td><%=h task.time_of_day.to_s(:am_pm) %></td>
    <td><%=h task.day_in_week %></td>
    <% if task.active %>
      <td><%=h task.active %></td>
      <td><%= link_to 'Show Completed', :action => :completed_tasks, :id => task %></td>
      <td><%= link_to 'Show Missed', :action => :missed_tasks, :id => task %></td>
      <% if current_user.is_admin_of?(current_department) %>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    <% else %>
      <td>Expired or Inactive</td>
    <% end %>
  <% end %>
</tr>

<%# this partial is used for the index menu%>
