<h1>Tasks Index</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Kind</th>
		<th>Location</th>
    <th>Start</th>
    <th>End</th>
    <th>Time of Day</th>
    <th>Day in Week</th>
    <th>Active</th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%=link_to task.name, task%></td>
    <td><%=h task.kind %></td>
    <td><%=h Location.find_by_id(task.location_id).name %></td>
    <td><%=h task.start.to_s(:just_date_long) %></td>
    <td><%=h task.end.to_s(:just_date_long) %></td>
    <td><%=h task.time_of_day.to_s(:am_pm) %></td>
    <td><%=h task.day_in_week %></td>
    <td><%=h task.active %></td>
    <td><%= link_to 'Show Completed', :action => :display_task_items, :id => task %></td>  
	<td><%= link_to 'Show Missed', :action => :display_missed_task_items, :id => task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
