    <p>
      <%= df_form.label :name %><br />
      <%= df_form.text_field :name %>
    </p>
    <p>
      <%= df_form.label :display_type %><br />
      <%= df_form.select :display_type, options_for_select(DataField::DISPLAY_TYPE_OPTIONS, df_form.object.display_type || 'text_field'), {}, class: "display_type",
          onchange: "var selected_type = $(this).find(':selected').val(); data_field_type_description($(this).parent().parent().find('.value_field'), selected_type)" %><br/>
    </p>
<p>
      <div class="value_field" >
        <%= df_form.label :values %><br />
        <%= df_form.text_field :values %><br />
        <span class="text_field data_field_instruction">
          <em><small>Value should be either 'integer', 'decimal', or 'text'</small></em>
        </span>
        <span class='check_box select radio_button data_field_instruction' style="display: none;">
          <em><small>Enter a comma-separated list of values</small></em>
        </span>
        <div><p>
        <%= df_form.label :exact_alert, "Alert" %><br />
        <%= df_form.text_field :exact_alert %><br/>
        <em><small>You will receive a warning when a value matches the alert value.</small></em>
        </p></div>
        <div class='text_field data_field_instruction'>
          <p>
            <%= df_form.label :upper_bound, "Upper and Lower Bounds" %><br/>
            <%= df_form.label :upper_bound %><br />
            <%= df_form.text_field :upper_bound %><br />
            <%= df_form.label :lower_bound %><br />
            <%= df_form.text_field :lower_bound %><br />
            <em><small>You will receive a warning when a value is above or below these bounds</small></em>
          </p>
        </div>
      </div>
    </p>
