<% title "Data Fields for \"#{DataType.find(params[:data_type_id]).name}\" data type" %>

<table class = "tablesorter">
 <thead>
  <tr>
    <th>Name</th>
    <th>Display Type</th>
    <th>Values</th>
  </tr>
 </thead>
  <% for data_field in @data_fields %>
 <tbody>
  <tr>
      <td><%=h data_field.name %></td>
      <td><%=h data_field.display_type %></td>
      <td><%=h data_field.values %></td>
      <td><%= link_to "Show", data_type_data_field_path(params[:data_type_id], data_field) %></td>
      <td><%= link_to "Edit", edit_data_type_data_field_path(params[:data_type_id], data_field) %></td>
      <td><%= link_to "Destroy", data_type_data_field_path(params[:data_type_id], data_field),
                                                        :confirm => "Are you sure?",
                                                        :method => :delete %></td>
    </tr>
 </tbody>
  <% end %>
</table>

<p><%= link_to "New Data Field", new_data_type_data_field_path %> | <%= link_to "Return to Data type", data_type_path(params[:data_type_id]) %></p>
