  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :max_total_hours %><br />
    <%= f.text_field :max_total_hours %>
  </p>
  <p>
    <%= f.label :min_total_hours %><br />
    <%= f.text_field :min_total_hours %>
  </p>
  <p>
    <%= f.label :max_continuous_hours %><br />
    <%= f.text_field :max_continuous_hours %>
  </p>
  <p>
    <%= f.label :min_continuous_hours %><br />
    <%= f.text_field :min_continuous_hours %>
  </p>
  <p>
    <%= f.label :max_number_of_shifts %><br />
    <%= f.text_field :max_number_of_shifts %>
  </p>
  <p>
    <%= f.label :min_number_of_shifts %><br />
    <%= f.text_field :min_number_of_shifts %>
  </p>
  <p>
    <%= f.label :max_hours_per_day %><br />
    <%= f.text_field :max_hours_per_day %>
  </p>
	Enable this template for the following roles:
	<% with = "'roles=' +" %>
	<% with << "'#{@week_template.id}:' +" %>
	<% current_department.roles.each do |role| %>
		<%= check_box_tag "role_check_#{role.id}", role.id %>
		<%= label_tag "role_#{role.id}", text = role.name %>
		<%= ", " unless role == current_department.roles.last %>
		<% with << "'#{role.id}:' + $('#role_check_#{role.id}').is(':checked') + ' '" %>
		<% with << "+" unless role == current_department.roles.last %>	
	<% end %>
	<% current_department.roles.each do |role| %>
		<%= observe_field("role_check_#{role.id}", :url => {:controller => :templates, :action => "update_locations"}, :with 					=> with, :on => "change") %>
	<% end %> 

	<p>
		<div id = "new_time_slots">
			Create new time slots:
			<%= render :partial => "location_and_time_slots" %>
		</div>
	</p>
	<p>
		Let users add their requested shifts to this template:
		<%= check_box_tag :public %>
	</p>
	<div id = "step2">
		<p>
		  <%= f.submit 'Add Time Slots' %>
		<p>
	</div>

