<h1>Editing Template</h1>

<% form_for(@week_template) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @week_template %> |
<%= link_to 'Back', templates_path %>