<h1>Listing Templates</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Max total hours</th>
    <th>Min total hours</th>
    <th>Max continuous hours</th>
    <th>Min continuous hours</th>
    <th>Max number of shifts</th>
    <th>Min number of shifts</th>
    <th>Max hours per day</th>
		<th>Roles</th>
		<th>Locations</th>
  </tr>
<% @week_templates.each do |template| %>
  <tr>
		<% template.requested_shifts.each do |rs| %>
			Start: <%= rs.preferred_start%>
			End: <%= rs.preferred_end %>
		<% end %>
    <td><%=h template.name %></td>
    <td><%=h template.max_total_hours %></td>
    <td><%=h template.min_total_hours %></td>
    <td><%=h template.max_continuous_hours %></td>
    <td><%=h template.min_continuous_hours %></td>
    <td><%=h template.max_number_of_shifts %></td>
    <td><%=h template.min_number_of_shifts %></td>
    <td><%=h template.max_hours_per_day %></td>
		<td><%= template.roles.collect{|role| role.name}.to_sentence %></td>
		<td><%= template.locations.collect{|loc| loc.short_name}.to_sentence %></td>
    <td><%= link_to 'Show', template %></td>
    <td><%= link_to 'Edit', edit_template_path(template) %></td>
    <td><%= link_to 'Destroy', template, :confirm => 'Are you sure?', :method => :delete %></td>
		<td><%= link_to 'Shift Preferences', template_shift_preferences_path(template) %></td>
		<td><%= link_to 'Requested Shifts', template_requested_shifts_path(template) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Template', new_template_path %>

