<%= form_for @payform_item_set do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
	<p>
    <%= f.label :hours %><br />
    <%= radio_button_tag "calculate_hours", "user_input", true %><strong>Input</strong>
    <%= select_integer(:other, :hours, 0, 15, 1, selected_hours(@payform_item_set) )%> hrs
    <%= select_integer(:other, :minutes, 0, 59, 5, selected_min(@payform_item_set) )%> min<br />
    <%= radio_button_tag "calculate_hours", "time_input", false %><strong>Compute</strong>
    <%= time_select "time_input", "start", {:twelve_hour => true}, {:value => 1.hour.ago} %> to 
    <%= time_select "time_input", "end", {:twelve_hour => true} %>
  </p>
  <p>
     <%= f.label :category %><br />
     <%= f.collection_select(:category_id, current_department.categories, :id, :name, {:prompt => "Select a category"}) %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= label_tag "Leave blank to send to everyone" %><br />
    <%= tokenized_users_autocomplete( @payform_item_set, "users") %>
  </p>

  <p><%= f.submit "Submit" %></p>
<% end %>
