<% form_for @payform_item_set do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :hours %><br />
    <%= f.text_field :hours %>
  </p>
  <p>
     <%= f.label :category %><br />
     <%= f.collection_select(:category_id, @department.categories, :id, :name, {:prompt => "Select a category"}) %>
   </p>ˇ
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    Users:<br />
    <% @department.users.each do |user| -%>
      <%= check_box_tag "user_ids[]", user.id, false -%> <%= user.name -%><br />
    <% end %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
