<% form_for @payform_item_set do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :hours %><br />
    <%= f.text_field :hours %>
  </p>
  <p>
     <%= f.label :category %><br />
     <%= f.collection_select(:category_id, @department.categories, :id, :name, {:prompt => "Select a category"}) %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <div class="no_js">
      <% User.active_in_department(@department).each do |user| -%>
        <%= check_box_tag "user_ids[]", user.id, false -%> <%= f.label :users, user.name -%><br />
      <% end %>
    </div>
    <%# TODO: bah not done %>
    <div class="js" style="display: none">
      <%= tokenized_users_autocomplete(@payform_item_set, nil, "users") %>
    </div>
    
    <script type="text/javascript">
      $('div.js').toggle();
      //$('div.no_js').toggle();
    </script>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
