<%= payform_item_set.active ? "tr" : "<tr class = 'disabled'" %>	
  <td><%= payform_item_set.date %></td>
  <td><%= payform_item_set.hours %></td>
  <td><%=h payform_item_set.category.name %></td>
  <td><%=h payform_item_set.description %></td>
  <% if payform_item_set.active %>
    <td><%= link_to "Edit", edit_payform_item_set_path(payform_item_set) %></td>
    <td><%= link_to "Destroy", payform_item_set, :confirm => 'Are you sure?', :method => :delete %></td>
  <% else %>
    <td colspan = 2>Expired or Deleted</td>
  <% end %>

  <td>
    <strong>Users:</strong>
    <% for payform_item in payform_item_set.payform_items %>
      <%= link_to payform_item.user.name, payform_item.payform %> <%= "(deleted from payform)" if !payform_item.active %>, 
    <% end %>
  </td>
</tr>
