<% title "Mass Add Jobs" %>

<table>
  <tr>
    <th>Date Added</th>
    <th>Hours Added</th>
    <th>Category</th>
    <th>Description</th>
  </tr>
  
  <% for payform_item_set in @payform_item_sets %>
    <tr>
      <td><%=h payform_item_set.date %></td>
      <td><%=h payform_item_set.hours %></td>
      <td><%=h payform_item_set.category.name %></td>
      <td><%=h payform_item_set.description %></td>
      <td><%= link_to "Show", payform_item_set %></td>
      <td><%= link_to "Edit", edit_payform_item_set_path(payform_item_set) %></td>
      <td><%= link_to "Destroy", payform_item_set, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Add a Mass Job", new_payform_item_set_path %></p>
