<% title "Group Job" %>

<p>
  <strong>Date Added:</strong>
  <%=h @payform_item_set.date %>
</p>

<p>
  <strong>Hours Added:</strong>
  <%=h @payform_item_set.hours %>
</p>

<p>
  <strong>Category:</strong>
  <%=h @payform_item_set.category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%=h @payform_item_set.description %>
</p>

<p>
  <strong>Users:</strong>
  <ul>
    <% @payform_items.each do |payform_item| %>
      <li><%= link_to payform_item.user.name, payform_item.payform %> <%= "(deleted from payform)" if !payform_item.active %></li>
    <% end %>
  </ul>
</p>

<p>
  <%= link_to "Edit", edit_payform_item_set_path(@payform_item_set) %> |
  <%= link_to "Destroy", @payform_item_set, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", payform_item_sets_path %>
</p>

<p><%= link_to "Add a Group Job", new_payform_item_set_path %></p>
