<h1>Listing excuses</h1>

<table id="excuse_list" class="tablesorter">
  <tr>
    <th>User</th>
    <th>Shift Start</th>
    <th>Excuse</th>
    <th>Excused?</th>
  </tr>

<% @excuses.each do |excuse| %>
  <% shift = excuse.shift %>
  <% user  = excuse.shift.user %>
  <tr>
    <td><%= user.first_name + " " + user.last_name %></td>
    <td><%= shift.start.to_s %></td>
    <td><%= excuse.excuse %></td>
    <td><%= excuse.excused ? "Yes" : "No" %></td>
    <td></td>
    <td><%= link_to 'Excuse', excuse_path(excuse, excused: true), method: :put %></td>
    <td><%= link_to 'Destroy', excuse, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Excuse', new_excuse_path %>
