<h1>Editing Shift Preferences for <%= @week_template.name %></h1>

<% form_for([@week_template, @shift_preference]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Maximum total hours" %>: 
    <%= select_tag 'shift_preference[max_total_hours]', options_for_select(@hours_week, @shift_preference.max_total_hours) %>
  </p>
  <p>
    <%= f.label "Minimum total hours" %>: 
    <%= select_tag 'shift_preference[min_total_hours]', options_for_select(@hours_week, @shift_preference.min_total_hours) %>
  </p>
  <p>
    <%= f.label "Maximum continuous hours" %>: 
    <%= select_tag 'shift_preference[max_continuous_hours]', options_for_select(@hours_shift, @shift_preference.max_continuous_hours) %>
  </p>
  <p>
    <%= f.label "Minimum continuous hours" %>: 
    <%= select_tag 'shift_preference[min_continuous_hours]', options_for_select(@hours_shift, @shift_preference.min_continuous_hours) %>
  </p>
  <p>
    <%= f.label "Maximum hours per day" %>: 
    <%= select_tag 'shift_preference[max_hours_per_day]', options_for_select(@hours_shift, @shift_preference.max_hours_per_day) %>
	</p>
  <p>
    <%= f.label "Maximum number of shifts" %>: 
    <%= select_tag 'shift_preference[max_number_of_shifts]', options_for_select(@shifts_week, @shift_preference.max_number_of_shifts) %>
  </p>
  <p>
    <%= f.label "Minimum number of shifts" %>: 
    <%= select_tag 'shift_preference[min_number_of_shifts]', options_for_select(@shifts_week, @shift_preference.min_number_of_shifts) %>
  </p>
	
	<p>
		Please select your location preferences: <br/>
		<table>
			<tr>
				<th>Location</th>
				<th>Prefer</th>
				<th>Able</th>
				<th>Unable</th>
			</tr>
			<% f.label :location_preference %>
			<% @locations.each do |current_location| %>
				<tr>
					<td><%= current_location.name %></td>
					<td align=center><%= radio_button_tag("kind"+current_location.id.to_s, "yes", location_preference_check(current_location, "yes")) %></td>
					<td align=center><%= radio_button_tag("kind"+current_location.id.to_s, "maybe", location_preference_check(current_location, "maybe")) %></td>
					<td align=center><%= radio_button_tag("kind"+current_location.id.to_s, "no", location_preference_check(current_location, "no")) %></td>
				</tr>
			<% end %>
		</table>
	</p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', template_shift_preference_path(@week_template) %> |
<%= link_to 'Back', template_shift_preferences_path(@week_template) %>