<h1>Editing shift_preference</h1>

<% form_for(@shift_preference) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :max_total_hours %><br />
    <%= f.text_field :max_total_hours %>
  </p>
  <p>
    <%= f.label :min_total_hours %><br />
    <%= f.text_field :min_total_hours %>
  </p>
  <p>
    <%= f.label :max_continuous_hours %><br />
    <%= f.text_field :max_continuous_hours %>
  </p>
  <p>
    <%= f.label :min_continuous_hours %><br />
    <%= f.text_field :min_continuous_hours %>
  </p>
  <p>
    <%= f.label :max_number_of_shifts %><br />
    <%= f.text_field :max_number_of_shifts %>
  </p>
  <p>
    <%= f.label :min_number_of_shifts %><br />
    <%= f.text_field :min_number_of_shifts %>
  </p>
  <p>
    <%= f.label :max_hours_per_day %><br />
    <%= f.text_field :max_hours_per_day %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @shift_preference %> |
<%= link_to 'Back', shift_preferences_path %>