<div class="tooltip">
  <div class="close_link">
    <a onclick="$(this).parent().parent().fadeOut(function (){ $(this).remove() }); return false;" href="#">[x]</a>
  </div>
  <% remote_form_for @time_slot do |f| %>
    <%= f.error_messages %>
    <p>
      <% weekday = Time.parse(params[:date]).wday %>
      <strong>Days:</strong><br />
      <% SHORT_WEEK_DAYS.each_with_index do |day, i| %>
        <%= check_box_tag "days[]", i, weekday == i, {:id => "days_#{i}"} %>
        <%= day %>
      <% end %>
    </p>
    <p>
      <%= f.label :start %><br />
      <%= f.time_select :start, :minute_step => current_department.department_config.time_increment, :twelve_hour => true %>
    </p>
    <p>
      <%= f.label :end %><br />
      <%= f.time_select :end, :minute_step => current_department.department_config.time_increment, :twelve_hour => true %>
    </p>
    <% @department.loc_groups.each do |loc_group| %>
      <% unless loc_group.locations.empty? %>
        <p>
          <strong><%= loc_group.name %></strong><br/>
          <% loc_group.locations.each do |loc| %>
            <%= check_box_tag "location_ids[]", loc.id, params[:location_id] == loc.id.to_s, {:id => "location_#{loc.id}"} %>
            <%= loc.short_name %>
          <% end %>
        </p>
      <% end %>
    <%- end -%>
    </p>
    <%= (hidden_field_tag 'date', params[:date]) if params[:date]%>
    <p><%= submit_to_remote "add_button", "Create New", :url => { :action => 'create' } %></p>
  <% end %>
</div>