<% #TODO This is not DRY - the popup form should share a partial with the html one%>

<div class="close_link">
  <a onclick="$(this).parent().parent().fadeOut(function (){ $(this).remove() }); return false;" href="#">[x]</a>
</div>
<% if current_user.is_admin_of?(@department) %>
  <% if params[:delete_options] and @time_slot.repeating_event %>
    <div id="repeating_event_delete_options">
      <p>This time slot is part of a repeating event.<br>What do you wish to destroy?</p>
      <%= button_to_remote "Just this time slot", {:url => {:controller => 'time_slots', :action => 'destroy', :id => @time_slot.id, :calendar => (params[:calendar] || true)}, :confirm => 'Are you sure?', :method => :delete} %><br />
      <%= button_to_remote "This and all future time slots", {:url => {:controller => 'repeating_events', :action => 'destroy', :id => @time_slot.repeating_event.id, :calendar => (params[:calendar] || true), :delete_after_date => @time_slot.start}, :confirm => 'Are you sure?', :method => :delete} %><br />
      <%= button_to_remote "All events in this series", {:url => {:controller => 'repeating_events', :action => 'destroy', :id => @time_slot.repeating_event.id, :calendar => (params[:calendar] || true), :rerender_date => @time_slot.start}, :confirm => 'Are you sure?', :method => :delete} %>
    </div>
  <% else %>
    <h2>Edit Timeslot</h2>
    <% remote_form_for @time_slot do |f| %>
      <p>
        <%= f.label :start %><br />
        <%= f.time_select :start, {
                :simple_time_select => true,
                :time_separator => "",
                :minute_interval => @department.department_config.time_increment,

                :start_time => @start_time,
                :end_time => @end_time,

                :default => @default_start_time,
                :include_start_time => true,
                :include_end_time => false,
                                          } %>
      </p>
      <p>
        <%= f.label :end %><br />
        <%= f.time_select :end, {
                :simple_time_select => true,
                :time_separator => "",
                :minute_interval => @department.department_config.time_increment,

                :start_time => @start_time,
                :end_time => @end_time,

                :default => @default_end_time,
                :include_start_time => false,
                :include_end_time => true,
                                          } %>
      </p>
      <p>
        <%= f.label :location %><br />
        <%= select_tag 'time_slot[location_id]', option_groups_from_collection_for_select(@department.loc_groups, :locations, :name, :id, :name, @time_slot.location_id)%><br />
      </p>
      <p>
        <%= f.label :calendar %><br />
        <%= f.collection_select(:calendar_id, current_department.calendars, :id, :name) %>
      </p>
      <p><%= submit_to_remote "edit_button", "Save Changes", :url => { :controller => 'time_slots', :action => 'update', :calendar => (params[:calendar] || true) } %></p>
    <% end %>
    <p>
      <% unless @time_slot.repeating_event %>
        <%= link_to_remote "Destroy this time slot", {:url => {:controller => 'time_slots', :action => 'destroy', :id => @time_slot.id, :calendar => (params[:calendar] || true)}, :confirm => 'Are you sure?', :method => :delete} %>
      <% else %>
        <%= link_to_function "Destroy this time slot", "$('#repeating_event_delete_options').toggle()" %>
        <div id="repeating_event_delete_options" style="display:none">
          <p>This shift is part of a repeating event.<br>What do you wish to destroy?</p>
          <%= button_to_remote "Just this time slot", {:url => {:controller => 'time_slots', :action => 'destroy', :id => @time_slot.id, :calendar => (params[:calendar] || true)}, :confirm => 'Are you sure?', :method => :delete} %><br />
          <%= button_to_remote "This and all future time slots", {:url => {:controller => 'repeating_events', :action => 'destroy', :id => @time_slot.repeating_event.id, :calendar => (params[:calendar] || true), :delete_after_date => @time_slot.start}, :confirm => 'Are you sure?', :method => :delete} %><br />
          <%= button_to_remote "All events in this series", {:url => {:controller => 'repeating_events', :action => 'destroy', :id => @time_slot.repeating_event.id, :calendar => (params[:calendar] || true), :rerender_date => @time_slot.start}, :confirm => 'Are you sure?', :method => :delete} %>
        </div>
      <% end %>
    </p>
  <% end %>
<% else %>
  <h2>Timeslot</h2>
  <p>
    <%= f.label :start %>: <%= @time_slot.start.to_s(:short_name) %>
  </p>
  <p>
    <%= f.label :end %>: <%= @time_slot.end.to_s(:short_name) %>
  </p>
  <p>
    <%= f.label :location %>: <%= @time_slot.location.name %>
  </p>
<% end %>

<script type="text/javascript">
  // don't retrigger the action when clicking the tooltip :P
  $(".tooltip").click(function(e){
    e.stopPropagation();
  });
</script>

