<div class="tooltip">
  <%= javascript_include_tag 'jeditable' %>
  <div class="close_link">
    <a onclick="$(this).parent().parent().fadeOut(function (){ $(this).remove() }); return false;" href="#">[x]</a>
  </div>
  <p>
    <strong>Location:</strong>
    <span id="time_slot_location" class="jeditable"><%=h @time_slot.location.name %></span>
  </p>
  <p>
    <strong>Start:</strong>
    <span id="time_slot_start" class="jeditable"><%=h @time_slot.start.to_s(:short_name) %></span>
  </p>
  <p>
    <strong>End:</strong>
    <span id="time_slot_end" class="jeditable"><%=h @time_slot.end.to_s(:short_name) %></span>
  </p>

  <p>
    <%#= link_to "Edit", edit_time_slot_path(@time_slot) %>
    <%= link_to_remote "Destroy", :url => @time_slot, :confirm => 'Are you sure?', :method => :delete, :success => "$('.tooltip').hide();" %>
  </p>
  
  <script type="text/javascript">
    $('#time_slot_location').editable(
      <%= time_slot_path(@time_slot).to_json %>,
      {
        name: 'time_slot[location_id]',
        type: 'select',
        data: {<%= Location.all.collect{|loc| "'#{loc.id}':'#{loc.name}'" }.flatten * ", " %>},
        method: 'PUT',
        submitdata: {
          authenticity_token: <%= form_authenticity_token.to_json %>,
          wants: 'location'
        },
        cancel: 'Cancel',
        submit: 'OK',
        indicator: '<img src="../images/loading.gif">',
        tooltip: 'Click to edit...',
        callback: function() {
          rerender_timeslot();
        }
      }
    );
    
    $('#time_slot_start').editable( <%= time_slot_path(@time_slot).to_json %>, {
      name: 'time_slot[start]',
      method: 'PUT',
      submitdata: {
        authenticity_token: <%= form_authenticity_token.to_json %>,
        wants: 'start'
      },
      cancel: 'Cancel',
      submit: 'OK',
      indicator: '<img src="../images/loading.gif">',
      tooltip: 'Click to edit...',
      callback: function() {
        rerender_timeslot();
      }
    });
    
    $('#time_slot_end').editable( <%= time_slot_path(@time_slot).to_json %>, {
      name: 'time_slot[end]',
      method: 'PUT',
      submitdata: {
        authenticity_token: <%= form_authenticity_token.to_json %>,
        wants: 'end'
      },
      cancel: 'Cancel',
      submit: 'OK',
      indicator: '<img src="../images/loading.gif">',
      tooltip: 'Click to edit...',
      callback: function() {
        rerender_timeslot();
      }
    });
    
    function rerender_timeslot(){
      $("#timeslot<%= @time_slot.id %>").remove();  // = time slot before edit
      // add new time slot to view
      $.ajax({dataType:'script', type:'get', url:'<%= rerender_time_slot_path(@time_slot) %>'});
    }
  </script>
</div>