<% form_for @sub_request do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :bribe_start %><br />
    <%= f.datetime_select :bribe_start %>
  </p>
  <p>
    <%= f.label :bribe_end %><br />
    <%= f.datetime_select :bribe_end %>
  </p>
  <p>
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.datetime_select :end %>
  </p>
  <p>
    <%= f.label :reason %><br />
    <%= f.text_area :reason %>
  </p>
  <p>
    <%= f.label :target_ids %><br />
    <%= f.text_field :target_ids %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>

