<% title "Sub Requests" %>

<table>
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Madatory Start</th>
    <th>Mandatory End</th>
    <th>Potential takers</th>
    <th>Reason</th>
  </tr>

<% @sub_requests.each do |sub_request| %>
  <tr>
    <td><%=h sub_request.start %></td>
    <td><%=h sub_request.end %></td>
    <td><%=h sub_request.mandatory_start %></td>
    <td><%=h sub_request.mandatory_end %></td>
    <td><%=h sub_request.potential_takers %></td>
    <td><%=h sub_request.reason %></td>
    <td><%= link_to 'Show', sub_request %></td>
    <td><%= link_to 'Edit', edit_sub_request_path(sub_request) %></td>
    <td><%= link_to 'Destroy', sub_request, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

