<% title "Sub Request" %>
<h3> What must be taken: </h3>
<p>
  <b>Start:</b>
  <%=h @sub_request.mandatory_start %>
</p>

<p>
  <b>End:</b>
  <%=h @sub_request.mandatory_end %>
</p>
<h3> What can be taken (bribe): </h3>
<p>
  <b>Start:</b>
  <%=h @sub_request.start %>
</p>

<p>
  <b>End:</b>
  <%=h @sub_request.end %>
</p>

<p>
  <b>Substitute sources:</b>
  <% if !@sub_request.substitutes.empty? %>
    <ul>
    <% @sub_request.substitutes.each do |substitute| %>
      <li><%=h substitute.name %></li>
    <% end %>
    </ul>
  <% else %>
    none
  <% end %>
</p>

<p>
  <b>Reason:</b>
  <%=h @sub_request.reason %>
</p>

<%= link_to 'Take', get_take_info_sub_request_path(@sub_request) %> |
<% if current_user.is_admin_of?(@department) or current_user == @sub_request.user %>
  <%= link_to 'Cancel', @sub_request, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<%= link_to 'Edit', edit_sub_request_path(@sub_request) %> |
<%= link_to 'Back', sub_requests_path %>

