<% title "Sub Request" %>
<p>
  <b>Start:</b>
  <%=h @sub_request.start %>
</p>

<p>
  <b>End:</b>
  <%=h @sub_request.end %>
</p>

<p>
  <b>Potential takers:</b>
  <%=h @sub_request.potential_takers %>
</p>

<p>
  <b>Reason:</b>
  <%=h @sub_request.reason %>
</p>

<%= link_to 'Take', take_sub_request_path(@sub_request) %>
<%= link_to 'Edit', edit_sub_request_path(@sub_request) %> |
<%= link_to 'Back', sub_requests_path %>

