<% title "Sub Request" %>

<% if (@sub_request.mandatory_start != @sub_request.start) || (@sub_request.mandatory_end != @sub_request.end) %>
  <h3> Required portion of the shift: </h3>
  <p>
    <b>Start:</b>
    <%=h @sub_request.mandatory_start.to_s(:short_name) %>
  </p>

  <p>
    <b>End:</b>
    <%=h @sub_request.mandatory_end.to_s(:short_name) %>
  </p>
  <h3> Whole Sub Request (bribe): </h3>
  <p>
    <b>Start:</b>
    <%=h @sub_request.start.to_s(:short_name) %>
  </p>

  <p>
    <b>End:</b>
    <%=h @sub_request.end.to_s(:short_name) %>
  </p>
<% else %>
  <p>
    <b>Start:</b>
    <%=h @sub_request.mandatory_start.to_s(:short_name) %>
  </p>

  <p>
    <b>End:</b>
    <%=h @sub_request.mandatory_end.to_s(:short_name) %>
  </p>
<% end %>

<p>
  <b>Who can take this sub request: </b>
	<%= render :partial => 'list_user_sources' %>
</p>

<p>
  <b>Reason:</b>
  <%=h @sub_request.reason %>
</p>

<% if @sub_request.user_is_eligible?(current_user) && @sub_request.user != current_user %>
  <%= link_to 'Take', get_take_info_sub_request_path(@sub_request) %> |
<% end %>
<% if current_user.is_admin_of?(@department) or current_user == @sub_request.user %>
  <%= link_to 'Cancel Request', @sub_request, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to 'Edit', edit_sub_request_path(@sub_request) %> |
<% end %>
<% if current_user.is_admin_of?(@department) %>
  <%= link_to 'See all subs', sub_requests_path %>
<% end %>

