<% form_for @time_slot do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :start %><br />
    <%= select_time Time.now, :minute_step => current_department.department_config.time_increment, :ignore_date => true %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= select_time Time.now+1.hour, :minute_step => current_department.department_config.time_increment, :ignore_date => true %>
  </p>
  <% @department.loc_groups.each do |loc_group| %>
    <% unless loc_group.locations.empty? %>
      <p>
        <strong><%= loc_group.name %></strong><br/>
        <% loc_group.locations.each do |loc| %>
          <%= check_box_tag "location_ids[]", loc.id, false, {:id => "location_#{loc.id}"} %>
          <%= loc.short_name %>
        <% end %>
      </p>
    <% end %>
  <%- end -%>
  </p>
  <p>
    <strong>Days:</strong><br />
    <% WEEK_DAYS.each_with_index do |day, i| %>
      <%= check_box_tag "days[]", i, false, {:id => "days_#{i}"} %>
      <%= day %>
    <% end %>
  </p>
  <p><%= f.submit "Add" %></p>
<% end %>
