<%
  if params[:xPercentage]
    @dept_start_hour = current_department.department_config.schedule_start / 60
    @dept_end_hour = current_department.department_config.schedule_end / 60
    @hours_per_day = (@dept_end_hour - @dept_start_hour)
    start_time = Date.today.to_time + @dept_start_hour.hours + (@hours_per_day * params[:xPercentage].to_f) * 3600
  else
    start_time = Time.now
  end
%>
<p style="margin-top: -10px">
  <%= check_box_tag "whole_calendar", "1", false, :onclick => "$('#date_selects').toggle()" %> Apply to entire calendar (does not work on default calendar)
</p>

<div style="float:left">
  <div id="date_selects">
    <p>
      <%= f.label :start_date %><br />
      <%= f.date_select :start_date, :default => start_time %>
    </p>
    <p>
      <%= f.label :end_date %><br />
      <%= f.date_select :end_date, :default => start_time %>
    </p>
  </div>
  <p>
    <%= f.label :start_time %><br />
    <%= f.time_select :start_time, :minute_step => current_department.department_config.time_increment, :twelve_hour => true, :default => start_time %>
  </p>
  <p>
    <%= f.label :end_time %><br />
    <%= f.time_select :end_time, :minute_step => current_department.department_config.time_increment, :twelve_hour => true, :default => start_time + 1.hour %>
  </p>
  <p>
    <% @department.loc_groups.each do |loc_group| %>
      <% unless loc_group.locations.empty? %>
        <p>
          <strong><%= loc_group.name %></strong><br/>
          <% loc_group.locations.each_with_index do |loc, i| %>
            <%= check_box_tag "location_ids[]", loc.id, @repeating_event.location_ids && @repeating_event.location_ids.include?(loc.id), {:id => "location_#{loc.id}"} %>
            <%= loc.short_name %><%= "<br>" if i % 5 == 4 %>
          <% end %>
        </p>
      <% end %>
    <%- end -%>
  </p>
</div>
<div style="float:left; margin-left: 7px; padding-left: 7px; border-left: 1px solid black">
  <p>
    <%= f.label :calendar %><br />
    <%= select_tag 'repeating_event[calendar_id]', options_from_collection_for_select(current_department.calendars, :id, :name, params[:calendar].to_i)%>
  </p>
  <p>
    <% params[:date] ? default_day = Time.parse(params[:date]).wday : false %>
    <strong>Days:</strong><br />
    <% WEEK_DAYS.each_with_index do |day, i| %>
      <%= check_box_tag "days[]", i, ((i == default_day) or (@repeating_event.days && @repeating_event.days.include?(day))), {:id => "days_#{i}"} %>
      <%= day %><br>
    <% end %>
  </p>
  <p>
    <%= f.label "wipe_conflicts?" %><br />
    <%= check_box_tag "wipe", "1", true %>
  </p>
  <%= f.hidden_field :slot_or_shift, :value => "time_slot"%>
</div>

