<% calculate_default_times_time_slots %>

    <% if params[:calendar] %>
      <%= (f.hidden_field :calendar_id, :value => params[:calendar].to_i) unless params[:calendar].to_i == 0 %>
    <% else %>
      <p>
        <%= f.label :calendar %><br />
        <%= select_tag 'time_slot[calendar_id]', options_from_collection_for_select(current_department.calendars, :id, :name, params[:calendar].to_i)%>
      </p>
    <% end %>

      <p>
        <%= f.label :date %><br />
        <%= f.date_select :start_date, :default => @default_start_date %>
      </p>
      <p>
        <%= f.label :start %><br />
        <%= f.time_select :start_time, {
                :simple_time_select => true,
                :time_separator => "",
                :minute_interval => @department.department_config.time_increment,

                :start_time => @range_start_time,
                :end_time => @range_end_time,

                :default => @time_slot.start,
                :include_start_time => true,
                :include_end_time => false,
                                          } %>
      </p>
      <p>
        <%= f.label :end %><br />
        <%#= f.hidden_field :end_date, :value => @default_end_date %>
        <%= f.time_select :end_time, {
                :simple_time_select => true,
                :time_separator => "",
                :minute_interval => @department.department_config.time_increment,

                :start_time => @range_start_time,
                :end_time => @range_end_time,

                :default => @time_slot.end,
                :include_start_time => false,
                :include_end_time => true,
                                          } %>
      </p>
      <p>
        <%= f.label :location %><br />
        <%= select_tag 'time_slot[location_id]', option_groups_from_collection_for_select(@department.loc_groups, :locations, :name, :id, :name, @time_slot.location_id)%><br />
      </p>

  </p>

<script type="text/javascript">
var opts = {
                formElements:{"time_slot_start_date_3i":"j",
                              "time_slot_start_date_1i":"Y",
                              "time_slot_start_date_2i":"n"
                },
                statusFormat:"l-cc-sp-d-sp-F-sp-Y",
                noFadeEffect:true,
                       };
datePickerController.createDatePicker(opts);
</script>
