<% unobtrusive_datepicker_includes %>

<% form_for @time_slot do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :location %><br />
    <%= select_tag 'time_slot[location_id]', option_groups_from_collection_for_select(@department.loc_groups, :locations, :name, :id, :name, @time_slot.location ? @time_slot.location.id : nil)%><br />
  </p>
  <p>
    <%= f.label :start %><br />
    <%= f.unobtrusive_datetime_picker :start, :minute_step => @department.department_config.time_increment %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.unobtrusive_datetime_picker :end, :minute_step => @department.department_config.time_increment %>  
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>

