<% form_for @time_slot do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :location %><br />
    <%= select_tag 'time_slot[location_id]', option_groups_from_collection_for_select(@department.loc_groups, :locations, :name, :id, :name, @time_slot.location ? @time_slot.location.id : nil)%><br />
  </p>
  <p>
    <%= f.label :start %><br />
    <%= time_select :start_in_minutes, {:minute_step => 15} %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= time_select :end, {:minute_step => 15} %>
  </p>
  <% @department.loc_groups.each do |loc_group| %>
    <% unless loc_group.locations.empty? %>
      <p>
        <strong><%= loc_group.name %></strong><br/>
        <% loc_group.locations.each do |loc| %>
          <%= check_box_tag "location_ids[]", loc.id, false, {:id => "location_#{loc.id}"} %>
          <%= loc.short_name %>
        <% end %>
      </p>
    <% end %>
  <%- end -%>
  </p>
  <p>
    <strong>Days:</strong><br />
    <% WEEK_DAYS.each_with_index do |day, i| %>
      <%= check_box_tag "days[]", i, false, {:id => "days_#{i}"} %>
      <%= day %>
    <% end %>
  </p>
  <p><%= f.submit "Add" %></p>
<% end %>
