<% unobtrusive_datepicker_includes %>

<% form_for @time_slot do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :calendar %><br />
    <%= f.collection_select(:calendar_id, @department.calendars, :id, :name) %>
  </p>
  <p>
      <strong>Days:</strong><br />
    <% WEEK_DAYS.each_with_index do |day, i| %>
      <%= check_box_tag "days[]", i, false, {:id => "days_#{i}"} %>
      <%= day %>
    <% end %>
  </p>
  <p>
    <%= f.label :start %><br />
    <%= f.time_select :start, :twelve_hour => true, :minute_step => @department.department_config.time_increment %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.time_select :end, :twelve_hour => true, :minute_step => @department.department_config.time_increment %>  </p>
  <% @department.loc_groups.each do |loc_group| %>
    <% unless loc_group.locations.empty? %>
      <p>
        <strong><%= loc_group.name %></strong><br/>
        <% loc_group.locations.each do |loc| %>
          <%= check_box_tag "location_ids[]", loc.id, false, {:id => "location_#{loc.id}"} %>
          <%= loc.short_name %>
        <% end %>
      </p>
    <% end %>
  <%- end -%>
  </p>
  <p><%= f.submit "Add" %></p>
<% end %>

