<% unobtrusive_datepicker_includes %>

<% form_for @time_slot do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :calendar %><br />
    <%= f.collection_select(:calendar_id, @department.calendars, :id, :name) %>
  </p>
  <p>
      <strong>Days:</strong><br />
    <% WEEK_DAYS.each_with_index do |day, i| %>
      <%= check_box_tag "days[]", i, false, {:id => "days_#{i}"} %>
      <%= day %>
    <% end %>
  </p>
      <p>
        <%= f.label :start %><br />
        <%= f.hidden_field :start_date, :value => @period_start%>
        <%= f.time_select :start_time, {
                :simple_time_select => true,
                :time_separator => "",
                :minute_interval => @department.department_config.time_increment,

                :start_time => @start_time,
                :end_time => @end_time,

                :default => @default_start_time,
                :include_start_time => true,
                :include_end_time => false,
                                          } %>
      </p>
      <p>
        <%= f.label :end %><br />
        <%= f.hidden_field :end_date, :value => @period_start%>
        <%= f.time_select :end_time, {
                :simple_time_select => true,
                :time_separator => "",
                :minute_interval => @department.department_config.time_increment,

                :start_time => @start_time,
                :end_time => @end_time,

                :default => @default_end_time,
                :include_start_time => false,
                :include_end_time => true,
                                          } %>
      </p>
  <% @department.loc_groups.each do |loc_group| %>
    <% unless loc_group.locations.empty? %>
      <p>
        <strong><%= loc_group.name %></strong><br/>
        <% loc_group.locations.each do |loc| %>
          <%= check_box_tag "location_ids[]", loc.id, false, {:id => "location_#{loc.id}"} %>
          <%= loc.short_name %>
        <% end %>
      </p>
    <% end %>
  <%- end -%>
  </p>
  <p><%= f.submit "Add" %></p>
<% end %>

