<div id="location<%= location.id %>">
  <h1 class="trigger"><%= location.name %></h1>
  <div class="timeline" style="height:150px; width: 100%;">
    <div class="days">
      <div class="day" style="height: 22%;"></div>
      <%= render :partial => "time_slots/left_day", :collection => @period_start...(@period_start+1.day).end_of_week %>
    </div>
    <div class="timeline-data">
      <ul class="intervals" style="height: 22%;">
        <%= render :partial => "time_slots/hour", :collection =>  @dept_start_hour...@dept_end_hour %>
      </ul>
      <%= render :partial => "time_slots/time_slot_day", :collection => @period_start...(@period_start+1.day).end_of_week, :locals => {:location => location}  %>
    </div>
  </div>
</div>
