<%
  #TODO: major cleanup, similar to the ongoing shifts cleanup
  @dept_start_hour = 9
  @dept_end_hour = 17
  
  @dept_start_minute = @dept_start_hour * 60
  @dept_end_minute = @dept_end_hour * 60
  
  @blocks_per_hour = 60/15
  @block_length = 15
  @blocks_per_day = (@dept_end_hour - @dept_start_hour) * @blocks_per_hour
%>



<h2 style="clear: both;"><%= link_toggle location.short_name, location.name %></h2>
<div class="edit_times_location" id="<%= location.short_name %>">
  <% slots = location.time_slots.sort_by(&:start) %><%#.select(@week_days.first, @week_days.last) %>
  <% @location = location %>
  <%# @start_minute =  @dept_start_hour * 60%>
  <%# @end_minute =  @dept_end_hour * 60 %>
  <%# slots_many_days = split_to_days(slots) %>  
    
  <div class="per_slot_table">
    <table class="time_slots">
      <thead>
      <tr>
        <td>start</td>
        <td>end</td>
        <td>del?</td>
      </tr>
      </thead>
      <%= render :partial => 'time_slot', :collection => slots %>
    </table>
  </div>
    
  <div class="per_slot_view">
  <% render :layout => 'time_slots/template_schedule/location_layout', :locals => {:table_name => "time_slot_view"} do %>
    <% day = 0; slot_index = 0 %>
    <% begin %>
      <tr>
        <%# TODO: HOLY MOTHER OF GOD THIS FUNCTION  -rjl (agreed -njg) %>
        <th class="location_label"><%= WEEK_DAYS[day][0..2] %></th>
        <% day_start = (day * 1440) + @dept_start_minute %>
        <% day_end = (day * 1440) + @dept_end_minute %>
        <% current_time = day_start %>
        <% while current_time < day_end %>
          <% type = ""; cols = 0 %>
          <% if slots[slot_index] and (slots[slot_index].start.wday <= day and slots[slot_index].end.wday >= day)%>
          <% slot_start = slots[slot_index].start.wday * 1440 + slots[slot_index].start.hour * 60 + slots[slot_index].start.min %>
          <% if slot_start > current_time %>
            <% type = "free_time"; cols = ((slot_start - current_time)/@block_length).round; current_time = slot_start %>
          <% else %>
            <% slot_end = slots[slot_index].end.wday * 1440 + slots[slot_index].end.hour * 60 + slots[slot_index].end.min%>
            <% if slot_end > day_end %>
              <% type = "shift_time"; cols = ((day_end - slot_start)/@block_length).round; current_time = day_end %>
            <% else %>
              <% if slot_start < day_start %>
                <% type = "shift_time"; cols = ((slot_end - day_start)/@block_length).round; current_time = slot_end %>
              <% else %>
                <% type = "shift_time"; cols = ((slot_end - slot_start)/@block_length).round; current_time = slot_end %>
              <% end %>
              <% current_time = slot_end %>
              <% slot_index += 1 %>
            <% end %>
          <% end %>
          <% else %>
            <% type = "free_time"; cols = ((day_end - current_time)/@block_length).round; current_time = day_end %>
          <% end %>
          
          <td class="<%= type %>" colspan=<%= cols %>></td>
        <% end %>
      </tr>  
    <% end while day += 1 and day < 7 %>
    <%#= render :partial => 'slots_one_day', :collection => slots_many_days %>
  <% end %>
  </div>

</div>


<%= stylesheet_link_tag 'timeline' %>
<% date = Date.today %>
<h1>Experimental View (in progress)</h1>
  <% dc = 1%>
<div style="width: 100%;" class="timeline">
<div class="day" style="top:<%= 18*dc %>px"></div><% dc+=1 %>
<% for day in (date.beginning_of_week-1.day)...date.end_of_week do %>
  <div class="day" style="top:<%= 18*dc %>px"><%= day.strftime("%a:") %></div><% dc+=1 %>
  <% end %>
  <div class="timeline-data" style="width: 90%;">

    <ul class="intervals">
      <% incr = 0 %>
      <% for hour in 8...16 do %>
        <li style="width: <%= 100/8.0 %>%; left: <%=incr*100/8.0%>%;" >
          <div class="inside-li">
            <div class="hours" ><%=hour%>:00</div>
            <% incr2 = 0 %>
            <%for part in 0...3 do %>
              <div class="minutes" style="width: 25%; left:<%=incr2*25 %>%;"></div>
              <% incr2 += 1 %>
            <% end %>
          </div>
        </li>
        <% incr += 1 %>
      <% end %>
    </ul>
    

  <% for day in (date.beginning_of_week-1.day)...date.end_of_week do %>
    <ul class="events">
      <% for timeslot in TimeSlot.all(:conditions => ['start > ? and start < ? and location_id = ?', day.beginning_of_day, day.end_of_day, location.id]) do %>
      <% left = timeslot.start %>
      <li style="width: <%=timeslot.duration / 8.0 * 100 %>%; left: 50%;">
        <div><%=timeslot.start.strftime("%l:%M") %> - <%=timeslot.end.strftime("%l:%M") %></div>
      </li>
      <% end %>
    </ul>
  <% end %>
  </div>
</div> <!-- end .timeline -->

