<div id="location<%= location.id %>">
  <h1 class="trigger"><%= location.name %></h1>
  <div class="timeline" style="height:150px; width: 100%;">

<%# left column of the table; labels %>
    <div class="days">
      <div class="day" style="height: 22%;"></div>
      <%= render partial: "time_slots/left_day", collection: (@period_start...(@period_start+7.day)).to_a %>
    </div>

<%# 'hour' is the header, 'time_slot_day' holds the actual time_slots %>
    <div class="timeline-data timeslots">
      <ul class="intervals" style="height: 22%;">
        <%= render partial: "time_slots/hour_header", collection:  (@dept_start_hour...@dept_end_hour).to_a %>
      </ul>
      <%= render partial: "time_slots/time_slot_day", collection: (@period_start...(@period_start+7.day)).to_a, locals: {location: location}  %>
    </div>
  </div>

  <% unless @hidden_timeslots.empty? %>
    <h3>Hidden From <%= location.short_name %> View:</h3>
    <ul>
      <%= render partial: "time_slots/hidden_timeslot", collection: @hidden_timeslots %>
      <div style="clear:both"></div>
    </ul>
  <% end %>
</div>
