<div id="location<%= location.id %>">
  <h1 class="trigger"><%= location.name %></h1>
  <div class="timeline" style="height:150px; width: 100%;">
    <div class="days">
      <div class="day" style="height: 22%;"></div>
      <%= render :partial => "time_slots/left_day", :collection => @period_start...(@period_start+1.day).end_of_week %>
    </div>
    
    <% unless @hidden_timeslots.empty? %>
      <h3>Hidden From <%= location.short_name %> View:</h3>
      <ul>
        <%= render :partial => "time_slots/hidden_timeslot", :collection => @hidden_timeslots %>
        <div style="clear:both"></div>
      </ul>
    <% end %>
  </div>
</div>
