<%
  #TODO: major cleanup, similar to the ongoing shifts cleanup
  @dept_start_hour = 9
  @dept_end_hour = 17
  
  @dept_start_minute = @dept_start_hour * 60
  @dept_end_minute = @dept_end_hour * 60
  
  @blocks_per_hour = 60/15
  @block_length = 15
  @blocks_per_day = (@dept_end_hour - @dept_start_hour) * @blocks_per_hour
%>



<h2 style="clear: both;"><%= link_toggle location.short_name, location.name %></h2>
<div class="edit_times_location" id="<%= location.short_name %>">
  <% slots = location.time_slots.sort_by(&:start) %><%#.select(@week_days.first, @week_days.last) %>
  <% @location = location %>
  <%# @start_minute =  @dept_start_hour * 60%>
  <%# @end_minute =  @dept_end_hour * 60 %>
  <%# slots_many_days = split_to_days(slots) %>  
    
  <div class="per_slot_table">
    <table class="time_slots">
      <thead>
      <tr>
        <td>start</td>
        <td>end</td>
        <td>del?</td>
      </tr>
      </thead>
      <%= render :partial => 'time_slot', :collection => slots %>
    </table>
  </div>
    
  <div class="per_slot_view">
  <% render :layout => 'time_slots/template_schedule/location_layout', :locals => {:table_name => "time_slot_view"} do %>
    <% day = 0; slot_index = 0 %>
    <% begin %>
      <tr>
        <%# TODO: HOLY MOTHER OF GOD THIS FUNCTION  -rjl (agreed -njg) %>
        <th class="location_label"><%= WEEK_DAYS[day][0..2] %></th>
        <% day_start = (day * 1440) + @dept_start_minute %>
        <% day_end = (day * 1440) + @dept_end_minute %>
        <% current_time = day_start %>
        <% while current_time < day_end %>
          <% type = ""; cols = 0 %>
          <% if slots[slot_index] and (slots[slot_index].start.wday <= day and slots[slot_index].end.wday >= day)%>
          <% slot_start = slots[slot_index].start.wday * 1440 + slots[slot_index].start.hour * 60 + slots[slot_index].start.min %>
          <% if slot_start > current_time %>
            <% type = "free_time"; cols = ((slot_start - current_time)/@block_length).round; current_time = slot_start %>
          <% else %>
            <% slot_end = slots[slot_index].end.wday * 1440 + slots[slot_index].end.hour * 60 + slots[slot_index].end.min%>
            <% if slot_end > day_end %>
              <% type = "shift_time"; cols = ((day_end - slot_start)/@block_length).round; current_time = day_end %>
            <% else %>
              <% if slot_start < day_start %>
                <% type = "shift_time"; cols = ((slot_end - day_start)/@block_length).round; current_time = slot_end %>
              <% else %>
                <% type = "shift_time"; cols = ((slot_end - slot_start)/@block_length).round; current_time = slot_end %>
              <% end %>
              <% current_time = slot_end %>
              <% slot_index += 1 %>
            <% end %>
          <% end %>
          <% else %>
            <% type = "free_time"; cols = ((day_end - current_time)/@block_length).round; current_time = day_end %>
          <% end %>
          
          <td class="<%= type %>" colspan=<%= cols %>></td>
        <% end %>
      </tr>  
    <% end while day += 1 and day < 7 %>
    <%#= render :partial => 'slots_one_day', :collection => slots_many_days %>
  <% end %>
  </div>

</div>


    <%= stylesheet_link_tag 'timeline' %>
    
    <h1>Experimental View (in progress)</h1>

<div class="timeline">
    <ul style="width: 450px;" class="intervals">
        <li class="first" style="width: 55px; left: 50%;" >9:00</li>
        <li style="width: 55px; left: 50%; ">10:00</li>
        <li style="width: 55px; left: 50%;">11:00</li>
        <li style="width: 55px; left: 50%;">12:00</li>
        <li style="width: 55px; left: 50%;">1:00</li>
        <li style="width: 55px; left: 50%; ">2:00</li>
        <li style="width: 55px; left: 50%;">3:00</li>
        <li class="last" style="width: 54px; left: 50%;">4:00</li>
    </ul> <!-- end .intervals -->        
    <ul style="width: 450px;" class="events">
        <li style="width: 25%; left: 50%;">1:00-3:00</li>
        <li style="width: 25%; left: 75%;">3:00-5:00</li>
        <li style="width: 25%; left: 25%;">11:00-1:00</li>
        <li style="width: 25%; left: 0;">9:00-11:00</li>
    </ul> <!-- end .events -->
      <ul style="width: 450px;" class="events">
        <li style="width: 50%; left: 50%;">1:00-5:00</li>
        <li style="width: 25%; left: 25%;">11:00-1:00</li>
        <li style="width: 25%; left: 0;">9:00-11:00</li>
    </ul> <!-- end .events -->
</div> <!-- end .timeline -->

