<% content_for :head do %>
  <%= stylesheet_link_tag 'timeline' %>
<% end %>

<%
  #TODO: major cleanup, similar to the ongoing shifts cleanup
  @dept_start_hour = 9.0
  @dept_end_hour = 17.0
  @hours_per_day = (@dept_end_hour - @dept_start_hour)
  
  @dept_start_minute = @dept_start_hour * 60
  @dept_end_minute = @dept_end_hour * 60
  
  @block_length = 15.0
  @blocks_per_hour = 60.0/@block_length
  
  @blocks_per_day = @hours_per_day * @blocks_per_hour
%>

<h2><%= link_toggle location.short_name, location.name %></h2>

<div class="timeline" style="height:170px;">
  <div class="days">
    <div class="day" style="top:11%; height: 22%;"></div>
    <%= render :partial => "left_day", :collection => (@period_start.beginning_of_week-1.day)...@period_start.end_of_week %>
  </div>
  <div class="timeline-data">
    <ul class="intervals" style="height: 22%;">
      <%= render :partial => "hour", :collection =>  @dept_start_hour.to_i...@dept_end_hour.to_i %>
    </ul>
    <%= render :partial => "time_slot_day", :collection => (@period_start.beginning_of_week-1.day)...@period_start.end_of_week, :locals => {:location => location}  %>
  </div>
</div>
