<%= error_messages_for 'time_slot' %>
<%# time_options = time_select_for(time_slot.date + @dept_start_hour.hours, time_slot.date + @dept_end_hour.hours) %>
<% html_options = {:disabled => time_slot.start < Date.today}%>
<tr class="<%= time_slot %>"> <%# <tr class="<%= label_slot time_slot >"> %>
  <% fields_for "time_slots[#{time_slot.id}]", time_slot do |f|%>
  <%= f.error_messages %>
  <td><%= time_slot.start.to_s(:short_name) %><%#= f.time_select :start, {:minute_step => 15} %></td>
  <td><%= time_slot.end.to_s(:short_name) %><%#= f.time_select :end, {:minute_step => 15} %></td>
  <td><%= check_box_tag 'delete_ids[]', time_slot.id, false, html_options %></td>
  <% end %>
</tr>