<% title "Time Slots" %>

<p><%= link_to "New Time Slot", new_time_slot_path %></p>

<h1>Nothing Below Here Works. Use the link above</h1>

<div class="note">
  <strong>Notes</strong>
  <ol>
    <li>Time slots in the past cannot be changed or deleted.</li>
    <li>Click on any location name to toggle the schedule display for that location</li>
  </ol>
</div>

<div>
<%= render :partial => 'shifts/schedule/header' %>

  <% form_tag do %>
    <%= render :partial => 'location', :collection => @department.locations %>
    <%= submit_tag 'Update' %>
  <% end %>
</div>


<table>
  <tr>
    <th>Location</th>
    <th>Start</th>
    <th>End</th>
  </tr>
  <% for time_slot in @time_slots %>
    <tr>
      <td><%=h time_slot.location.short_name %></td>
      <td><%=h time_slot.start %></td>
      <td><%=h time_slot.end %></td>
      <td><%= link_to "Show", time_slot %></td>
      <td><%= link_to "Edit", edit_time_slot_path(time_slot) %></td>
      <td><%= link_to "Destroy", time_slot, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

