<% title "Time Slots" %>

<div id="AJAX_status"></div><%# to display status messages in top right corner %>

<%= render partial: 'shifts/schedule/header' %>
<%= render partial: 'location', collection: @department.locations %>
<%= render partial: 'shifts/schedule/footer' %>

<%= javascript_tag do %>
  newShiftPath = '<%= new_shift_path %>';
  newTimeSlotPath = '<%= new_time_slot_path %>';
  timeSlotsPath = '<%= time_slots_path %>';
<% end %>
