<% title "Time Slots" %>

<p><%= link_to "<h1>New Time Slot</h1>", new_time_slot_path(:date => params[:date]) %></p>

<div class="note">
  <strong>Notes</strong>
  <ol>
    <li>Time slots in the past cannot be changed or deleted.</li>
    <li>Click on any location name to toggle the schedule display for that location</li>
  </ol>
</div>

<%= render :partial => 'shifts/schedule/header' %>
<%= render :partial => 'location', :collection => @department.locations %>

<script>  
  $('li.click_to_add_new').click(function (e) {
    popup_new($(this));
    return false;
  });
  
  $('li.click_to_edit').click(function (e) {
    popup_edit($(this));
    return false;
  });
  
  function popup_new(parent_element){
    $(".tooltip").remove();
    parent_element.append("<div class='loading'>Loading...</div>");
    
    var elementId = parent_element.attr('id');//.substring(8); //remove "timeslot" from id
    $.ajax({data:"elementID="+elementId+"&time_slot[location_id]="+"2", dataType:'script', type:'get', url:'<%= new_time_slot_path %>', async: false});
    
    $(".loading").remove();
  }
  
  function popup_edit(parent_element){
    $(".tooltip").remove();
    parent_element.append("<div class='loading'>Loading...</div>");
    
    var id = parent_element.attr('id').substring(8); //remove "timeslot" from id
    <%#= remote_function :url => root_path, :test => 5 %>
    $.ajax({dataType:'script', type:'get', url:'<%= time_slots_path %>/'+id+'/edit', async: false});
    
    $(".loading").remove();
  }
</script>
