<% title "Time Slots" %>

<p><%= link_to "<h1>New Time Slot</h1>", new_time_slot_path %></p>

<div class="note">
  <strong>Notes</strong>
  <ol>
    <li>Time slots in the past cannot be changed or deleted.</li>
    <li>Click on any location name to toggle the schedule display for that location</li>
  </ol>
</div>

<div>
<%= render :partial => 'shifts/schedule/header' %>

  <% form_tag do %>
    <%= render :partial => 'location', :collection => @department.locations %>
    <%= submit_tag 'Update' %>
  <% end %>
</div>


<table>
  <tr>
    <th>Location</th>
    <th>Start</th>
    <th>End</th>
  </tr>
  <% for time_slot in @time_slots %>
    <tr>
      <td><%=h time_slot.location.short_name %></td>
      <td><%=h time_slot.start %></td>
      <td><%=h time_slot.end %></td>
      <td><%= link_to "Show", time_slot %></td>
      <td><%= link_to "Edit", edit_time_slot_path(time_slot) %></td>
      <td><%= link_to "Destroy", time_slot, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>


    <h1>Experimental View (with Example Data)</h1>
<% dc = 1 %>
<div style="width: 100%;" class="timeline">
  <div class="first day" style="top:  <%= (18*dc).to_s+'px'%>" >Sun: </div> <% dc+=1 %>
  <div class="day" style="top: <%= (18*dc).to_s+'px'%>;" >Mon: </div><% dc+=1 %>
  <div class="day" style="top: <%= (18*dc).to_s+'px'%>" >Tue: </div><% dc+=1 %>
  <div class="day" style="top: <%= (18*dc).to_s+'px'%>" >Wed: </div><% dc+=1 %>
  <div class="day" style="top: <%= (18*dc).to_s+'px'%>">Thu: </div><% dc+=1 %>
  <div class="day" style="top: <%= (18*dc).to_s+'px'%>">Fri: </div><% dc+=1 %>
  <div class="day" style="top: <%= (18*dc).to_s+'px'%>">Sat: </div>
  <div class="timeline-data" style="width: 90%;">
    <ul class="intervals">
        <li class="first" style="width: 12.5%; left: 0%" >9:00</li>
        <li style="width: 12.5%; left: 12.5%; ">10:00</li>
        <li style="width: 12.5%; left: 25%;">11:00</li>
        <li style="width: 12.5%; left: 37.5%;">12:00</li>
        <li style="width: 12.5%; left: 50%;">1:00</li>
        <li style="width: 12.5%; left: 62.5%;">2:00</li>
        <li style="width: 12.5%; left: 75%;">3:00</li>
        <li class="last" style="width: 12.5%; left: 87.5%;">4:00</li>
    </ul> <!-- end .intervals -->  
    <ul class="events">
      <li style="width: 25%; left: 50%;">1:00-3:00</li>
      <li style="width: 25%; left: 75%;">3:00-5:00</li>
    </ul> <!-- end .events -->

    <ul class="events">
      <li style="width: 50%; left: 50%;">1:00-5:00</li>
      <li style="width: 25%; left: 25%;">11:00-1:00</li>
      <li style="width: 25%; left: 0;">9:00-11:00</li>
    </ul> <!-- end .events -->
    <ul class="events">
      <li style="width: 50%; left: 50%;">1:00-5:00</li>
      <li style="width: 25%; left: 0;">9:00-11:00</li>
    </ul> <!-- end .events -->
    <ul class="events">
    </ul> <!-- end .events -->
    <ul class="events">
      <li style="width: 25%; left: 25%;">11:00-1:00</li>
      <li style="width: 25%; left: 0;">9:00-11:00</li>
    </ul> <!-- end .events -->
    <ul class="events">
      <li style="width: 50%; left: 50%;">1:00-5:00</li>
      <li style="width: 25%; left: 25%;">11:00-1:00</li>
    </ul> <!-- end .events -->
    <ul class="events">

    </ul> <!-- end .events -->
  </div>
</div> <!-- end .timeline -->
