<% title "Time Slot" %>

<p>
  <strong>Location:</strong>
  <%= @time_slot.location.name %>
</p>
<p>
  <strong>Start:</strong>
  <%= @time_slot.start.to_s(:short_name) %>
</p>
<p>
  <strong>End:</strong>
  <%= @time_slot.end.to_s(:short_name) %>
</p>

<p>
  <%= link_to "Edit", edit_time_slot_path(@time_slot) %> |
  <%= link_to "Destroy", @time_slot, confirm: 'Are you sure?', method: :delete %> |
  <%= link_to "View All", time_slots_path %>
</p>
