  <%= f.error_messages %>
  <p>
    <%= f.label :netid %><br />
    <%= f.text_field :netid %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <% for role in @department.roles -%>
    <div>
      <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
      <%= role.name %>
    </div>
  <% end -%>

