<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>
<p>
  <strong>Active:</strong>
  <%= @user.is_active?(@department) %>
</p>
<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>Nickname:</strong>
  <%= @user.nick_name %>
</p>
<p>
  <strong>Employee ID:</strong>
  <%= @user.employee_id %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

