<% for user in @users %>
  <tr<%= " class='disabled'" if !user.is_active?(@department) %> id="user<%= user.id %>">
    <td><%= link_to user.login, user_path(user.id) %></td>
    <td><%=h user.first_name %></td>
    <td><%=h user.last_name %></td>
    <td><%=h user.nick_name %></td>
    <td><%=h user.employee_id %></td>
    <td><%=h user.email %></td>
    <td><%= deactivate_link(user) %></td>
  </tr>
<% end %>

