<% title "Import Users From CSV" %>
<% if @users%>
<h3>Please examine what was imported and make changes as necessary.</h3>
<table>
<tr>
<th>Username</th>
<th>First Name</th>
<th>Nick Name</th>
<th>Last Name</th>
<th>Email</th>
<th>Employee ID</th>
<%unless $appconfig.login_options.length==1%>
<th>Authentication Type</th>
<%end%>
<th>Roles</th>
<th>Import?</th>
</tr>
<% form_tag url_for(:action=>'save_import') do%>
<% for @user in @users %>
<% fields_for @user do |f| %>
<tr>
<td><%=f.text_field(:login, "index"=>@users.index(@user), :class => "table_field") %></td>
<td><%=f.text_field(:first_name, "index"=>@users.index(@user), :class => "table_field")%></td>
<td><%=f.text_field(:nick_name, "index"=>@users.index(@user), :class => "table_field")%></td>
<td><%=f.text_field(:last_name, "index"=>@users.index(@user), :class => "table_field", :id=>"lname_table_field")%></td>
<td><%=f.text_field(:email, "index"=>@users.index(@user), :class => "table_field", :id => "email_table_field")%></td>
<td><%=f.text_field(:employee_id, "index"=>@users.index(@user), :class => "table_field")%></td>
<%unless $appconfig.login_options.length==1%>
<td>
Test!
</td>
<%end%>
<td>
  <% for role in current_department.roles -%>
    <div>
      <%#= check_box_tag "user[role_ids][]", u, u.roles.include?(role) %>
      <%#= role.name %>
    </div>
  <% end -%>
</td>
<td> <%= check_box_tag "users_to_import[]", @users.index(@user), true %> </td>
</tr>
<%end%>
<%end%>
</table>
<%= submit_tag "Save!" %>
<h3> Or, if something went wrong, feel free to upload a different csv: </h3>
<% end %>
<%end%>
<h3>Please upload a csv file in which the columns are thus: username, first name, nick name, last name, email, and employee id number.</h3>
<% form_tag url_for(:action => 'verify_import'), :multipart => true do %>
   <p> <label for="file">File to Upload</label> <%= file_field_tag "file" %></p>
    <p><%= submit_tag "Upload" %><p>
  <% end %>

