<% title (params[:search] ? "User results for '#{params[:search]}'" : "Users") %>

<div id="searchbox" style="display:none; margin-bottom: 1em">
  <% form_tag (department_users_path(current_department), :method => :get) do %>
    Search for a user: <%= text_field_tag :search %>
    <%= submit_tag "Submit", :id => 'search_submit' %>
    TODO: AJAXify this!
  <% end %>
</div>

<script type="text/javascript">
  $('div#searchbox').toggle();
  $('input#search_submit').toggle();
  $('#search').delayedObserver(0.5, function(){alert('test!')});
</script>

<%= observe_field :search, :function => "alert('test!')", :frequency => 0.5 %>

<table>
  <tr>
    <th>Login</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Nickname</th>
    <th>Employee ID</th>
    <th>Email</th>
  </tr>
  <% for user in @users %>
    <%# TODO: put this formatting in the css %>
    <tr<%= " class='disabled'" if !user.is_active?(@department) %>>
      <td><%=h user.login %></td>
      <td><%=h user.first_name %></td>
      <td><%=h user.last_name %></td>
      <td><%=h user.nick_name %></td>
      <td><%=h user.employee_id %></td>
      <td><%=h user.email %></td>
      <td><%= link_to "Show", user %></td>
      <td><%= link_to "Edit", edit_user_path(user) %></td>
      <td><%= deactivate_link(user) %></td>
    </tr>
  <% end %>
</table>

<% if params[:show_inactive].nil? %>
  <%= link_to "Show Inactive Users", :show_inactive => true %>
<% else %>
  <%= link_to "Hide Inactive Users", department_users_path(@department) %>
<% end %>
</p>
