<% title "Users" %>

<table>
  <tr>
    <th>Login</th>
    <th>Name</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
  </tr>
  <% for user in @users %>
    <tr<%= " style='color: gray'" if !user.is_active?(@department) %>>
      <td><%=h user.login %></td>
      <td><%=h user.name %></td>
      <td><%=h user.first_name %></td>
      <td><%=h user.last_name %></td>
      <td><%=h user.email %></td>
      <td><%= link_to "Show", user %></td>
      <td><%= link_to "Edit", edit_user_path(user) %></td>
      <td><%= deactivate_link(user) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New User", new_department_user_path(@department) %></p>

