<% title "Departments" %>

<table>
  <tr>
    <th>Name</th>
    <th>Permission</th>
  </tr>
  <% for department in @departments %>
    <tr>
      <td><%=h department.name %></td>
      <td><%=h department.permission.name %></td>
      <td><%= link_to "Show", department %></td>
      <td><%= link_to "Edit", edit_department_path(department) %></td>
      <td><%= link_to "Destroy", department, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Department", new_department_path %></p>

