<% title "Department" %>

<p>
  <strong>Name:</strong>
  <%=h @department.name %>
</p>
<p>
  <strong>Permission:</strong>
  <%=h @department.permission_id %>
</p>

<p>
  <%= link_to "Edit", edit_department_path(@department) %> |
  <%= link_to "Destroy", @department, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", departments_path %>
</p>
