<div class="admin_form">
  <fieldset class="index">
    <legend><%= title %></legend>
    <%= form_for (@loc_group.new_record? ? [@department,@loc_group] : @loc_group) do |f| %>
      <%= f.error_messages %>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :sub_request_email %>
        <%= f.text_field :sub_request_email %>
      </p>
      <p>
	    <%= f.label :public %>
	    <%= f.check_box :public %>
	  </p>
      <p>
        <%= f.hidden_field :department_id %>
      </p>
      <p>
        <label>&#8200;</label>
        <div class="update">
        <%= f.submit (@loc_group.id.nil? ? "Create" : "Update") %>
        </div>
      </p>
    <% end %>
  </fieldset>
</div>
