<% title "Loc Groups" %>

<table>
  <tr>
    <th>Name</th>
    <th>Department</th>
    <th>View Perm</th>
    <th>Signup Perm</th>
    <th>Admin Perm</th>
  </tr>
  <% for loc_group in @loc_groups %>
    <tr>
      <td><%=h loc_group.name %></td>
      <td><%=h loc_group.department.name %></td>
      <td><%=h loc_group.view_permission.name %></td>
      <td><%=h loc_group.signup_permission.name %></td>
      <td><%=h loc_group.admin_permission.name %></td>
      <td><%= link_to "Show", [current_department, loc_group] %></td>
      <td><%= link_to "Edit", edit_department_loc_group_path(current_department,loc_group) %></td>
      <td><%= link_to "Destroy", [current_department, loc_group], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Loc Group", new_department_loc_group_path(@department) %></p>

