<% title "Destroy Payform Item" %>
<% if params[:layout]=="false" %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="myModalLabel">Delete Payform Item</h4>
  </div>
  <div class="model-body">
<% end %>
<%= form_for @payform_item, html: {method: :delete} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :reason %><br />
    <%= f.text_area :reason, cols: 80, rows: 5 %>
  </p>
  <% if params[:layout]=="false" %>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Delete", class: "btn btn-primary", data:{disable_with: "Deleting..."}%>
    </div>
  <% else %>
    <p>
      <%= f.submit "Delete" , data:{disable_with: "Deleting..."}%>
    </p>
  <% end %>
<% end %>

<% if params[:layout]=="false" %>
  </div> <!-- modal-body div-->
<% else %>
  <p>
    <%= link_to "View All", payform_path(@payform_item.payform) %>
  </p>
<% end %>


