<% title "Payform Items" %>

This view will display all payform items within a given payform period.

<table>
  <tr>
    <th>Active?</th>
    <th>Hours</th>
    <th>Source</th>
    <th>Description</th>
  </tr>
  <% for payform_item in @payform_items %>
    <tr>
      <td><%=h payform_item.active %></td>
      <td><%=h payform_item.hours %></td>
      <td><%=h payform_item.source %></td>
      <td><%=h payform_item.description %></td>
      <td><%= link_to "Show", payform_item %></td>
      <td><%= link_to "Edit", edit_payform_item_path(payform_item) %></td>
      <td><%= link_to "Destroy", payform_item, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Payform Item", new_payform_item_path %></p>

