<% title "Payform Item" %>

<p>
  <strong>Deleted:</strong>
  <%=h @payform_item.deleted %>
</p>
<p>
  <strong>Hours:</strong>
  <%=h @payform_item.hours %>
</p>
<p>
  <strong>User:</strong>
  <%=h @payform_item.user %>
</p>
<p>
  <strong>Source:</strong>
  <%=h @payform_item.source %>
</p>
<p>
  <strong>Escription:</strong>
  <%=h @payform_item.escription %>
</p>
<p>
  <strong>Category:</strong>
  <%=h @payform_item.category %>
</p>

<p>
  <%= link_to "Edit", edit_payform_item_path(@payform_item) %> |
  <%= link_to "Destroy", @payform_item, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", payform_items_path %>
</p>
