<% javascript 'jquery', 'jquery-ui' %>
<% stylesheet 'ui.datepicker' %>

<% form_for @shift do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :start %><br />
    <%= f.text_field :start, :datepicker => true %><%#, :value => ((@shift.start.strftime("%m/%d/%Y") or params[:shift][:start]) if @shift.start) %>
    <%#= f.select :start, :timepicker %>
    <%= f.datetime_select :start, :datepicker => true, :minute_step => @department.department_config.time_increment, :twelve_hour => true %> (specify a start time)
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.text_field :end, :datepicker => true %><%#, :value => ( @shift.end ? (@shift.end.strftime("%m/%d/%Y") or params[:shift][:end]) : Time.now.strftime("%m/%d/%Y")) %>
    <%#= f.select :end, :timepicker %>
    <%= f.time_select :end, :minute_step => @department.department_config.time_increment, :twelve_hour => true, :ignore_date => true %> (specify an end time)
  </p>
  <% if current_user.is_admin_of?(@department) %>
  <p>
    <%= f.label :user %><br />
    <%= f.collection_select(:user_id, @department.users, :id, :name, {:prompt => "Select a user"}) %> (only the admin should see this)
  </p>
  <% end %>
  <p>
    <%= f.label :location %><br />
    <%= select_tag 'shift[location_id]', option_groups_from_collection_for_select(@department.loc_groups, :locations, :name, :id, :name, @shift.location ? @shift.location.id : nil)%><br />
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>