<%= unobtrusive_datepicker_include_tags %>
  <p>
    <%
      default_time = (params[:date] ? Time.parse(params[:date]) : Time.now)

      if params[:xPercentage]
        @dept_start_hour ||= current_department.department_config.schedule_start
        @dept_end_hour ||= current_department.department_config.schedule_end
        @minutes_per_day ||= (@dept_end_hour - @dept_start_hour)
        default_time += @dept_start_hour.minutes + (@minutes_per_day * params[:xPercentage].to_f) * 60
      end
    %>
    <%= f.label :start %><br />
    <%= f.date_select :start_date, :default => default_time.to_date, :id => :start_date  %>
    <%= f.time_select :start_time, {
                :simple_time_select => true,
                :time_separator => "",
                :minute_interval => current_department.department_config.time_increment,

                :start_time => @start_time,
                :end_time => @end_time,
                :include_start_time => true,
                :include_end_time => false,
                :default => default_time,
                                          } %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.date_select :end_date, :default => default_time.to_date, :id => :end_date %>
    <%= f.time_select :end_time, {
                :simple_time_select => true,
                :time_separator => "",
                :minute_interval => current_department.department_config.time_increment,

                :start_time => @start_time,
                :end_time => @end_time,
                :include_start_time => false,
                :include_end_time => true,
                :default => default_time + 1.hour,
                                          } %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= select_tag 'shift[location_id]', option_groups_from_collection_for_select(current_department.loc_groups, :locations, :name, :id, :name, @shift.location ? @shift.location.id : params[:location_id].to_i )%><br />
  </p>
  <% if current_user.is_admin_of?(current_department) %>
    <p>
      <%= f.label :calendar %><br />
      <%= f.collection_select(:calendar_id, current_department.calendars, :id, :name) %>
    </p>
    <p>
      <%= f.label :user %><br />
      <%= f.collection_select(:user_id, current_department.active_users, :id, :name, {:prompt => "Select a user"}) %>
    </p>
    <p>
      <%= f.check_box :power_signed_up %> Power signup (ignores restrictions and time slots)
    </p>
  <% end %>
