<% javascript 'jquery', 'jquery-ui' %>
<% stylesheet 'ui.datepicker' %>

<% form_for @shift do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :start %><br />
    <%= f.text_field :start, :value => ( @shift.start ? (params[:shift][:start] or @shift.start.strftime("%m/%d/%Y")) : Time.now.strftime("%m/%d/%Y")), :size => 10 %>
    <%= f.time_select :start, :minute_step => 15, :twelve_hour => true %> (specify a start time)
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.text_field :end, :value => ( @shift.end ? (params[:shift][:end] or @shift.end.strftime("%m/%d/%Y")) : Time.now.strftime("%m/%d/%Y")), :size => 10 %>
    <%= f.time_select :end, :minute_step => 15, :twelve_hour => true %> (specify an end time)
  </p>
  <% if current_user.is_admin_of?(@department) %>
  <p>
    <%= f.label :user %><br />
    <%= f.collection_select(:user_id, @department.users, :id, :name, {:prompt => "Select a user"}) %> (only the admin should see this)
  </p>
  <% end %>
  <p>
    <%= f.label :location %><br />
    <%= select_tag 'shift[location_id]', option_groups_from_collection_for_select(@department.loc_groups, :locations, :name, :id, :name, @shift.location ? @shift.location.id : nil)%><br />
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>

<script type="text/javascript">
  $("#shift_start").datepicker();
  $("#shift_end").datepicker();
</script>