<% calculate_default_times %>

  <p>
    <%= f.label :start %><br />
  <% if params[:xPercentage] %>
    <%= f.hidden_field :start_date, :value => @shift.start.to_date, :id => :start_date  %>
  <% else %>
    <%= f.date_select :start_date, :default => @shift.start.to_date, :id => :start_date  %>
  <% end %>

<script type="text/javascript">
var opts = {
                formElements:{"shift_start_date_3i":"j",
                              "shift_start_date_1i":"Y",
                              "shift_start_date_2i":"n"
                },
                statusFormat:"l-cc-sp-d-sp-F-sp-Y",
                noFadeEffect:true,
                       };
datePickerController.createDatePicker(opts);

</script>

    <%= f.time_select :start_time, {
                :simple_time_select => true,
                :time_separator => "",
                :minute_interval => current_department.department_config.time_increment,

                :start_time => @range_start_time,
                :end_time => @range_end_time,
                :include_start_time => true,
                :include_end_time => false,
                :default => @shift.start,
                                          } %>
  </p>
  <p>
    <%= f.label :end %><br />
  <% if params[:xPercentage] %>
    <%= f.hidden_field :end_date, :value => @shift.end.to_date, :id => :end_date  %>
  <% else %>
    <%= f.date_select :end_date, :default => @shift.end.to_date, :id => :end_date  %>
  <% end %>

<script type="text/javascript">
var opts = {
                formElements:{"shift_end_date_3i":"j",
                              "shift_end_date_1i":"Y",
                              "shift_end_date_2i":"n"
                },
                statusFormat:"l-cc-sp-d-sp-F-sp-Y",
                noFadeEffect:true,
                       };
datePickerController.createDatePicker(opts);

</script>
    <%= f.time_select :end_time, {
                :simple_time_select => true,
                :time_separator => "",
                :minute_interval => current_department.department_config.time_increment,

                :start_time => @range_start_time,
                :end_time => @range_end_time,
                :include_start_time => false,
                :include_end_time => true,
                :default => @shift.end,
                                          } %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= select_tag 'shift[location_id]', option_groups_from_collection_for_select(current_department.loc_groups, :locations, :name, :id, :name, @shift.location ? @shift.location.id : params[:location_id].to_i )%><br />
  </p>


  <% if current_user.is_admin_of?(current_department) %>
    <p>
      <%= f.label :calendar %><br />
      <%= f.collection_select(:calendar_id, current_department.calendars, :id, :name) %>
    </p>
    <p>
      <%= f.label :user %><br />
      <%= f.collection_select(:user_id, current_department.active_users, :id, :name, {:prompt => "Select a user"}) %>
    </p>
    <p>
      <%= f.check_box :power_signed_up %> Power signup
    </p>
  <% elsif params[:calendar] %>
    <%= (f.hidden_field :calendar_id, :value => params[:calendar].to_i) unless params[:calendar].to_i == 0 %>
  <% end %>

