<%= unobtrusive_datepicker_include_tags %>

<% form_for @shift do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :start_time %><br />
    <%= f.unobtrusive_datetime_picker :start, :minute_step => @department.department_config.time_increment %>
  </p>
  <p>
    <%= f.label :end_time %><br />
    <%= f.unobtrusive_datetime_picker :end, :minute_step => @department.department_config.time_increment %>
  </p>
  <% if current_user.is_admin_of?(@department) %>
    <p>
      <%= f.label :calendar %><br />
      <%= f.collection_select(:calendar_id, @department.calendars, :id, :name) %>
    </p>
    <p>
      <%= f.label :user %><br />
      <%= f.collection_select(:user_id, @department.users, :id, :name, {:prompt => "Select a user"}) %>
    </p>
  <% end %>
  <p>
    <%= f.label :location %><br />
    <%= select_tag 'shift[location_id]', option_groups_from_collection_for_select(@department.loc_groups, :locations, :name, :id, :name, @shift.location ? @shift.location.id : nil)%><br />
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>