<div id="preferences" style="float:right">
  <span id="pref_link" class="dotted_link" style="display:none"><%= link_toggle "checkbox_div", "Show/Hide Groups", "fast" %></span>
  <div id="checkbox_div">
    Location groups to show:
    <%# TODO: actually make this preferences form work%>
    <% form_for current_user.user_config do |f| %>
      <p>
        <% for department in current_user.departments %>
          <div class="multiple_select">
            <h3><%= department.name %></h3>
            <%= collection_multiple_select(:user_config, :view_loc_groups, 
                                        @loc_group_select[department.id], :id, :name,
                                        :selected_items => @selected_loc_groups) %>
          </div>
        <% end %>
      </p>
      <%= hidden_field_tag :redirect_to, :value => request.path %>
      <p><%= f.submit "Show" %></p>
    <% end %>
  </div>
  <script type="text/javascript" charset="utf-8">
    $("#checkbox_div").hide();
    $("#pref_link").show();
  </script>
</div>

