<%# I need these two for the new shift report popup view -Harley%>
<!-- <% stylesheet 'floatbox' %>
<% javascript 'floatbox' %> -->

<% title "Shifts" %>
<%#= render :partial => 'shift/view_pref' %>

<div class = "shift_links">
  <% if (current_shift = current_user.shifts.select{|shift| shift.signed_in? and !shift.submitted?}) %>
    <%= link_to "Return to current shift", shift_path(current_shift) %><br />
  <% end %>
  <%= link_to "Start an unscheduled shift", unscheduled_new_shift_path %>

  <!-- <%# unless @announcements.empty? %>
    <h2>Announcements for <%#= @department.name %></h2>
    <%#= render :partial => 'report/notice', :collection => @announcements %>
  <%# end %> -->

  <div id="upcoming_shifts_div">
    <%= render :partial => 'upcoming_shifts_layout' %>
  </div>

  <!-- <%# unless @subs_you_requested.empty? %>
      <h2>Subs you requested</h2>
      <ul>
      <%#= render :partial => 'upcoming_sub', :collection => @subs_you_requested %>
      </ul>
    <%# end %> -->

  <!-- <%# unless @subs_you_can_take.empty? %>
      <h2>Subs you can take</h2>
      <ul>
      <%#= render :partial => 'upcoming_sub', :collection => @subs_you_can_take%>
      </ul>
    <%# end %> -->

  <% unless @current_shifts.empty? %>
    <h2>Currently logged in shifts (in your domain)</h2>
    <ul>
      <% @current_shifts.each do |s| %>
        <li><%= link_to s.short_name, shift_path(s) -%> 
              <!-- {:rel => "floatboxcurr", :rev => "width:500px height:500px" } -%> -->
          <span class="early_late_info">&nbsp;&nbsp;<%= early_late_info(s.start) %></span>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<div id="schedule">
  <%#= render :partial => 'schedule'%>
</div>