<%# Required for the shift report popup view %>
<% stylesheet 'floatbox' %>
<% javascript 'floatbox' %>

<% title "Shifts" %>
<%= render :partial => 'view_preferences' %>

<div class = "shift_links">
  <% unless (current_shift = current_user.shifts.select{|shift| shift.signed_in? and !shift.submitted?}) == [] %>
    <%= link_to "Return to current shift", shift_path(current_shift) %><br />
  <% end %>
  <%= link_to "Start an unscheduled shift", unscheduled_new_shift_path %>

  <%# TODO: implement announcements :P %>
  <% @announcements = [] %>
  <% unless @announcements.empty? %>
    <h2>Announcements for <%= @department.name %></h2>
    <%= render :partial => 'report/notice', :collection => @announcements %>
  <% end %>

  <div id="upcoming_shifts_div">
    <%= render :partial => 'upcoming_shifts_layout' %>
  </div>

  <%# @subs_you_requested = SubRequest.find(:all, :conditions => {:user => current_user}, :order => :start)%>
  <!-- <%# unless @subs_you_requested.empty? %>
      <h2>Subs you requested</h2>
      <ul>
      <%#= render :partial => 'upcoming_sub', :collection => @subs_you_requested %>
      </ul>
    <%# end %> -->

  <!-- <%# unless @subs_you_can_take.empty? %>
      <h2>Subs you can take</h2>
      <ul>
      <%#= render :partial => 'upcoming_sub', :collection => @subs_you_can_take%>
      </ul>
    <%# end %> -->

  <% unless @current_shifts.empty? %>
    <h2>Currently logged in shifts (in your domain)</h2>
    <ul>
      <% @current_shifts.each do |s| %>
        <li><%= link_to s.short_name, shift_report_path(s), {:rel => "floatboxcurr", :rev => "width:500px height:500px" } -%>
          <span class="early_late_info">&nbsp;&nbsp;<%= early_late_info(s.start) %></span>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>


<div style="height:15px"></div>
<div id="temporary-list-of-all-shifts">
  <h1>All shifts (for development and debugging)</h1>
  <table>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>User</th>
      <th>Location</th>
      <th>Scheduled?</th>
    </tr>
    <% for shift in @shifts %>
      <tr>
        <td><%=h shift.start.to_s(:short_name) %></td>
        <td><%=h shift.end.to_s(:short_name) %></td>
        <td><%=h shift.user.name %></td>
        <td><%=h shift.location.name %></td>
        <td><%=h shift.scheduled? %></td>
        <td><%= link_to "Show", shift %></td>
        <td><%= link_to "Edit", edit_shift_path(shift) %></td>
        <td><%= link_to "Destroy", shift, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
  
  <p><%= link_to "New Shift", new_shift_path %></p>
</div>



<div id="schedule">
  <%= render :partial => 'schedule'%>
</div>