<%# Required for the shift report popup view %>
<%# TODO: use something better than this %>
<% stylesheet 'floatbox', 'notice' %>
<% javascript 'floatbox' %>

<% title "Shifts" %>
<%= render :partial => 'view_preferences' %>

<div class = "shift_links">
  <div>
    <% if current_user.is_admin_of?(@department) %>
      <%= link_to "Power sign up", power_sign_up_new_shift_path %> |
      <%= link_to "Edit Times", time_slots_path %> |
      <%# TODO: %>
      <%= link_to "View Work Hours", {:action => "view_work_hours", :date => params[:date]}, :class => "dotted_link" %>
    <% else %>
      <% unless (current_shift = current_user.shifts.select{|shift| shift.signed_in? and !shift.submitted?}) == [] %>
        <%= link_to "Return to current shift", shift_path(current_shift) %><br />
      <% end %>
      <%= link_to "Start an unscheduled shift", unscheduled_new_shift_path %>
    <% end %>
  </div>

  <%# TODO: implement announcements :P %>
  <% unless @announcements.empty? %>
    <% @notices = @announcements %>
    <div id="announcements">
      <h2>Announcements for <%= @department.name %></h2>
      <%= render :partial => 'notices/notice', :collection => @announcements %>
    </div>
  <% end %>

  <% unless @upcoming_shifts.empty? %>
    <div id="upcoming_shifts_div">
      <h2 title="Displaying up to 4 upcoming shifts">Upcoming shifts</h2>
      <%= render :partial => 'upcoming_shifts_layout' %>
    </div>
  <% end %>


  <% all_subs = SubRequest.find(:all, :order => :start) %>
  <% @subs_you_requested = all_subs.select{|sub| sub.shift.user == current_user} %>
  <% unless @subs_you_requested.empty? %>
    <div id="subs_you_requested">
      <h2>Subs you requested</h2>
      <ul>
        <%= render :partial => 'upcoming_sub', :collection => @subs_you_requested %>
      </ul>
    </div>
  <% end %>

  <%# TODO: implement! %>
  <!-- <%# unless @subs_you_can_take.empty? %>
      <h2>Subs you can take</h2>
      <ul>
      <%#= render :partial => 'upcoming_sub', :collection => @subs_you_can_take%>
      </ul>
    <%# end %> -->

  <% unless @current_shifts.empty? %>
    <div id="active_shifts_div">
      <h2>Currently logged in shifts (in your domain)</h2>
      <%= render :partial => 'active_shifts_layout' %>
    </div>
  <% end %>
</div>


<div style="height:15px"></div>
<div id="temporary-list-of-all-shifts">
  <h1>All shifts (for development and debugging)</h1>
  <table>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>User</th>
      <th>Location</th>
      <th>Scheduled?</th>
    </tr>
    <% for shift in @shifts %>
      <tr>
        <% if shift.scheduled? %>
          <td><%=h shift.start.to_s(:short_name) %></td>
          <td><%=h shift.end.to_s(:short_name) %></td>
        <% else %>
          <td colspan=2>unscheduled</td>
        <% end %>
        <td><%=h shift.user.name %></td>
        <td><%=h shift.location.name %></td>
        <td><%=h shift.scheduled? %></td>
        <td><%= link_to "Show", shift %></td>
        <td><%= link_to "Edit", edit_shift_path(shift) %></td>
        <td><%= link_to "Destroy", shift, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>

  <p><%= link_to "New Shift", new_shift_path %></p>
</div>



<div id="schedule">
  <%= render :partial => 'schedule'%>
</div>

