<% title "Shifts" %>

<table>
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>User</th>
    <th>Location</th>
  </tr>
  <% for shift in @shifts %>
    <tr>
      <td><%=h shift.start %></td>
      <td><%=h shift.end %></td>
      <td><%=h shift.user %></td>
      <td><%=h shift.location %></td>
      <td><%= link_to "Show", shift %></td>
      <td><%= link_to "Edit", edit_shift_path(shift) %></td>
      <td><%= link_to "Destroy", shift, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Shift", new_shift_path %></p>
