<p>
  <%= form_tag action: "show_unscheduled" do %>
    View from
    <%= select_date @start_date, prefix: 'start' %>
    to
    <%= select_date @end_date,  prefix: 'end' %>
    <%= submit_tag "Update display" %>
  <% end %>
</p>

<div id="unscheduled_shifts_div">
  <% title "Unscheduled Shift Reports" %>
  <%= render partial: 'shifts_layout', object: @unscheduled_shifts_by_locgroup, locals: {shift_display_method: "name_date_and_time"} %>
</div>