<% title (@shift.scheduled? ? "Shift" : "Unscheduled Shift") %>

<p>
  <strong>Start:</strong>
  <%=h @shift.start.to_s(:short_name) %>
</p>
<p>
  <strong>End:</strong>
  <%=h @shift.scheduled? ? @shift.end.to_s(:short_name) : "unscheduled" %>
</p>
<p>
  <strong>User:</strong>
    <%=h link_to @shift.user.name, user_profile_path(@shift.user.login) %>
</p>
<p>
  <strong>Location:</strong>
  <%=h @shift.location.name %>
</p>
<p>
  <% if @shift.report %>
    <%= link_to "View report", shift_report_path(@shift) %>
  <% elsif current_user==@shift.user %>
    <p>
    <%= link_to "Request a sub for this shift", new_shift_sub_path(@shift) %>
    </p>
	<% if within_sign_in_window?(@shift) %>
	<p>
	<%= button_to "Sign in", shift_report_path(@shift), method: :post %>
    </p>
  	<% else %>
   	<%= button_to "Sign in", shift_report_path(@shift), confirm: "Are you sure you want to sign into this shift #{distance_of_time_in_words(@shift.start, Time.now)} early?", method: :post %>
	<% end %>
	  <% else %>
    This shift has not yet been signed in to.
  <% end %>
</p>
<p>
  <% if current_user.is_admin_of?(current_department) or current_user.is_admin_of?(@shift.location.loc_group) %>
  <%= link_to "Edit", edit_shift_path(@shift) %> |
  <%= link_to "Destroy", @shift, confirm: 'Are you sure?', method: :delete %> |
  <% end %>
  <%= link_to "View All", shifts_path %>
</p>
<p>
  <%= link_to "Shift Context", dashboard_path(date: @shift.start.to_date) %>
</p>

