<% title (@shift.scheduled? ? "Shift" : "Unscheduled Shift") %>

<p>
  <strong>Start:</strong>
  <%=h @shift.start %>
</p>
<p>
  <strong>End:</strong>
  <%=h @shift.end %>
</p>
<p>
  <strong>User:</strong>
  <%=h @shift.user.name %>
</p>
<p>
  <strong>Location:</strong>
  <%=h @shift.location.name %>
</p>

<p>
  <% if @shift.report %>
    <%= link_to "View report", shift_report_path(@shift) %>
  <% else %>
    <%= button_to "Create report", shift_report_path(@shift), :method => :post %>
  <% end %>
</p>
<p>
  <%= link_to "Edit", edit_shift_path(@shift) %> |
  <%= link_to "Destroy", @shift, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", shifts_path %>
</p>
