<% title "Shift" %>

<p>
  <strong>Start:</strong>
  <%=h @shift.start %>
</p>
<p>
  <strong>End:</strong>
  <%=h @shift.end %>
</p>
<p>
  <strong>User:</strong>
  <%=h @shift.user.name %>
</p>
<p>
  <strong>Location:</strong>
  <%=h @shift.location.name %>
</p>

<p>
  <%= link_to "Create report", new_shift_report_path(@shift), :post => true %>
</p>
<p>
  <%= link_to "Edit", edit_shift_path(@shift) %> |
  <%= link_to "Destroy", @shift, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", shifts_path %>
</p>
