<div class="day" style="height: <%= @table_pixels / (@table_height) * (@location_rows[location].length) + @location_rows[location].length - 1 %>px;">
  <div class="center_container click_to_add_new" id="location<%=location.id%>_<%=day%>_label">
    <div class="center_content">
      <%= location.short_name %>
    </div>
  </div>
</div>
<% unless @location_rows_timeslots[location].nil? %>
  <div class="day" style="height: <%= @table_pixels / (@table_height) / 2 %>px;">
    <div class="center_container click_to_add_new_timeslot">
      <div class="center_content">
        signups
      </div>
    </div>
  </div>
<% end %>