<% fields_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :nick_name %><br />
    <%= f.text_field :nick_name %>
  </p>

  <% if @user.auth_type == "built-in"%>
    <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>  </p>
    <p>
    <%= f.label :password_confirmation %> <br />
    <%= f.password_field :password_confirmation %></p>
  <% end %>
<% end %>

