<% fields_for @user do |f| %>
  <%= f.error_messages %>

  <% if @user.auth_type == "built-in"%>
    <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>  </p>
    <p>
    <%= f.label :password_confirmation %> <br />
    <%= f.password_field :password_confirmation %></p>
  <% end %>

<% end %>