  <%= stylesheet_link_tag 'user_profile'%>

    <% if @user_profile_entries.empty? %>
    <strong><h3> This user does not have any publicly viewable information for this department </h3></strong>
    <% else %>
    	<strong><%=h "Login: " %></strong>
	    <%=h @user.login %>

      <% for entry in @user_profile_entries %>
      <p>
        <% if entry.content.nil? %>
        <% elsif entry.display_type == "picture_link" && entry.content != '' %>
          <div class='pic_box'>
            <%= image_tag(entry.content, {:alt => @user_profile.user.proper_name, :class => "profile_pic"}) %>
          </div>
        <% else %>
          <strong><%=h "#{entry.field_name}: " %></strong>
          <%=h entry.content %>
        <% end %>
      </p>
      <% end %>
    <% end %>
