<tr class="<%= class2 %>">
  <td class="date">
    <%=h payform_item.date.strftime('%b %d') %>
  </td>
  <td class="description">
    <%=h '❝'+payform_item.description+'❞' %>
  </td>
  <td class ="description" id= "reason">
    <% if (current_user.is_admin_of?(current_department) || current_user.is_superuser?) -%>
    <% if !payform_item.payform_item.nil? %>
      <em><%=h payform_item.reason %></em>
    <% end %>
    <% end %>
  </td>
  <td class="rightside" id="hours">
    <%=h payform_item.hours %>
  </td>
  <% if payform_item.active && payform_item.payform && !payform_item.payform.approved %>
    <td class="rightside" id="edit">
      <%= link_to "edit", edit_payform_item_path(payform_item) %>
    </td>
    <td class="rightside" id="delete">
      <%= link_to "&#x2716;", payform_item, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  <% end %>
</tr>
  <%= render :partial => "payform_item", :object => payform_item.payform_item, :locals => {:class2 => 'edit_item', :previous => payform_item } unless payform_item.payform_item.nil? %>
