<tr class='payform_item'>
  <td class="date">
    <%=h payform_item.date.strftime('%b %d') %>
  </td>
  <td class="description">
    &#x275D;<%=h payform_item.description %>&#x275E;
  </td>
  <td class="rightside" id="hours">
    <%=h payform_item.hours %>
  </td>
  <% unless payform_item.payform.approved %>
    <td class="rightside" id="edit">
      <%= link_to "edit", edit_payform_item_path(payform_item) %>
    </td>
    <td class="rightside" id="delete">
      <%= link_to "&#x2716;", payform_item, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  <% end %>
</tr>

