<tr>
  <% if current_user.is_admin_of?(current_department) -%>
    <td><%= payform.user.name unless @previous_user && payform.user == @previous_user%></td>
  <% end -%>
  <% if params[:unsubmitted] %>
    <td><%= link_to payform.date.to_s(:long), payform if !payform.submitted %></td>
  <% end %>
  <% if  params[:submitted] %>
    <td><%= link_to payform.date.to_s(:long), payform if payform.submitted && !payform.approved && !payform.skipped %></td>
  <% end %>
  <% if params[:skipped] %>
	<td><%= link_to payform.date.to_s(:long), payform if payform.skipped %> </td>
  <% end %>
  <% if  params[:approved] %>
    <td><%= link_to payform.date.to_s(:long), payform if payform.approved && !payform.printed %></td>
  <% end %>
  <% if  params[:printed] %>
    <td><%= link_to payform.date.to_s(:long), payform if payform.printed %></td>
  <% end %>
</tr>

<% @previous_user = payform.user %>
