<% title "Payforms" %>


<div id="payform">
  <h1>All Payforms</h1>
  <table id="payformList" width="100%">
    <thead><tr>
      <% if current_user.is_admin_of?(current_department) -%>
        <th>User</th>
      <% end -%>
      <th>Unsubmitted</th>
      <th>Submitted</th>
      <th>Approved</th>
      <!--<th>Printed</th>-->
    </tr></thead>
    <%= render :partial => "payform", :collection => @payforms %>
    <% if @payforms.empty? -%>
      <tr><td colspan=5>(No payforms to show)</td></tr>
    <% end -%>
    <tfoot><tr>
      <% if current_user.is_admin_of?(current_department) -%>
        <th>Total:</th>
      <% end -%>
      <th><%= @payforms.select{|p| !p.submitted && !p.approved && !p.printed}.length %></th>
      <th><%= @payforms.select{|p|  p.submitted && !p.approved && !p.printed}.length %></th>
      <th><%= @payforms.select{|p|  p.submitted &&  p.approved && !p.printed}.length %></th>
      <!--<th><%= @payforms.select{|p|  p.submitted &&  p.approved &&  p.printed}.length %></th>-->
    </tr></tfoot>
  </table>
</div>
<br/>
<%= link_to "<span>Prune all empty payforms</span>", prune_payforms_path, :confirm => 'Are you sure?', :method => :delete, :class=>"button" %>
<%= link_to "<span>Your Current Payform</span>", go_payforms_path, :class=>"button" %>
