<% title "Payform" %>

Date:
<%= render :partial => "date_select" %>
<br/>

<table>
  <tr>
    <th>Hours</th>
    <th>Description</th>
  </tr>
  <% for payform_item in @payform.payform_items %>
    <tr>
      <td><%=h payform_item.hours %></td>
      <td><%=h payform_item.description %></td>
      <td><%= link_to "Show", payform_item %></td>
      <td><%= link_to "Edit", edit_payform_item_path(payform_item) %></td>
      <td><%= link_to "Destroy", payform_item, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to "New Payform Item", new_payform_payform_item_path(@payform) %>
</p>
<p>
  <%= link_to "View All", payforms_path %>
</p>

