<br/>
<% form_remote_for(@link) do |f| %>
  <div id ="errors">
    <%= render :partial => "notices/error_messages", :locals => {:f => f} %>
  </div>
	<fieldset class = "index">
		<legend>Link label</legend>
		<%= f.text_area :content, :id=>"content", :size => "30x1" %>
	</fieldset>
      
	<fieldset class = "index">
		<legend>URL</legend>
		<%= f.text_area :url, :id=>"url", :size => "50x3" %>
	</fieldset>
	
	<fieldset class = "index">
  <legend>Where:</legend>


<% if current_user.is_admin_of?(current_department) %>
    <%= check_box_tag :department_wide_locations, current_department.id, department_check(current_department, @link), :style => "display: inline;" %>
    <%= label_tag "department_wide_locations", text = current_department.name + " (all locations)", :style => "display: inline;"  %>
<% end %>


  <div id = "all_locations">
    <% for loc_group in current_department.loc_groups do %>
      <li id = "notice_li">
        <%= check_box_tag "for_location_groups[]", loc_group.id, loc_group_check(loc_group, @link), :style => "display: none;" %>
        <%= label_tag "location_group_#{loc_group.id}", text = loc_group.name %>:
        <% for location in loc_group.locations do %>
          <%= check_box_tag "for_locations[]", location.id, location_check(location, @link) %>
          <%= label_tag "location_#{location.id}", text = location.short_name %>
          <% unless location == loc_group.locations.last %> , <%end%>
        <% end %>
      </li>
    <% end %>
  </div>
	</fieldset>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
