<% if @calendar %>
  <% title @calendar.name + (@calendar.active? ? " (active)" : " (inactive)") %>
  <% subtitle "("+@calendar.start_date.strftime("%b %d, %Y")+" - "+(@calendar.default? ? "forever" : @calendar.end_date.strftime("%b %d, %Y") )+")"%>

  <% if current_user.is_admin_of?(@department) %>
    <p>
      <% unless @calendar.default? %>
        <%= link_to "Edit", edit_calendar_path(@calendar) %> |
        <%= link_to "Destroy", @calendar, :confirm => 'Are you sure?', :method => :delete %> |
      <% else %>
        <p>This is the default calendar, and cannot be edited or deleted.</p>
      <% end %>
      <%= link_to "View All Calendars", calendars_path %>
    </p>
  <% end %>
<% else %>
  <% title "Calendars" %>
<% end %>


<div id="AJAX_status"></div><%# to display status messages in top right corner %>
<%= render :partial => 'shifts/view_preferences' %>

<table class = "tablesorter">
 <thead>
  <tr>
    <th>Name</th>
	<% unless mobile_device?%>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Public</th>
    <th>Active</th>
	<% end %>
  </tr>
 </thead>
  <% for calendar in @calendars %>
 <tbody>
  <%= (!calendar.active? and @calendar.nil?) ? "<tr class='disabled'>" : "<tr>" %>
      <td style="background: #<%= @color[calendar] %>"><%= link_to calendar.name, calendar %></td>
	  <% unless mobile_device?%>
      <td><%=h calendar.start_date.strftime("%b %d, %Y") %></td>
      <td><%=h calendar.default? ? "never" : calendar.end_date.strftime("%b %d, %Y") %></td>
      <td><%=h calendar.public %></td>
      <td><%=h calendar.active %></td>
      <td><%= link_to_function "Toggle view", "$('.calendar#{calendar.id}').toggle(); $(this).parent().parent().toggleClass('disabled'); calendar_visible[#{calendar.id}] = !calendar_visible[#{calendar.id}]"%></td>
      <% unless calendar.default? or !current_user.is_admin_of?(@department) %>
        <td><%= button_to calendar.active ? "Deactivate" : "Activate" , toggle_calendar_path(calendar) %></td>
        <td><%= button_to "Convert Shifts to Weekly Events", {:action => 'apply_schedule', :id => calendar.id}, :confirm => "Are you sure? This will convert all shifts on this calendar to weekly repeating events that span the dates of the calendar." %></td>
        <td><%= link_to "Copy", prepare_copy_calendar_path(calendar) %></td>
        <td><%= link_to "Destroy", calendar, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
	  <% end %>
    </tr>
  </tbody>
    <script>calendar_visible[<%=calendar.id%>] = <%= (@calendar ? calendar == @calendar : calendar.active?) %>;</script>
  <% end %>
</table>

<% if current_user.is_admin_of?(@department) %>
  <p><%= link_to "New Calendar", new_calendar_path %></p>
  <p><%= link_to "Wipe shifts and timeslots from a range of days", prepare_wipe_range_calendars_path %></p>

  <p id="new_time_slot_link"><%= link_to "New Time Slot", new_time_slot_path(:date => params[:date]) %></p>

<% end %>

<div style="clear:both"></div>

<%= render :partial => 'shifts/schedule/header' %>
<%= render :partial => 'calendars/schedule/day', :collection => @day_collection %>
<%= render :partial => 'shifts/schedule/footer' %>

<%= javascript_tag do %>
  calendar = "<%= calendar.nil? ? 'true' : @calendar.id %>";
  newTimeSlotPath = '<%= new_time_slot_path %>';
  newShiftPath = '<%= new_shift_path %>';
  timeSlotsPath = '<%= time_slots_path %>';
  shiftsPath = '<%= shifts_path %>';
<% end %>
<%= javascript_include_tag 'tooltip' %> 

<!-- <h2>Shifts:</h2>
<ul>
  <%# @shifts.each_pair do |day, shifts| %>
    <li><strong>DAY: <%#=day%></strong></li>
    <%# shifts.each do |s| %>
      <li class="calendar<%#=s.calendar_id%>"<%#= " style='display:none'" if !s.calendar.active? %>><%#= s.short_name %></li>
    <%# end %>
  <%# end %>
</ul>

<h2>Timeslots:</h2>
<ul>
  <%# @time_slots.each_pair do |day, time_slots| %>
  <li><strong>DAY: <%#=day%></strong></li>
    <%# time_slots.each do |t| %>
      <li class="calendar<%#=t.calendar_id%>"<%#= " style='display:none'" if !t.calendar.active? %>><%#= t.to_s %></li>
    <%# end %>
  </span>
  <%# end %>
</ul> -->