<% if @calendar %>
  <% title @calendar.name + (@calendar.active? ? " (active)" : " (inactive)") %>
  <% subtitle "("+@calendar.start_date.strftime("%b %d, %Y")+" - "+(@calendar.default? ? "forever" : @calendar.end_date.strftime("%b %d, %Y") )+")"%>

  <% if current_user.is_admin_of?(@department) %>
    <p>
      <% unless @calendar.default? %>
        <%= link_to "Edit", edit_calendar_path(@calendar) %> |
        <%= link_to "Destroy", @calendar, :confirm => 'Are you sure?', :method => :delete %> |
      <% else %>
        <p>This is the default calendar, and cannot be edited or deleted.</p>
      <% end %>
      <%= link_to "View All Calendars", calendars_path %>
    </p>
  <% end %>
<% else %>
  <% title "Calendars" %>
<% end %>


<div id="AJAX_status"></div><%# to display status messages in top right corner %>
<script>var calendar_visible = {};</script>
<%= render :partial => 'shifts/view_preferences' %>

<table class = "tablesorter">
 <thead>
  <tr>
    <th>Name</th>
	<% unless mobile_device?%>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Public</th>
    <th>Active</th>
	<% end %>
  </tr>
 </thead>
  <% for calendar in @calendars %>
 <tbody>
  <%= (!calendar.active? and @calendar.nil?) ? "<tr class='disabled'>" : "<tr>" %>
      <td style="background: #<%= @color[calendar] %>"><%= link_to calendar.name, calendar %></td>
	  <% unless mobile_device?%>
      <td><%=h calendar.start_date.strftime("%b %d, %Y") %></td>
      <td><%=h calendar.default? ? "never" : calendar.end_date.strftime("%b %d, %Y") %></td>
      <td><%=h calendar.public %></td>
      <td><%=h calendar.active %></td>
      <td><%= link_to_function "Toggle view", "$('.calendar#{calendar.id}').toggle(); $(this).parent().parent().toggleClass('disabled'); calendar_visible[#{calendar.id}] = !calendar_visible[#{calendar.id}]"%></td>
      <% unless calendar.default? or !current_user.is_admin_of?(@department) %>
        <td><%= button_to calendar.active ? "Deactivate" : "Activate" , toggle_calendar_path(calendar) %></td>
        <td><%= button_to "Apply Schedule", {:action => 'apply_schedule', :id => calendar.id}, :confirm => "Are you sure? This will apply the schedule and wipe any conflicts." %></td>
        <td><%= link_to "Copy", prepare_copy_calendar_path(calendar) %></td>
        <td><%= link_to "Destroy", calendar, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
	  <% end %>
    </tr>
  </tbody>
    <script>calendar_visible[<%=calendar.id%>] = <%= (@calendar ? calendar == @calendar : calendar.active?) %>;</script>
  <% end %>
</table>

<% if current_user.is_admin_of?(@department) %>
  <p><%= link_to "New Calendar", new_calendar_path %></p>
  <p><%= link_to "Wipe shifts and timeslots from a range of days", prepare_wipe_range_calendars_path %></p>

  <p id="new_time_slot_link"><%= link_to "New Time Slot", new_time_slot_path(:date => params[:date]) %></p>

  <%# HIDE the new timeslot link when javascript is enabled.%>
 <script type='text/javascript' charset='utf-8'>
    $('#new_time_slot_link').toggle();
  </script>
<% end %>

<div style="clear:both"></div>

<%= render :partial => 'shifts/schedule/header' %>
<%= render :partial => 'calendars/schedule/day', :collection => @day_collection %>
<%= render :partial => 'shifts/schedule/footer' %>

<!-- <h2>Shifts:</h2>
<ul>
  <%# @shifts.each_pair do |day, shifts| %>
    <li><strong>DAY: <%#=day%></strong></li>
    <%# shifts.each do |s| %>
      <li class="calendar<%#=s.calendar_id%>"<%#= " style='display:none'" if !s.calendar.active? %>><%#= s.short_name %></li>
    <%# end %>
  <%# end %>
</ul>

<h2>Timeslots:</h2>
<ul>
  <%# @time_slots.each_pair do |day, time_slots| %>
  <li><strong>DAY: <%#=day%></strong></li>
    <%# time_slots.each do |t| %>
      <li class="calendar<%#=t.calendar_id%>"<%#= " style='display:none'" if !t.calendar.active? %>><%#= t.to_s %></li>
    <%# end %>
  </span>
  <%# end %>
</ul> -->


<script>
  initialize("body");

  function initialize(element){
    $(element+' li.click_to_add_new_timeslot').click(function (e) {
      popup_new_timeslot($(this), e, this);
      return false;
    });

    $(element+' li.click_to_add_new_shift').click(function (e) {
      popup_new_shift($(this), e, this);
      return false;
    });

    $(element+' li.click_to_edit_shift').click(function (e) {
      popup_edit_shift($(this), e);
      return false;
    });

    $(element+' li.click_to_edit_timeslot').click(function (e) {
      popup_edit_timeslot($(this), e);
      return false;
    });

    $(element+' a.click_to_delete_repeating_shift').click(function (e) {
      popup_delete_repeating_shift($(this), e);
      return false;
    });

    $(element+' a.click_to_delete_repeating_timeslot').click(function (e) {
      popup_delete_repeating_timeslot($(this), e);
      return false;
    });

    //don't stop links from firing
    // $(element+' li.click_to_edit_timeslot a').click(function (e) {
    //   e.stopPropagation();
    // });
    //
    // $(element+' li.click_to_edit_shift a').click(function (e) {
    //   e.stopPropagation();
    // });

    $(element+' li.click_to_edit_shift a.delete_link').click(function (e) {
      e.stopPropagation();
    });

    $(element+' li.click_to_edit_timeslot a.delete_link').click(function (e) {
      e.stopPropagation();
    });

    show_visible(element);

  }

  function popup_new_timeslot(parent_element, e, raw_element){
    $("#tooltip").remove();

    var elementID = parent_element.attr('id');
    var params = elementID.split("_", 2);
    var locationID = params[0].substring(8); //remove "location" from id

    //cursor position magic
    var relX = e.pageX - getXOffset(raw_element);
    var widthPercentage = relX / parent_element.width();
    var date = params[1];

    loading_tooltip(e.pageX, e.pageY);
    $.ajax({data:"calendar=<%= @calendar.nil? ? "true" : @calendar.id %>&location_id="+locationID+"&date="+date+"&xPercentage="+widthPercentage, dataType:'script', type:'get', url:'<%= new_time_slot_path %>', async: false});
  }

  function popup_new_shift(parent_element, e, raw_element){
    $("#tooltip").remove();

    var elementID = parent_element.attr('id');
    var params = elementID.split("_", 2);
    var locationID = params[0].substring(8); //remove "location" from id
    var date = params[1];

    //cursor position magic
    var relX = e.pageX - getXOffset(raw_element);
    var widthPercentage = relX / parent_element.width();

    loading_tooltip(e.pageX, e.pageY);
    $.ajax({data:"calendar=<%= @calendar.nil? ? "true" : @calendar.id %>&location_id="+locationID+"&date="+date+"&xPercentage="+widthPercentage, dataType:'script', type:'get', url:'<%= new_shift_path %>', async: false});
  }

  function popup_edit_timeslot(parent_element, e){
    $("#tooltip").remove();

    var id = parent_element.attr('id').substring(8); //remove "timeslot" from id

    loading_tooltip(e.pageX, e.pageY);
    $.ajax({data:"calendar=<%= @calendar.nil? ? "true" : @calendar.id %>", dataType:'script', type:'get', url:'<%= time_slots_path %>/'+id+'/edit', async: false});
  }

  function popup_edit_shift(parent_element, e){
    $("#tooltip").remove();

    var id = parent_element.attr('id').substring(5); //remove "shift" from id

    loading_tooltip(e.pageX, e.pageY);
    $.ajax({data:"calendar=<%= @calendar.nil? ? "true" : @calendar.id %>", dataType:'script', type:'get', url:'<%= shifts_path %>/'+id, async: false});
  }

  function popup_delete_repeating_shift(parent_element, e){
    $("#tooltip").remove();

    var id = parent_element.attr('id').substring(17); //remove "delete_repeating_" from id

    loading_tooltip(e.pageX, e.pageY);
    $.ajax({data:"calendar=<%= @calendar.nil? ? "true" : @calendar.id %>&delete_options=true", dataType:'script', type:'get', url:'<%= shifts_path %>/'+id, async: false});
  }

  function popup_delete_repeating_timeslot(parent_element, e){
    $("#tooltip").remove();

    var id = parent_element.attr('id').substring(17); //remove "delete_repeating_" from id

    loading_tooltip(e.pageX, e.pageY);
    $.ajax({data:"calendar=<%= @calendar.nil? ? "true" : @calendar.id %>&delete_options=true", dataType:'script', type:'get', url:'<%= time_slots_path %>/'+id+'/edit', async: false});
  }

  function loading_tooltip(x,y){
    $('body').append("<div id='tooltip' style='position: absolute; left:"+x+"px; top:"+y+"px'>Loading...</div>");
  }

  function getXOffset(element){
    var x = 0
    while(element){
        x += element.offsetLeft;
        element = element.offsetParent;
    }
    return x;
  }

  //show all calendars that are currently visible, even after rerender
  function show_visible(element){
    for (calendar_id in calendar_visible) {
      if (calendar_visible[calendar_id] == true) {
        $(element+' .calendar'+calendar_id).show();
      }
      else {
        $(element+' .calendar'+calendar_id).hide();
      }
    }
  }
</script>
