	<p>
    <%= f.label :acceptable_start %>:
    <%= f.time_select :acceptable_start, {
                :simple_time_select => true,
                :time_separator => "",
                :minute_interval => current_department.department_config.time_increment
                                          } %>
  </p>
  <p>
    <%= f.label :preferred_start %>:
		<%= f.time_select :preferred_start, {
                :simple_time_select => true,
                :time_separator => "",
                :minute_interval => current_department.department_config.time_increment
                                          } %>
  </p>
  <p>
    <%= f.label :preferred_end %>:
		<%= f.time_select :preferred_end, {
                :simple_time_select => true,
                :time_separator => "",
                :minute_interval => current_department.department_config.time_increment
                                          } %>
  </p>

  <p>
    <%= f.label :acceptable_end %>:
		<%= f.time_select :acceptable_end, {
                :simple_time_select => true,
                :time_separator => "",
                :minute_interval => current_department.department_config.time_increment
                                          } %>
  </p>
  <p>
    <%= f.label :day, "What day" %>:
    <%= f.select :day, RequestedShift::WEEK_DAY_SELECT %>
  </p>
	Locations:
	<% current_department.locations.each do |location| %>
		<%= check_box_tag "for_locations[]", location.id %>
		<%= label_tag "location_#{location.id}", text = location.short_name %>
		<%= ", " unless location == current_department.locations.last %>
	<% end %>

