<h1>Editing your shift request</h1>

<% form_for(@requested_shift) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', [@week_template, @requested_shift] %> |
<%# why doesn't
template_requested_shifts_path(@week_template, @requested_shift.id)
work here? %>
<%= link_to 'Back', requested_shifts_path(@week_template) %>
