<h1>Listing requested_shifts</h1>

<table>
  <tr>
		<th>User</th>
    <th>Preferred start</th>
    <th>Preferred end</th>
    <th>Acceptable start</th>
    <th>Acceptable end</th>
    <th>Day</th>
		<th>Locations</th>
  </tr>

<% @requested_shifts.each do |requested_shift| %>
  <tr>
		<td><%=h requested_shift.user.name %></td>
    <td><%=h requested_shift.preferred_start.strftime("%I:%M %p") %></td>
    <td><%=h requested_shift.preferred_end.strftime("%I:%M %p") %></td>
    <td><%=h requested_shift.acceptable_start.strftime("%I:%M %p") %></td>
    <td><%=h requested_shift.acceptable_end.strftime("%I:%M %p") %></td>
    <td><%=h requested_shift.day %></td>
		<td><%=h requested_shift.locations %></td>
    <td><%= link_to 'Show', template_requested_shift_path(@week_template, requested_shift) %></td>
    <td><%= link_to 'Edit', edit_requested_shift_path(requested_shift) %></td>
    <td><%= link_to 'Destroy', requested_shift, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New requested_shift', new_requested_shift_path %>

<%= render :partial => 'week' %>
