<h1>New requested_shift</h1>

<% form_for(@requested_shift) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :preferred_start %><br />
    <%= f.datetime_select :preferred_start %>
  </p>
  <p>
    <%= f.label :preferred_end %><br />
    <%= f.datetime_select :preferred_end %>
  </p>
  <p>
    <%= f.label :acceptable_start %><br />
    <%= f.datetime_select :acceptable_start %>
  </p>
  <p>
    <%= f.label :acceptable_end %><br />
    <%= f.datetime_select :acceptable_end %>
  </p>
  <p>
    <%= f.label :day %><br />
    <%= f.date_select :day %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', requested_shifts_path %>