<h1 id = "page_title">Shift request for <%= "#{@requested_shift.user.name}" %></h1>
<p>
  <b>Preferred start:</b>
  <%=h @requested_shift.preferred_start %>
</p>

<p>
  <b>Preferred end:</b>
  <%=h @requested_shift.preferred_end %>
</p>

<p>
  <b>Acceptable start:</b>
  <%=h @requested_shift.acceptable_start %>
</p>

<p>
  <b>Acceptable end:</b>
  <%=h @requested_shift.acceptable_end %>
</p>

<p>
  <b>Day:</b>
  <%=h RequestedShift::WEEK_DAY_SELECT[@requested_shift.day][0] %>
</p>

<p>
	<b>Locations:</b>
	<%=h @requested_shift.locations.collect{|loc| loc.short_name}.to_sentence %>
</p>

<%= link_to 'Edit', edit_template_requested_shift_path(@week_template) %>

