<div style="width:30%; float:right" id="data_type_display">
  <%= render :partial => "summary" %>
</div>
<div style="width: 60%; float:left">
  <% form_for @data_type do |form| %>
    <%= form.error_messages %>
    <p>
      <%= form.label :name %><br />
      <%= form.text_field :name %>
    </p>
    <p>
      <%= form.label :description %><br />
      <%= form.text_field :description %>
    </p>
  
    <div class="ajax_form">
      -----<br>
      only show this after initial AJAX submit
      <h2>Data Fields</h2>
      <% form.fields_for :data_fields do |df_form| %>
    
      <p>
        <%= df_form.label :name %>
        <%= df_form.text_field :name %>
      </p>
      <p>
        <%= df_form.label :display_type %><br />
        <%= df_form.select :display_type, options=(DataField::DISPLAY_TYPE_OPTIONS) %><br/>
      </p>
      <p>
        <%= df_form.label :options %><br />
        <%= df_form.text_field :values %><br />
        <em><small>For text field display types, values 
          should be either "integer", "decimal", or "text"</small></em>
      </p>
      <hr/>
    <% end %>
    <p><%= form.submit "Submit" %></p>
  <% end %>
</div>
<div style="clear:both"></div>
