<% title "Data Type" %>

<p>
  <strong>Name:</strong>
  <%=h @data_type.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @data_type.description %>
</p>
<p>
  <strong>Data fields:</strong>
  <%=h @data_type.data_fields.map{|df| df.name}.join(', ') %>
</p>
<p>
  <strong>Data Objects</strong>
    <ul>
      <% for obj in @data_type.data_objects %>
        <li><%= link_to "#{obj.name}", obj %></li>
      <% end %>
    </ul>
<p>
  <%= link_to "New Data Field", edit_data_type_path(@data_type) %> |
  <%= link_to "New Data Object", new_data_type_data_object_path(@data_type) %> | 
  <%= link_to "Edit", edit_data_type_path(@data_type) %> |
  <%= link_to "Destroy", @data_type,  
  :confirm => 'Are you sure? This will destroy all data objects of this type, as well as their associated entries.', 
  :method => :delete %> |
  <%= link_to "View All Data Types", data_types_path %>
</p>
