<h1>Time Slots for <%= @week_template.name %> </h1>
<% form_for([@week_template, @template_time_slot]) do |f| %>
	<p>
	Where:
	<% @week_template.locations.each do |location| %> 
		<%= check_box_tag "for_locations[]", location.id %>
		<%= label_tag "location_#{location.id}", text = location.short_name %>
		<%= "," unless location == @week_template.locations.last %>
	<% end %>
	</p>
	<p>
	Start time:
	<%= f.time_select "start_time", {
													:simple_time_select => true,
										      :time_separator => "",
										      :minute_interval => current_department.department_config.time_increment,
													:start_time => Time.now-9000,
										      :end_time => Time.now+10000,
										      :include_start_time => true,
										      :include_end_time => false,
										      :default => Time.now} %>
	</p>
	<p>
	End time:
	<%= f.time_select "end_time", {
													:simple_time_select => true,
										      :time_separator => "",
										      :minute_interval => current_department.department.department_config.time_increment,
													:start_time => Time.now-9000,
										      :end_time => Time.now+10000,
										      :include_start_time => true,
										      :include_end_time => false,
										      :default => Time.now} %>
	</p>
	<p>
	Day:
	<% RequestedShift::WEEK_DAY_SELECT.each do |day| %>
		<%= check_box "template_time_slot[day]", day[1].to_i %> <%= "#{day[0][0..2]}" %>
	<% end %>
	</p>
	<%= f.submit 'Add time slot' %>
<% end %>

<table>
  <tr>
    <th>Day</th>
    <th>Start</th>
    <th>End</th>
		<th>Locations</th>
  </tr>

<% @template_time_slots.each do |template_time_slot| %>
  <tr>
    <td><%=h template_time_slot.day %></td>
    <td><%=h template_time_slot.start_time %></td>
    <td><%=h template_time_slot.end_time %></td>
		<td><%=h template_time_slot.location.short_name %></td>
    <td><%= link_to 'Edit', edit_template_time_slot_path(template_time_slot) %></td>
    <td><%= link_to 'X', template_time_slot, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
