<div class="time_table_updated" id="div_<%= @current_day %>">
  <% table_id = "table_" + @current_day.to_s %>

  <div style="text-align:left">
    <h3><%= link_toggle table_id, @current_day.to_s(:just_date_long) %></h3>
  </div>

  <div id="<%= table_id %>">
    <div id="<%= sign_up_div_id %>" style="display:none"></div>
    <div id="<%= sign_in_div_id %>" style="display:none"></div>
    <table class="day_view">
      <thead>
        <tr class="hours">
          <th class="location_label"></th>
          <% for hour in @dept_start_hour...@dept_end_hour -%>
            <td class="hour" colspan="<%= @blocks_per_hour %>"><%= (hour-1) % 12 + 1%>:00</td>
          <% end -%>
        </tr>
        <tr class="segments">
          <th class="location_label"></th>
          <% @blocks_per_day.times do -%>
            <td class="min_segment" colspan="1">&nbsp;</td>
          <% end -%>
        </tr>
      </thead>
      <tbody>
        <%= yield %>
      </tbody>
    </table>
  </div>
</div>

