<h2><a name="<%= day.to_s %>"><%= day.to_s(:just_date_long) %></a></h2>

<div class="timeline" style="height:116px; width: 100%;">
  <div class="days">
    <div class="day" style="height: <%= 100 / (@table_height)%>%;"></div>
    <%= render :partial => "shifts/schedule/loc_group", :collection => @loc_groups %>
  </div>
  <div class="timeline-data">
    <ul class="intervals" style="height: <%= 100 / (@table_height)%>%;">
      <%= render :partial => "shifts/schedule/hour", :collection =>  @dept_start_hour...@dept_end_hour %>
    </ul>
    <%= render :partial => "shifts/schedule/loc_group_row", :collection => @loc_groups, :locals => {:day => day}  %>
  </div>
</div>
