<% content_for :head do %>
  <%= stylesheet_link_tag 'timeline' %>
<% end %>

<%
  load_schedule_variables if not @dept_start_hour #load if we haven't loaded them already
                                          #(so we can render this partial on the dashboard)
  load_day_variables(day)
%>

<% render :layout => 'shifts/schedule/day_table_layout' do %>
  <% @loc_groups.each do |loc_group| %>
    <% @loc_group = loc_group %><% #This hack is needed to make print_cell work and enable shift signup -ben %>
    <% unless loc_group.locations.empty? %>
      <%= render :partial => 'shifts/schedule/loc', :collection => loc_group.locations.select{|l| l.active}.sort_by(&:priority).reverse %>

      <% unless loc_group == @loc_groups.last %>
        <tr>
          <td class="between_groups" colspan="<%=@blocks_per_day+1%>"></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= (render :partial => 'shifts/list_of_shifts/shifts_outside_display_layout', :object => @shifts_outside_display) unless @shifts_outside_display.empty? %>


<h1>Experimental Schedule (in progress):</h1>

<div class="timeline" style="height:250px; width: 100%;">
  <div class="days">
    <div class="day" style="height: 11%;"></div>
    <%= render :partial => "shifts/schedule/loc_group", :collection => @loc_groups %>
  </div>
  <div class="timeline-data">
    <ul class="intervals" style="height: 11%;">
      <%= render :partial => "shifts/schedule/hour", :collection =>  @dept_start_hour...@dept_end_hour %>
    </ul>
    <%= render :partial => "shifts/schedule/loc_group_row", :collection => @loc_groups  %>
  </div>
</div>
