<li id="shift<%=hidden_shift.id%>" class="<%= hidden_shift.css_class(current_user) %> click_to_show">
  <%= hidden_shift.user.name %><br/>
  <%= hidden_shift.start.to_s(:am_pm) %> - <%= hidden_shift.end.to_s(:am_pm) %>
  (<%= hidden_shift.location.short_name %>)
</li>
