<ul id="location<%=location.id%>_<%=day%>_events" class="events" style="height:<%= @table_pixels / (@table_height)%>px;">
  <% if day < Date.today %>
    <li id="location<%=location.id%>_<%=day%>_free_time" style="width:100%;" class="no_signups"></li>
  <% else %>
    <%# location_preprocessing(location, day) %>
    <%= render :partial => 'shifts/schedule/signup_bar', :object => @signup_bar, :locals => {:location => location, :day => day} %>
  <% end %>
  <%= render :partial => "shifts/schedule/shift", :collection => location_row -%>
</ul>
<% @location_row += 1 %>
