<ul id="location<%=location.id%>_<%=day%>_events" class="events" style="height:<%= @table_pixels / (@table_height)%>px;">
  <% if day < Date.today %>
    <li id="location<%=location.id%>_<%=day%>_free_time" style="width:100%;" class="no_signups"></li>
  <% elsif day == Date.today %>
    <%#TODO: finish this%>
    <li id="location<%=location.id%>_<%=day%>_free_time" style="width:100%; z-index: -100" class="no_signups"></li>
    <% @location_rows_timeslots[location].each do |timeslot| %>
      <li id="location<%=location.id%>_<%=day%>_timeslot<%=timeslot.id%>" style="<%=shift_style(timeslot, Time.now)%>" class="click_to_add_new"></li>
    <% end %>
  <% else %>
    <li id="location<%=location.id%>_<%=day%>_free_time" style="width:100%; z-index: -100" class="no_signups"></li>
    <% @location_rows_timeslots[location].each do |timeslot| %>
      <li id="location<%=location.id%>_<%=day%>_timeslot<%=timeslot.id%>" style="<%=shift_style(timeslot)%>" class="click_to_add_new"></li>
    <% end %>
  <% end %>
  <%= render :partial => "shifts/schedule/shift", :collection => location_row -%>
</ul>
<% @location_row += 1 %>
