<li id="timeslot<%=shift.id%>" style="<%=shift_style(time_slot)%>" onclick="alert($('#timeslot<%=time_slot.id%>').html()); <%= remote_function :url => root_path %>">
  <div class="time-slot">
    <div class="center_container">
      <div class="center_content">
        <%= link_to "x", shift, :confirm => 'Are you sure?', :method => :delete, :style => "float:right;margin-right:3px" %>
        <%= "#{shift.start.strftime("%l:%M%p")} - #{shift.end.strftime("%l:%M%p")}" %>
      </div>
    </div>
  </div>
</li>
