<li id="shift<%=shift.id%>" style="<%=shift_style(shift)%>" class="<%= shift.css_class(current_user) %> click_to_show">
  <div class="time-slot">


      <% for sub in shift.sub_requests %>
          <%# if !sub.has_started? and sub.user_is_eligible?(current_user) %>
              <% width = (sub.end - sub.start).to_f/(shift.end - shift.start).to_f * 100 %>
              <% left = (sub.start - shift.start).to_f/(shift.end - shift.start).to_f * 100 %>
              <div class= "sub-bribe" style="position:absolute; width:<%= width %>%;left:<%= left %>%;">
                  <% width = (sub.mandatory_end - sub.mandatory_start).to_f/(sub.end - sub.start).to_f * 100 %>
                  <% left = (sub.mandatory_start - sub.start).to_f/(sub.end - sub.start).to_f * 100 %>
                  <div class="sub-mandatory" style="position:absolute; width:<%= width %>%;left:<%= left %>%;">
                  </div>
              </div>
          <%# end %>
      <% end %>

      <% if @right_overflow or @left_overflow %>
          <%= image_tag "overflow_arrow_right.png", {:class => "right_arrow", :alt => "right arrow", :height => @table_pixels / @table_height + 1 } if @right_overflow %>
          <%= image_tag "overflow_arrow_left.png",  {:class => "left_arrow",  :alt => "left arrow",  :height => @table_pixels / @table_height + 1 } if @left_overflow %>
      <% end %>
      <div class="center_container">
      <div class="center_content">
          <%#= link_to_remote "x", {:url => shift, :confirm => 'Are you sure?', :method => :delete}, :style => "float:right;margin-right:3px" %>
          <%# TODO: write code to shorten text when div is small %>
          <%# (text could also be dynamically shrunk by javascript after page loading, to make sure the contents fit) %>
          <%= shift.user.name %><br/>
          <%= "#{shift.start.strftime("%l:%M%p")} - #{shift.end.strftime("%l:%M%p")}" %>
      </div>
    </div>
  </div>
</li>
