<% title "Report Item" %>

<p>
  <strong>Report ID:</strong>
  <%= link_to @report_item.report.id, @report_item.report %>
</p>
<p>
  <strong>Time:</strong>
  <%=h @report_item.time %>
</p>
<p>
  <strong>Content:</strong>
  <%= @report_item.content_with_formatting %>
</p>
<p>
<strong>IP Address:</strong>
  <%=h @report_item.ip_address %>
</p>

<p>
  <%= link_to "Edit", edit_report_item_path(@report_item) %> |
  <%= link_to "Destroy", @report_item, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", shift_report_report_items_path(@report_item.report) %>
</p>

