<ul id="miniTabs">
  <% if current_user.is_superuser? -%>
    <li class="<%= tab('departments') %>"><%= link_to "Departments", departments_path %></li>
  <% end -%>
  <% if current_department && !current_department.new_record? &&
        (current_user.is_admin_of?(current_department) || current_user.is_superuser?) -%>
    <li class="<%= tab('users') %>"><%= link_to "Users", department_users_path(current_department) %></li>
  <% end -%>
    <li class="<%= tab('shifts') %>"><%= link_to "Shifts", shifts_path %></li>
    <li class="<%= tab('reports') %>"><%= link_to "Reports", :controller => :reports %></li>
    <li class="<%= tab('sub_requests') %>"><%= link_to "Sub Requests", :controller => :sub_requests %></li>
    <li class="<%= tab('time_slots') %>"><%= link_to "Time Slots", time_slots_path %></li>
    <li class="<%= tab('notices') %>"><%= link_to "Notices", notices_path %></li>
  </ul>
<% end -%>

