<ul id="miniTabs"> <!-- id="no_underlined"> -->
  <% if current_user.is_superuser? -%>
    <li class="<%= tab('departments') %>"><%= link_to "Departments", departments_path %></li>
  <% end -%>
  <% if @department && !@department.new_record? &&
        (current_user.is_admin_of?(@department) || current_user.is_superuser?) -%>

    <li class="<%= tab('users') %>"><%= link_to "Users", department_users_path(@department) %></li>
    <li class="<%= tab('roles') %>"><%= link_to "Roles", department_roles_path(@department) %></li>
    <li class="<%= tab('payforms') %>"><%= link_to "Payforms", payforms_path %></li>
    <li class="<%= tab('categories') %>"><%= link_to "Categories", department_categories_path(@department) %></li>
    <li class="<%= tab('payform_sets') %>"><%= link_to "Payform Sets", payform_sets_path %></li>
    <li class="<%= tab('payform_item_sets') %>"><%= link_to "Mass Jobs", payform_item_sets_path %></li>

  <% end -%>
<ul>

