<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || 'Student Technology Collaborative') %></title>
    <%= stylesheet_link_tag 'application', 'nav' %>
    <%= javascript_include_tag 'application', 'jquery', 'jrails' %>
    <%= yield(:head) %>
  </head>
  <body>
    <a id="top_of_page" name="top_of_page"></a>
    <!-- Start pagebox container -->
    <div id="pagebox">
      <div id="yaleHeader">
        <h2 class="yaleHeader">
          <a title="Yale Unversity" href="http://www.yale.edu/">Yale University</a>
        </h2>
        <%= render :partial => "layouts/include/login" if @session%>
      </div>
      <div id="identityHeader">
        <div class="logo"><%= render :file => "layouts/include/logo.html.erb" %></div>
      </div>
      <div id="itsLinksHeader">
    	  <%= render :partial => "layouts/include/chooser" if @session%>
        <div id="miniTabsBox">
          <%= render :partial => "layouts/include/nav" if @session && current_user %>
        </div>
      </div>

