<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || 'Shifts') %></title>
    <%= stylesheet_link_tag 'reset', 'nav', 'tokeninput-facebook', 'datepicker', 'superfish', 'timeline', 'public_view' %>
    <%= javascript_include_tag 'jquery','jquery-ui', 'jquery.tools.min','jquery.tablesorter', 'jrails', 'jquery.tokeninput', 'department_config', 'application', 'datepicker', 'locationcheckboxes', 'jquery.hoverIntent', 'superfish' %>
   

 	<% if !mobile_device? %>
		<%= javascript_include_tag 'thickbox-compressed','navigationlist' %>
		<%= stylesheet_link_tag "superfish-vertical", 'application', 'report', 'thickbox'%>
	<% else %>
		<%= stylesheet_link_tag 'superfish-vertical_mobile', 'mobile_report' %>	
    <% end %>
	
	<%= yield(:head) %>
	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
    <link rel="icon" href="/favicon.ico" type="image/ico" />
  </head>
  <body>
    <!-- Start pagebox container -->
    <div id="pagebox">
      <div id="page_header">
        <h2 class="page_header">
          <a href="http://www.yale.edu">Shifts by Yale University</a>
        </h2>
      <% if ( mobile_device? ) && (current_user || session[:cas_user]) %>
        <%= render :partial => "layouts/include/mobile_login" %>
      <% elsif current_user || session[:cas_user] %>
        <%= render :partial => "layouts/include/login" %>
      <% end %>
      </div>
      <div id="main_banner">
      </div>
      <div id="link_bar">
        <div id="application_tab_bar">
          <%= render :partial => "layouts/include/chooser" if current_user%>
					<%= render :partial => "layouts/include/shift_indicator" if current_user%>
					<%= render :partial => "layouts/include/nav" if current_user %>
        </div>
      </div>
