  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <ul>
  <% for lg in @department.loc_groups -%>
      <li><%= lg.name %></li>
        <% for perm in lg.permissions -%>
            <div>
              <%= check_box_tag "role[permission_ids][]", perm.id, @role.permissions.include?(perm) %>
              <%= perm.name %>
            </div>
        <% end -%>
  <% end -%>
  </ul>

