  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <h3>Permissions</h3>
  <p>
    <%= check_box_tag "role[permission_ids][]", @department.permission_id, @role.permissions.include?(@department.permission) %>
    <%= @department.permission.name %>
  </p>
  <ul>
    <% if @department.loc_groups.empty? -%>
      <p>No location groups, hence no corresponding permissions.</p>
    <% end -%>
    <% for lg in @department.loc_groups -%>
        <li><%= lg.name %></li>
          <% for perm in lg.permissions -%>
              <div>
                <%= check_box_tag "role[permission_ids][]", perm.id, @role.permissions.include?(perm) %>
                <%= perm.name %>
              </div>
          <% end -%>
    <% end -%>
  </ul>

