<% title "Role" %>

<p>
  <strong>Name:</strong>
  <%=h @role.name %>
</p>
<p>
  <strong>Permissions:</strong><br />
  <ul>
    <%= "<li>"+@department.admin_permission.name+"</li>" if @role.permissions.include?(@department.admin_permission) %>
    <% if @department.loc_groups.empty? -%>
      <p>No location groups, hence no corresponding permissions.</p>
    <% end -%>
    <% for lg in @role.departments.collect{|dept| dept.loc_groups}.flatten -%>
        <li><%= lg.name %></li>
          <ul>
          <% for perm in lg.permissions -%>
              <%= "<li>"+perm.name+"</li>" if @role.permissions.include?(perm) %>
          <% end -%>
          </ul>
    <% end -%>
  </ul>
</p>

<p>
  <%= link_to "Edit", edit_role_path(@role) %> |
  <%= link_to "Destroy", @role, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", department_roles_path(@department) %>
</p>

