<%= render :partial => 'progress_bar', :locals => {:current_step => 1} %>
<% title "Configure App Settings" %>
<% form_for @app_config, :url => create_first_app_config_path do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :auth_types, text = "Login Options" %>
  <%= multiple_select :app_config, :auth_types, AppConfig::LOGIN_OPTIONS %>
  </p>
  <p>
    <%= f.label :ldap_host_address %>
    <%= f.text_field :ldap_host_address %>
  </p>
  <p>
    <%= f.label :ldap_port %>
    <%= f.text_field :ldap_port %>
  </p>
    <p>
    <%= f.label :ldap_base %>
    <%= f.text_field :ldap_base %>
  </p>
  <p>
    <%= f.label :ldap_login %>
    <%= f.text_field :ldap_login %>
  </p>
    <p>
    <%= f.label :ldap_first_name %>
    <%= f.text_field :ldap_first_name %>
  </p>
  <p>
    <%= f.label :ldap_last_name %>
    <%= f.text_field :ldap_last_name %>
  </p>
    <p>
    <%= f.label :ldap_email %>
    <%= f.text_field :ldap_email %>
  </p>
  <p>
    <%= f.label :footer %><br />
    <small>You can edit this footer with HTML.  Be careful to close your tags,
    or you may produce broken pages.</small><br/>
    <%= f.text_area :footer, {:class => "settings", :size => "80x10"} %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>

