<%= render :partial => 'progress_bar', :locals => {:current_step => 2} %>
<% title "Create your department" %>
<%= form_for @department, :url => create_first_department_path do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <small>Choose a name for your department. If you'd like, you may add additional departments after initial setup is complete</small><br/>
    <%= f.text_field :name %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>

