<%= category.active ? "<tr>".html_safe : "<tr class='disabled'>".html_safe %>
	<td><%= category.name %></td>
	<td><%= category.payform_items.count.to_s%></td>
	<td><%= link_to 'Edit', edit_category_path(category)%></td>
	<td><%= link_to 'Delete', category_path(category, {:method => :delete} )%></td>
	<% if category.active?%>
	<td><%= link_to 'Disable', {:action => :disable, :id => category}, {:method => :put} %></td>
	<% else%>
	<td><%= link_to 'Enable', {:action => :enable, :id => category}, {:method => :put}%></td>
	<% end %>
</tr>
