<% title "Categories" %>

<table>
  <tr>
    <th>Active</th>
    <th>Name</th>
  </tr>
  <% for category in @categories %>
    <tr>
      <td><%=h category.active %></td>
      <td><%=h category.name %></td>
      <td><%= link_to "Show", category %></td>
      <td><%= link_to "Edit", edit_category_path(category) %></td>
      <td><%= link_to "Destroy", category, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Category", new_department_category_path(@department) %></p>

