<% form_for(@sticky) do |f| %>
  <%= f.error_messages %>
	
	<fieldset class = "index">
    <legend>Content:</legend>
    <%= f.text_area :content, :id=>"content", :size => "60x5" %>
  </fieldset>
	
	<fieldset class = "index">
  <legend>Where:</legend>

    <%= check_box_tag :department_wide_locations, department_check(current_department) %>
    <%= label_tag "department_wide_locations", text = current_department.name + " (all locations)" %>

  <div id = "all_locations">
    <% for loc_group in current_department.loc_groups do %>
      <li id = "notice_li">
        <%= check_box_tag "for_location_groups[]", loc_group.id, loc_group_check(loc_group) %>
        <%= label_tag "location_group_#{loc_group.id}", text = loc_group.name %>:
        <% for location in loc_group.locations do %>
          <%= check_box_tag "for_locations[]", location.id, location_check(location) %>
          <%= label_tag "location_#{location.id}", text = location.short_name %>
          <% unless location == loc_group.locations.last %> , <%end%>
        <% end %>
      </li>
    <% end %>
  </div>
	</fieldset>

	<fieldset class = "index">
		<legend>End time:</legend>
		<%= radio_button_tag 'end_time_choice', 'indefinite', end_time_check(true) %> Manually delete (anyone can delete any sticky) <br/>
		<%= radio_button_tag 'end_time_choice', 'date', end_time_check(false) %> Automatically expire on: 
		<%= f.unobtrusive_datetime_picker :end_time, :minute_step => @department.department_config.time_increment %>
	</fieldset>

	<fieldset class = "index">
    <legend>Who:</legend>
    Enter any name, login, role or department
    <%= tokenized_users_autocomplete(@notice, "user_sources", "for_users") %>
  </fieldset>
  
	<p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', stickies_path %>
