<% if params[:layout]=="false" %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="myModalLabel">Post a new sticky</h4>
  </div>
  <div class="model-body">
<% end %>

<%= form_for(@sticky, remote: params[:layout]=="false") do |f| %>
  <div id ="errors">
    <%= render partial: "notices/error_messages", locals: {f: f} %>
  </div>
	<fieldset class = "index">
    <legend>Content:</legend>
    <%= f.text_area :content, :id=>"content", size: "40x5" %>
  </fieldset>
	<%= link_to "Hide advanced options","#", id: "toggle_link", :style=>"display: none;" %>
	<div id="variable_height_box">
		<%= content_tag("div", {id: "advanced_options_div", style: "display: #{@display};"}) do %>
			<%= render partial: "notices/locations", locals: {notice: @sticky} %>
			<fieldset class = "index">
				<legend>End time:</legend>
				<%= radio_button_tag 'end_time_choice', 'indefinite', true %> Manually delete only (anyone can delete any sticky) <br/>
				<%= radio_button_tag 'end_time_choice', 'date', false %> Automatically expire in one:
				<%= f.select :end, Sticky::EXPIRE_ON %>
			</fieldset>

	<% end %>
	</div>
	<% if params[:layout]=="false" %>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit 'Save', class: "btn btn-primary", data:{disable_with: "Saving..."}%>
    </div>
  <% else %>
    <p>
      <%= f.submit 'Save' , data:{disable_with: "Saving..."}%>
    </p>
  <% end %>
<% end %>

<% if params[:layout]=="false" %>
  </div> <!-- modal-body div-->
<% end %>
