<h1>New sticky</h1>

<% form_for(@sticky) do |f| %>
  <%= f.error_messages %>
<p>  
<%= f.label :content %><br />  
<%= f.text_area :content %>  
</p> 
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', stickies_path %>
