<% form_for (@shift ||= Shift.new) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :start %><br />
    <%= f.datetime_select :start, :default => Time.now, :minute_step => 15 %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.datetime_select :end, :default => Time.now, :minute_step => 15 %>
  </p>
  <% if current_user.is_admin_of?(@department) %>
  <p>
    <%= f.label :user %><br />
    <%= f.collection_select(:user_id, @department.users, :id, :name, {:prompt => "Select a user"}) %>
  </p>
  <% end %>
  <p>
    <%= f.label :location %><br />
    <%= select_tag 'shift[location_id]', option_groups_from_collection_for_select(@department.loc_groups, :locations, :name, :id, :name, @shift.location ? @shift.location.id : nil)%><br />
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>

<pre><%= params.to_yaml %></pre>