<% title "Staffing at #{@location.name} from #{@view_days.first.strftime("%b %e, %Y ")} to #{@view_days.last.strftime("%b %e, %Y ")}" %>
<% preprocess_loc_group(@location.loc_group) %>

<%= render :partial => "location", :locals => {:location => @location} %>

<h3>Today's Shifts:</h3>
<table class="tablesorter">
	<thead>
		<th>Pic</th>
		<th>Name</th>
		<th>From</th>
		<th>To</th>
		<th>On Shift Now?</th>
	</thead>
	<tbody>
	<% @upcoming_shifts.each do |shift| %>
		<tr>
			<td><%= image_tag shift.user.user_profile.photo.url(:thumbnail) %></td>
			<td><%= shift.user.name %></td>
			<td><%= shift.start.strftime(time_format) %></td>
			<td><%= shift.end.strftime(time_format) %></td>
			<td><%= shift.signed_in? ? "Yes!" : nil %></td>
		</tr>
	<% end %>
	</tbody>
</table>

