<div class="shift_admin_form">
<% form_for @department_config do |f| %>
  <%= f.error_messages %>
  <fieldset class = "index">
    <legend>Edit Shift Configuration</legend>
    <p>
      <label>Schedule view start time:</label>
      <%= f.select :schedule_start, @time_choices %>
    </p>
    <p>
      <label>Schedule view end time:</label>
      <%= f.select :schedule_end, @time_choices %>
    </p>
    <p>
      <label>Shift time increment:</label>
      <%= f.text_field :time_increment, :size => 6 %>
    </p>
    <p>
      <label>Late sign-in grace period:</label>
      <%= f.text_field :grace_period, :size => 6 %>
    </p>
      <p>
        <label>Display weekends on shift schedule:</label>
        <%= f.check_box :weekend_shifts %>
      </p>
      <p>
        <label>Display unscheduled shifts:</label>
        <%= f.check_box :unscheduled_shifts %>
      </p>
  </fieldset>
  <br/>
  <fieldset class = "index">
    <legend>Edit Payform Configuration</legend>
    <p>
      <label>Default Printed Payform Message:</label>
      <%= f.text_area :printed_message, :size => "50x5" %>
    </p>
    <p>
      <label>Default Payform Reminder:</label>
      <%= f.text_area :reminder_message, :size => "50x5" %>
    </p>
    <p>
      <label>Default Late Payform Warning:</label>
      <%= f.text_area :warning_message, :size => "50x5" %>
    </p>
    <p>
      <label>Number of weeks before admin view warning ('0' to disable):</label>
      <%= f.text_field :warning_weeks, :size => 6 %>
    </p>
    <p>
      <label>Minimum Length for Item Description (in characters; '0' to disable):</label>
      <%= f.text_field :description_min, :size => 6 %>
    </p>
    <p>
      <label>Minimum Length for Edit or Deletion Reason (in characters; '0' to disable):</label>
      <%= f.text_field :reason_min, :size => 6 %>
    </p>
    <p>
      <label>Payform Period:</label>
      <%= f.select :monthly, DepartmentConfig::PAYFORM_PERIOD %>
    </p>
    <p id = "week">
      <label>Last day of payform week:</label>
      <%= f.select :day, DepartmentConfig::WEEK_DAY_SELECT %>
    </p>
    <p id = "month">
      <label>Last day of payform month:</label>
      <%= f.select :day, (1..31).step %>
    </p>

      <%= submit_tag "Save" %>
  </fieldset>
<% end %>
</div>

