<fieldset>
  <legend>Edit Shift Configuration</legend>
<% form_for @department_config do |f| %>
  <%= f.error_messages %>
  <p>
    <label>Department:</label>
    <%= @select_dept %>
  </p>
  <p>
    <%= f.label :schedule_start, "Schedule view start time:" %>
    <%= f.select :schedule_start, @time_choices %>
  </p>
  <p>
    <%= f.label :schedule_end, "Schedule view end time:" %>
    <%= f.select :schedule_end, @time_choices %>
  </p>
  <p>
    <%= f.label :time_increment, "Shift time increment:" %>
    <%= f.text_field :time_increment, :size => 6 %>
  </p>
  <p>
    <%= f.label :grace_period, "Late sign-in grace period:" %>
    <%= f.text_field :grace_period, :size => 6 %>
  </p>
  <p>
    <%= f.label :edit_report, "Editable reports:" %>
    <%= f.check_box :edit_report %>
  </p>
  <p>
    <%= f.submit "Save settings" %>
  </p>
<% end %>
</fieldset>

