<div class="centered_form">
<% form_for @department_config do |f| %>
  <%= f.error_messages %>
  <fieldset class = "index">
    <legend>Edit Shift Configuration</legend>
    <p>
      <%= f.label :schedule_start, text = "Schedule view start time:" %>
      <%= f.select :schedule_start, @time_choices %>
    </p>
    <p>
      <%= f.label :schedule_end, text = "Schedule view end time:" %>
      <%= f.select :schedule_end, @time_choices2 %>
    </p>
    <p>
      <%= f.label :time_increment, text = "Shift time increment:" %>
      <%= f.text_field :time_increment, :size => 6 %>
    </p>
    <p>
      <%= f.label :grace_period, text = "Late sign-in grace period:" %>
      <%= f.text_field :grace_period, :size => 6 %>
    </p>
      <p>
        <%= f.label :schedule_start, text = "Display weekends on shift schedule:" %>
        <%= f.check_box :weekend_shifts %>
      </p>
      <p>
        <%= f.label :schedule_start, text = "Display unscheduled shifts:" %>
        <%= f.check_box :unscheduled_shifts %>
      </p>
      <p>
        <%= f.label :can_take_passed_sub, text = "Allow for sub request to be taken even if shift has already begun:" %>
        <%= f.check_box :can_take_passed_sub %>
  </fieldset>
  <br/>
  <fieldset class = "index">
    <legend>Edit Payform Configuration</legend>
    <p>
      <%= f.label :schedule_start, text = "Default Printed Payform Message:" %>
      <%= f.text_area :printed_message, :size => "50x5" %>
    </p>
    <p>
      <%= f.label :schedule_start, text = "Default Payform Reminder:" %>
      <%= f.text_area :reminder_message, :size => "50x5" %>
    </p>
    <p>
      <%= f.label :schedule_start, text = "Default Late Payform Warning:" %>
      <%= f.text_area :warning_message, :size => "50x5" %>
    </p>
    <p>
      <%= f.label :schedule_start, text = "'From' address on automated emails" %>
      <%= f.text_field :mailer_address %>
    </p>
    <p>
      <%= f.label :schedule_start, text = "Elapsed weeks before warning admin about lateness of payform:" %>
      <%= f.text_field :warning_weeks, :size => 6 %>
    </p>
    <p>
      <%= f.label :schedule_start, text = "Minimum Length for Item Description (in characters; '0' to disable):" %>
      <%= f.text_field :description_min, :size => 6 %>
    </p>
    <p>
      <%= f.label :schedule_start, text = "Minimum Length for Edit or Deletion Reason (in characters; '0' to disable):" %>
      <%= f.text_field :reason_min, :size => 6 %>
    </p>
    <p>
      <%= f.label :schedule_start, text = "Payform Period:" %>
      <%= f.select :monthly, DepartmentConfig::PAYFORM_PERIOD %>
    </p>
    <p id = "week">
      <%= f.label :schedule_start, text = "Last day of payform week:" %>
      <%= f.select :day, DepartmentConfig::WEEK_DAY_SELECT %>
    </p>
    <p id = "month">
      <%= f.label :schedule_start, text = "Last day of payform month:" %>
      <%= f.select :day, (1..28).step + DepartmentConfig::LAST_DAY_SELECT %>
    </p>
  </fieldset>
<%= submit_tag "Save Settings" %>
<% end %>
</div>

