<h1>Listing department_configs</h1>

<table>
  <tr>
    <th>Department</th>
    <th>Schedule start</th>
    <th>Schedule end</th>
    <th>Time increment</th>
    <th>Grace period</th>
    <th>Edit report</th>
  </tr>

<% @department_configs.each do |department_config| %>
  <tr>
    <td><%=h department_config.department_id %></td>
    <td><%=h department_config.schedule_start %></td>
    <td><%=h department_config.schedule_end %></td>
    <td><%=h department_config.time_increment %></td>
    <td><%=h department_config.grace_period %></td>
    <td><%=h department_config.edit_report %></td>
    <td><%= link_to 'Show', department_config %></td>
    <td><%= link_to 'Edit', edit_department_config_path(department_config) %></td>
    <td><%= link_to 'Destroy', department_config, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New department_config', new_department_config_path %>