<p>
  <b>Department:</b>
  <%=h @department_config.department_id %>
</p>

<p>
  <b>Schedule start:</b>
  <%=h @department_config.schedule_start %>
</p>

<p>
  <b>Schedule end:</b>
  <%=h @department_config.schedule_end %>
</p>

<p>
  <b>Time increment:</b>
  <%=h @department_config.time_increment %>
</p>

<p>
  <b>Grace period:</b>
  <%=h @department_config.grace_period %>
</p>

<p>
  <b>Edit report:</b>
  <%=h @department_config.edit_report %>
</p>


<%= link_to 'Edit', edit_department_config_path(@department_config) %> |
<%= link_to 'Back', department_configs_path %>