<h1>Stats for <%= @user.name%></h1>

<% form_tag(:controller => 'stats', :action => 'for_user', :method => :get, :id => @user.id) do |f| %>
	<p>
    <%= label_tag :start_date %><br />
    <%=  text_field_tag 'start_date', "#{@start_date}" %>
  </p>
  <p>
    <%= label_tag :end_date %><br />
    <%=  text_field_tag 'end_date', "#{@end_date}" %>
  </p>
  <div><%= submit_tag 'Update dates' %></div>
<% end -%>

<table id="stats_table" class="tablesorter">
  <thead>
    <tr>
      <th align="left">Date</th>
			<th align="left">Shift</th>
      <th align="left">Notes</th>
    </tr>
  </thead>
	<tbody>
		<% @stats_hash.each do |shift_id, stat_entry| %>
			<tr>
				<% @shift = Shift.find_by_id(stat_entry[:id]) %>
				<td><%=h @shift.start.to_date %></td>
				<td><%=h @shift.report.nil? ? (stat_entry[:shift]) : (link_to stat_entry[:shift], shift_report_path(@shift)) %></td>
				<td><%=h stat_entry[:notes] %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<script type="text/javascript">$(document).ready(function(){$.tablesorter.defaults.widgets = ['zebra'];$("#stats_table").tablesorter({sortList: [[0,0]]});});</script>