<h1>Stats</h1>

<% form_tag('/stats', :method => :get) do |f| %>
  <p>
    <%= label_tag :start_date %><br />
    <%=  text_field_tag 'start_date', "#{@start_date}" %>
  </p>
  <p>
    <%= label_tag :end_date %><br />
    <%=  text_field_tag 'end_date', "#{@end_date}" %>
  </p>
  <div><%= submit_tag 'Update dates' %></div>
<% end -%>

<table id="stats_table" class="tablesorter">
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Total Shifts</th>
      <th align="left">Late</th>
      <th align="left">Left Early</th>
      <th align="left">Missed</th>
			<th align="left">Updates/Hour</th>
    </tr>
  </thead>
  <tbody id="user_list">
    <% @stats.each do |key, stat| %>
      <tr>
        <td><%= link_to stat[:name], {:controller => :stats, :action => 'for_user', :id => stat[:u], :start_date => @start_date, :end_date => @end_date } %></td>
        <td><%=h stat[:num_shifts] %></td>
        <td><%=h stat[:num_late] %></td>
        <td><%=h stat[:num_left_early] %></td>
        <td><%=h stat[:num_missed] %></td>
				<td><%=h sprintf("%.1f", stat[:updates]) if stat[:updates] %></td>
 			</tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">$(document).ready(function(){$.tablesorter.defaults.widgets = ['zebra'];$("#stats_table").tablesorter({sortList: [[0,0]]});});</script>