<h1>Stats</h1>

<% form_tag 'stats' do |f| %>
  <p>
    <%= label_tag :start_date %><br />
    <%=  text_field_tag 'start_date', "#{@start_date}" %>
  </p>
  <p>
    <%= label_tag :end_date %><br />
    <%=  text_field_tag 'end_date', "#{@end_date}" %>
  </p>
  <div><%= submit_tag 'Update dates' %></div>
<% end -%>

<table id="stats_table" class="tablesorter">
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Total Shifts</th>
      <th align="left">Late</th>
      <th align="left">Left Early</th>
      <th align="left">Missed</th>
			<th align="left">Updates/Hour</th>
    </tr>
  </thead>
  <tbody id="user_list">
    <% @stats.each do |key, stat| %>
      <tr class="master">
        <td><%= link_to stat[:name], {:controller => :stats, :action => 'for_user', :id => stat[:u], :start_date => @start_date, :end_date => @end_date } %></td>
        <td><%=h stat[:num_shifts] %></td>
        <td><%=h stat[:num_late] %></td>
        <td><%=h stat[:num_left_early] %></td>
        <td><%=h stat[:num_missed] %></td>
				<td><%=h stat[:updates] %></td>
      </tr class="subordinate">
			<tr>
					<td colspan="6">
						<% @my_stats = stat[:u].detailed_stats(@start_date, @end_date) %>
						<% @my_stats.each do |shift_id, stat_entry| %>
								<body>
									<font color="blue"><strong><%= stat_entry[:location].to_s %></strong></font>
									<%= " // " %>
									<strong><%= stat_entry[:start].localtime.to_s %></strong>
									<%= " to " %>
									<strong><%= stat_entry[:end].localtime.to_s %></strong>
									<%= "// Notes: " %>
									<% if stat_entry[:missed] %>
										<font color="red"><strong><%= stat_entry[:notes].to_s %></strong></font>
									<% elsif stat_entry[:late] %>
									  <font color="#ff4500"><strong><%= stat_entry[:notes].to_s %></strong></font>
									<% elsif stat_entry[:left_early] %>
									  <font color="#ffa500"><strong><%= stat_entry[:notes].to_s %></strong></font>
									<% else %>
										<font color="black"><strong><%= stat_entry[:notes].to_s %></strong></font>
									<% end %>
									<%= "// Updated: " %>
									<strong><%= stat_entry[:updates_hour].to_s %></strong>
									<%= " times/hour" %>
									<br />
								</body>
						<% end %>
					</td>
			</tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function(){
  $("#user_list tr:not(.master)").hide();
  $("#user_list tr.master").click(function(){
      $(this).next("tr").toggle();
  });
});
</script>