<% title "Stats" %>
	
<div id="left_stuff">
		<fieldset class="index" id="date_selector">
			<% form_tag(:controller => 'stats', :action => 'index', :method => :get) do %>
				  <%= label_tag :start_date %><br />
				  <%= date_select(:stat, :start_date, :default => @start_date)%>
					<br />
				  <%= label_tag :end_date %><br />
				  <%= date_select(:stat, :end_date, :default => @end_date)%>
					<br />
					<%= submit_tag 'Update dates' %>
			<% end -%>
		</fieldset>
</div>

<h2 id="user_click" ><a href="#">User Stats</a></h2>
<div id="user_slide">
	<table id="user_stats_table" class="tablesorter">
	  <thead>
	    <tr>
	      <th align="left">Name</th>
	      <th align="left">Total Shifts</th>
	      <th align="left">Late</th>
	      <th align="left">Left Early</th>
	      <th align="left">Missed</th>
				<th align="left">Updates/Hour</th>
	    </tr>
	  </thead>
	  <tbody id="user_list">
			<% if @user_stats == {} %>
				<tr><td colspan="6">There are no stats for this period.</td></tr>
			<% end %>
	    <% @user_stats.each do |key, stat| %>
	      <tr>
	        <td><%= link_to stat[:name], {:controller => :stats, :action => 'for_user', :id => stat[:u], :start_date => @start_date, :end_date => @end_date} %></td>
	        <td><%=h stat[:num_shifts] %></td>
	        <td><%=h stat[:num_late] %></td>
	        <td><%=h stat[:num_left_early] %></td>
	        <td><%=h stat[:num_missed] %></td>
					<td><%=h sprintf("%.1f", stat[:updates]) if stat[:updates] %></td>
	 			</tr>
	    <% end %>
	  </tbody>
	</table>
</div>

<h2 id="location_click" ><a href="#">Location Stats</a></h2>
<div id="location_slide">
	<table id="location_stats_table" class="tablesorter">
	  <thead>
	    <tr>
	      <th align="left">Name</th>
	      <th align="left">Total Shifts</th>
	      <th align="left">Late</th>
	      <th align="left">Left Early</th>
	      <th align="left">Missed</th>
				<th align="left">Updates/Hour</th>
	    </tr>
	  </thead>
	  <tbody id="user_list">
			<% if @location_stats == {} %>
				<tr><td colspan="6">There are no stats for this period.</td></tr>
			<% end %>
	    <% @location_stats.each do |key, stat| %>
	      <tr>
	        <td><%= link_to stat[:name], {:controller => :stats, :action => 'for_location', :id => stat[:l], :start_date => @start_date, :end_date => @end_date } %></td>
	        <td><%=h stat[:num_shifts] %></td>
	        <td><%=h stat[:num_late] %></td>
	        <td><%=h stat[:num_left_early] %></td>
	        <td><%=h stat[:num_missed] %></td>
					<td><%=h sprintf("%.1f", stat[:updates]) if stat[:updates] %></td>
	 			</tr>
	    <% end %>
	  </tbody>
	</table>
</div>

<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('#user_click').click(function(){
    $('#user_slide').slideToggle(); return false;
  })
  $('#location_click').click(function(){
    $('#location_slide').slideToggle(); return false;
  })
});
</script>

<script type="text/javascript">$(document).ready(function(){$.tablesorter.defaults.widgets = ['zebra'];$("#user_stats_table").tablesorter({sortList: [[0,0]]});$("#location_stats_table").tablesorter({sortList: [[0,0]]});});</script>

<script type="text/javascript">
var opts = {
                formElements:{"stat_start_date_3i":"j",
                              "stat_start_date_1i":"Y",
                              "stat_start_date_2i":"n"
                },
                statusFormat:"l-cc-sp-d-sp-F-sp-Y",
                noFadeEffect:true,
                       };
datePickerController.createDatePicker(opts);

var opts = {
                formElements:{"stat_end_date_3i":"j",
                              "stat_end_date_1i":"Y",
                              "stat_end_date_2i":"n"
                },
                statusFormat:"l-cc-sp-d-sp-F-sp-Y",
                noFadeEffect:true,
                       };
datePickerController.createDatePicker(opts);

</script>
