<% title "Stats results by Location" %>
<h1><%= link_to "New Stats", stats_path %>
    | <%= link_to "Less", @stat %>
</h1>

<%= render :partial => "more_note" %>
<h2><%= @stat.display %></h2>
<% form_for @stat do |f|  %>
  View by
  <%= f.select :view_by, Stat.view_formats %>
  <%= f.submit "Update" %>
  <%= hidden_field_tag :more, 1 %>
<% end -%>

<% @stat.view_by = "month" if @stat.view_by == "day" -%>
<% all_time_slots_hash = @stat.split_to_view(@stat.time_slots) -%>
<% @stat.split_to_view(@stat.shifts).sort.each do |time_point, all_shifts| %>
  <h2><%= @stat.view_title(time_point) %></h2>

  <table class="tablesorter group_shifts">
    <thead>
      <tr>
        <th>Location</th>
        <th>Day</th>
        <th># shift hours </th>
        <th># time slots hours</th>
      </tr>
    </thead>
    <tbody>
    <% loc_shifts = all_shifts.group_by {|sh| sh.location} -%>
    <% loc_time_slots = all_time_slots_hash[time_point].group_by{|ts| ts.location} -%>

    <% loc_shifts.each do |loc, shifts| %>
      <% day_arr_shifts, shifts_dur, occur_shift = split_shifts_or_slots(loc, shifts) -%>
      <% day_arr_slots, slots_dur, occur_slot = split_shifts_or_slots(loc, loc_time_slots[loc] || []) -%>

      <% day_arr_shifts.each_index do |day| -%>
        <tr>
         <td><%= loc.name %></td>
         <td><%= WEEK_DAYS[day] %></td>
         <td><%= "%.2f (%s)" % [shifts_dur[day], occur_shift[day]] %></td>
         <td><%= "%.2f (%s)" % [slots_dur[day], occur_slot[day]] %></td>
       </tr>
     <% end -%>
   <% end -%>

    </tbody>
  </table>
<% end -%>
