<% title "Stats results" %>
<%= render :partial => 'note' %>
<h1><%= link_to "Export to CSV", "%s.csv" % @stat.id %>
    | <%= link_to "New Stats", stats_path %>
    | <%= link_to "More (Average coverage)", location_more_stat_path(@stat) %>
</h1>

<h2><%= @stat.display %></h2>
<% form_for @stat do |f|  %>
  View by
  <%= f.select :view_by, Stat.view_formats %>
  &nbsp;&nbsp;&nbsp;&nbsp;Group by
  <%= f.select :group_by, Stat.group_formats %>
  <%= f.submit "Update" %>
<% end -%>

<% shifts_by_view = @stat.split_to_view(@stat.shifts)  %>
<% shifts_by_view.sort.each do |time_point, shifts| %>
  <h2><%= @stat.view_title(time_point) %></h2>
  <%= render :partial => 'group_shifts', :locals => {:cname => @stat.group_by, :stat => @stat},
           :object => shifts %>
<% end -%>
