<% title "Login" %>

<% form_for @user_session do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>

Can't login? Want to <%= link_to "register?", register_new_department_user_path(Department.first) %>
Or maybe you want to <%= link_to "login with CAS", :controller => "sessions", :action => "login" %>

