<% if params[:layout]=="false" %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="myModalLabel"> Record New Data Entry </h4>
  </div>
  <div class="modal-body">
<% end %>


<%= form_for([@data_object, @data_entry], remote: params[:layout]=="false") do |f| %>
  <div id="errors">
  <%= f.error_messages %>
  </div>
  <h2><%= @data_object.name %></h2>

  <% @data_object.data_type.data_fields.each do |field| %>
    <% args = field.prepare_form_helpers %>
    <p>
      <%= label "data_fields[#{field.id}]", "#{field.name}" %><br/>

      <% if ["text_field", "select", "text_area"].include? field.display_type %>
        <%= send(field.display_type, *args) %>
      <% elsif ["check_box", "radio_button"].include? field.display_type %>
        <% args.each do |options| %>
          <%= send(field.display_type, *options) %>
          <%= label "data_fields[#{field.id}]", "#{options.last}" %>
        <% end %>
      <% end %>

    </p>
  <% end %>

  <% if params[:layout]=="false" %>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit 'Save', class: "btn btn-primary", data:{disable_with: "Saving..."}%>
    </div>
  <% else %>
    <p>
      <%= f.submit 'Save' , data:{disable_with: "Saving..."}%>
    </p>
  <% end %>
<% end %>
<% if params[:layout]=="false" %>
  </div> <!-- modal-body div-->
<% end %>

