<%= form_for [@report, @report_item], remote: true, id: 'report_item_form' do |f| %>
  <%= f.error_messages %>
  <%= f.text_area :content, placeholder: report_kbd_shortcut, id: 'item', size: '40x3', wrap: 'hard', class: 'form-control' %>
  <%= f.submit "Add to report", id: 'report_item_submit', title: report_kbd_shortcut, class: 'btn btn-primary', data: { disable_with: "Submitting..." } %>
  <div id="submit_button">
    <%= params[:popup] %>
  </div>
<% end %>
