<div id="report_view">
  <table id="report_view_table">
    <tr>
      <th class="list_header" colspan="2">
        <h3><%= @report.shift.start.to_s(:just_date) %> - <%= @report.shift.scheduled? ? "scheduled for #{@report.shift.start.to_s(:am_pm)} - #{@report.shift.end.to_s(:am_pm)}" : "unscheduled" %> <br />
        <%= @report.shift.user.name %> @ <%= @report.shift.location.name %></h3>
      </th>
    </tr>
    <tbody id = "all_report_items">
      <%= render :partial => 'report_item', :collection => @report.report_items %>
    </tbody>
  </table>
  <p>
    <% if @report.departed %>
      <!-- <strong>Departed:</strong>
      <%#=h @report.departed.getlocal.to_s(:short_name) %> -->
    <% elsif current_user == @report.user %>
      <div id="submit_button_div">
        <%= button_to_remote "End shift", :url => {:action => :update, :id => @report, :sign_out => true}, :html => {:method => :put} %>
      </div>
    <% else %>
      This report is still in progress.
    <% end %>
  </p>
  <%= params[:popup] %>
</div>

