<p>
  <strong>Report items:</strong>
  <% @report.report_items.each do |report| %>
    <li><%=h report.time.getlocal %>: <%=h report.content %></li>
  <% end %>
</p>
<% unless @report.departed %>
  <% form_for :report_item, :url => {:controller => 'report_items', :action=>'create'},
                     :html => { :id => 'line_form' } do |f| -%>
    <%= f.text_field :content %>
<%= hidden_field_tag 'report_id', @report.id %>



      <%= f.submit "Add this event" %>

  <% end -%>
 <% end %>
  </p>

