<% @report ||= report %>
  <table id="report_view_table">
    <tr>
      <th class="list_header" colspan="2">
        <h3><%= @report.shift.start.to_s(:just_date) %> - <%= @report.shift.scheduled? ? "scheduled for #{@report.shift.start.to_s(:am_pm)} - #{@report.shift.end.to_s(:am_pm)}" : "unscheduled" %> <br />
        <%= @report.shift.user.name %> aboard the <%= @report.shift.location.name %></h3>
      </th>
    </tr>
    <tbody id = "all_report_items">
      <%= render :partial => 'reports/report_item', :collection => @report.report_items %>
    </tbody>
  </table>

