<p>
  <strong>Report items:</strong>
  <% @report.report_items.each do |report| %>
    <li><%=h report.time.getlocal %>: <%=h report.content %></li>
  <% end %>
</p>
<% unless @report.departed %>
  <% form_for [@report, @report_item] do |f| %>
    <%= f.error_messages %>
    <%= f.text_field :content %>

    <%= f.submit "Add this event" %>
  <% end -%>
 <% end %>
  </p>

