<% form_remote_tag :url => { :controller => 'tasks', :action => 'make_entry' } do %>
	<% @tasks.each do |task| %>
		<li>	
				<%= check_box_tag "task_ids[]", task.id -%>
				<%= task.name if (!(task.needs_doing) && !(task.done)) %>
				<%= task.name if task.needs_doing -%><%= " - Needs Doing!" if task.needs_doing -%>
				<strike><%= task.name if task.done -%></strike>
				<%= " - Completed!" if task.done -%>
		</li>
	<% end %>
	<%= submit_tag "Update", :class => 'make_entry' %>
<% end %>