<% title "Reports" %>

<table>
  <tr>
    <th>Shift</th>
    <th>Start</th>
    <th>End</th>
    <th>Login Ip</th>
    <th>Logout Ip</th>
  </tr>
  <% for report in @reports %>
    <tr>
      <td><%=h report.shift %></td>
      <td><%=h report.start %></td>
      <td><%=h report.end %></td>
      <td><%=h report.login_ip %></td>
      <td><%=h report.logout_ip %></td>
      <td><%= link_to "Show", report %></td>
    </tr>
  <% end %>
</table>

<p>link to new report (not needed -- "sign in" to shift will create report automatically)</p>

