<% title "Reports" %>

<table>
  <tr>
    <th>Shift</th>
    <th>Start</th>
    <th>End</th>
    <th>Login Ip</th>
    <th>Logout Ip</th>
  </tr>
  <% for report in @reports %>
    <tr>
      <td><%=h report.shift %></td>
      <td><%=h report.start %></td>
      <td><%=h report.end %></td>
      <td><%=h report.login_ip %></td>
      <td><%=h report.logout_ip %></td>
      <td><%= link_to "Show", report %></td>
      <td><%= link_to "Edit", edit_report_path(report) %></td>
      <td><%= link_to "Destroy", report, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Report", new_report_path %></p>
