<% title "Shift Report at the #{@report.shift.location.name}" %>
<% unless @report.departed || current_user != @report.user %>
<fieldset class = "index" >
  <legend><%= "Message Center for the #{current_user.current_shift.location.short_name}"%></legend>
  <div id = "message_center">
    <%= render :partial => 'notices/notice', :collection => @report.get_notices %>
  </div>
  <fieldset class="sticky" style="width: 48%">
    <div class="left">
      <%= link_to_post_a_new_notice(true) %>
    </div>
</fieldset>
</fieldset>

<%= periodically_call_remote :url => { :controller => "notices", :action => "update_message_center"}, :frequency => 5*60 -%>
  <br/>
    <fieldset class='index'>
      <legend>Data Objects</legend>
        <%= render :partial => 'data_objects/report_data_object', :collection => @report.data_objects %>
    </fieldset>

  <%= render :partial => 'new_report_item_form' %>
<% end %>
  </p>
<%= render :partial => 'report'%>

