<% title "Shift Report at the #{@report.shift.location.name}" %>
<div id="AJAX_status"></div>
<% unless @report.departed || current_user != @report.user %>
<fieldset class = "index" >
  <legend><%= "Message Center for the #{current_user.current_shift.location.short_name}"%></legend>
  <div>
    <%= link_to_post_a_new_notice(true) %>
  </div>
  <br>
  <div id = "message_center">
    <%= render :partial => 'notices/notice', :collection => @report.get_notices %>
  </div>
</fieldset>

<%= periodically_call_remote :url => { :controller => "notices", :action => "update_message_center"}, :frequency => 5*60 -%>
  <br/>
    <fieldset class='index'>
      <legend>Data Objects</legend>
        <%= render :partial => 'data_objects/report_data_object', :collection => @report.data_objects %>
    </fieldset>
    <br/>
      <%= render :partial => 'report'%>
      <%= render :partial => 'new_report_item_form' %>
<% end %>

