<% title "Shift Report at the #{@report.shift.location.name}" %>
<% if current_user == @report.user && !@report.departed %>
  <fieldset class = "index" >
    <legend><%= "Message Center for the #{current_user.current_shift.location.short_name}"%></legend>
    <div>
      <%= link_to_post_a_new_notice %>
    </div>
    <div id = "message_center">
      <%= render :partial => 'notices/notice', :collection => @report.get_notices %>
    </div>
  </fieldset>

  <%= periodically_call_remote :url => { :controller => "notices", :action => "update_message_center"}, :frequency => 5*60 -%>

      <div id="report_data_objects">
        <fieldset>
          <legend>Data Objects</legend>
          <%= render :partial => 'data_objects/report_data_object', :collection => @report.data_objects %>
        </fieldset>
      </div>

      <div id = "useful_links">
        <fieldset>
          <legend>Useful Links</legend>
          <!-- PARTIALIZE!! -->

          <% for l in @report.get_links do %>
            <% l = l.content.split("|$|") %>
            <%= link_to "#{l.first}", "#{l.last}", :popup => true %>
            <br />
          <%end%>
          <!-- -->
          <%= link_to_post_a_useful_link %>
        </fieldset>
      </div>

  <div id="report_relative_size">
<% end %>

<div id="report_view">
  <%= render :partial => 'report'%>
</div>

<% if current_user == @report.user && !@report.departed %>
  </div>

  <%= render :partial => 'new_report_item_form' %>

  <%= button_to "End shift", {:action => :update, :id => @report, :sign_out => true, :method => :put}, {:id => 'submit_button'} %>
<% elsif !@report.departed %>
  This report is still in progress.
<% end %>

