<div>
  <h2><%= link_to data_objects_table.first.name.pluralize, data_objects_table.first %></h2>
  <table class="data_table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <% data_objects_table.first.data_fields.each do |df| %>
          <th><%= df.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% data_objects_table.second.each do |obj| %>
      <% entry = obj.data_entries.last.data_fields_with_contents unless obj.data_entries.empty? %>
      <tr>
        <td><%= link_to obj.name, obj %></td>
        <td><%= obj.description %></td>
        <% data_objects_table.first.data_fields.each do |df| %>
          <td>
            <%= entry[df.id.to_s] if entry %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>