  <table class="data_objects_table">
    <caption><%= data_objects_table.first.name %></caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <% data_objects_table.first.data_fields.sort_by(&:id).each do |df| %>
          <th><%= df.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% data_objects_table.second.each do |obj| %>
      <% entry = obj.data_entries.last.data_fields_with_contents unless obj.data_entries.empty? %>
      <tr>
        <td><%= link_to obj.name, obj %></td>
        <td><%= obj.description %></td>
        <% data_objects_table.first.data_fields.sort_by(&:id).each do |df| %>
          <td>
            <%= entry[df.id] if entry && entry.include?(df.id) %>
          </td>
        <% end %>
        <td><%= link_to "Edit", edit_data_object_path(obj) %></td>
        <td><%= link_to "Destroy", obj, :confirm => "Are you sure? This will also delete any data entries belonging to this object.",                          :method => :delete %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
