<% title "#{@data_object.name}" %>
<h3 id="subtitle"><%= link_to_if current_user.is_admin_of?(current_department),  @data_object.data_type.name, @data_object.data_type %></h3>
  <p>
    <strong>Description:</strong>
    <%=h @data_object.description %> <br />
    <strong>Locations:</strong>
    <%=h @data_object.locations.map{|l| l.short_name}.join(', ') %>


  <% unless @data_entries.empty? %>

    <%= form_tag data_object_path(@data_object), :method => :get %>
      Viewing
      <%= select_date(@data_entries.last.created_at, :prefix => 'start') %>
      to
      <%= select_date(@data_entries.first.created_at, :prefix => 'end') %>
    <%= submit_tag 'Select Dates' %><br/><br />


    <p>
      <strong>Data entries for this object:</strong>
      <table class = "tablesorter">
        <%# this requires some rewriting, since data fields may change over time %>
        <thead>
          <tr>
            <th>Time</th>
            <% @data_fields.each do |df| %>
              <th><%= df.name %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <%= render(:partial => "data_entries/data_entry_row",
                     :collection => @data_entries,
                     :locals => {:data_fields => @data_fields, :data_object => @data_object}) %>
        </tbody>
      </table>
      <br>
    </p>

  <% else %>
    There are no data entries to view.
  <% end %>

  <% if current_user.is_admin_of?(current_department) %>
    <p><%= link_to "Edit", edit_data_object_path(@data_object) %> | 
    <%= link_to "Destroy", @data_object,
    :confirm => 'Are you sure? This will destroy all data entries belonging to this object.',
    :method => :delete %> | 
  <% end %>
  <%= link_to "View all data objects", data_objects_path %></p>

