<% title "Data Object" %>

<p>
  <strong>Name:</strong>
  <%=h @data_object.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @data_object.description %>
</p>
<p>
  <strong>Data Type:</strong>
  <%=h @data_object.data_type.name %>
</p>
<p>
  <strong>Locations:</strong>
  <%=h @data_object.locations.map{|l| l.short_name}.join(', ') %>
</p>
<p>
  <%= link_to "Edit", edit_data_object_path(@data_object) %> |
  <%= link_to "Destroy", @data_type,  
  :confirm => 'Are you sure? This will destroy all data entries belonging to this object.', 
  :method => :delete %> |
  <%= link_to "View all data objects", data_objects_path %>
</p>
