<% title "#{@data_object.name}" %>
<h4 id="subtitle"><%= link_to @data_object.data_type.name, @data_object.data_type %></h4>
<div style="width:35%; float:left">
  <p>
    <strong>Description:</strong>
    <%=h @data_object.description %>
  </p>
  <p>
    <strong>Locations:</strong>
    <%=h @data_object.locations.map{|l| l.short_name}.join(', ') %>
  </p>
  <p>
    <%= link_to "Edit data object", edit_data_object_path(@data_object) %> |
    <%= link_to "Destroy", @data_object,  
    :confirm => 'Are you sure? This will destroy all data entries belonging to this object.', 
    :method => :delete %> |
    <%= link_to "View all data objects", data_objects_path %>
  </p>
</div>
<div style="width:65%; float:left">
  <%# This is a good candidate for partializing, esp. if rewritten as divs %>
  <strong>Data entries for this object:</strong>
  <table class="data_table">
    <thead>
      <tr>
        <th>Time</th>
        <% @data_object.data_type.data_fields.each do |df| %>
          <th><%= df.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= render(:partial => "data_entry_row", 
                 :collection => @data_entries.sort_by(&:updated_at).reverse,
                 :locals => {:data_fields => @data_fields}) %>
    </tbody>
  </table>
  <br>
  <%= button_to "Add new data entry", new_data_object_data_entry_path(@data_object), :method => :get %>
</div>