    <p>
      <strong>Short Name:</strong>
      <%=h location.short_name %>
    </p>
    <p>
      <strong>Useful Links:</strong>
      <%=h location.useful_links %>
    </p>
    <p>
      <strong>Min Staff:</strong>
      <%=h location.min_staff %>
    </p>
    <p>
      <strong>Max Staff:</strong>
      <%=h location.max_staff %>
    </p>
    <p>
      <strong>Priority:</strong>
      <%=h location.priority %>
    </p>
    <p>
      <strong>Active:</strong>
      <%=h location.active %>
    </p>
    <p>
      <strong>Payform Category:</strong>
      <%=h location.category.name %>
    </p>
