    <p>
      <strong>Short Name:</strong>
      <%= location.short_name %>
    </p>
    <p>
      <strong>Useful Links:</strong>
      <%= location.useful_links %>
    </p>
    <p>
      <strong>Min Staff:</strong>
      <%= location.min_staff %>
    </p>
    <p>
      <strong>Max Staff:</strong>
      <%= location.max_staff %>
    </p>
    <p>
      <strong>Priority:</strong>
      <%= location.priority %>
    </p>
    <p>
      <strong>Active:</strong>
      <%= location.active %>
    </p>
    <p>
      <strong>Payform Category:</strong>
      <%= location.category.name %>
    </p>
