<% title "Locations" %>

<table>
  <tr>
    <th>Name</th>
    <th>Short Name</th>
    <th>Useful Links</th>
    <th>Max Staff</th>
    <th>Min Staff</th>
    <th>Priority</th>
    <th>Active</th>
  </tr>
  <% for location in @locations %>
    <tr>
      <td><%=h location.name %></td>
      <td><%=h location.short_name %></td>
      <td><%=h location.useful_links %></td>
      <td><%=h location.max_staff %></td>
      <td><%=h location.min_staff %></td>
      <td><%=h location.priority %></td>
      <td><%=h location.active %></td>
      <td><%= link_to "Show", location %></td>
      <td><%= link_to "Edit", edit_location_path(location) %></td>
      <td><%= link_to "Destroy", location, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Location", new_department_location_path(current_department) %></p>

