<% if current_user.is_admin_of?(current_department) %>
<%# Admin Menu %>
  <% content_for :left_nav do %>
    <% if current_user.is_superuser? %>
      <li class="dropdown">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Superuser Options <i class="fa fa-caret-right"></i></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Application Settings", edit_app_config_path %></li>
          <li><%= link_to "Manage Superusers", superusers_path %></li>
        </ul>
      </li>
    <% end %>
    <% if current_user.is_admin_of?(@department) %>
      <li class="dropdown">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Admin Options <i class="fa fa-caret-right"></i></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Department Settings", edit_department_config_path(@department.department_config) %></li>
          <li><%= link_to "Calendars", calendars_path %></li>
          <li><%= link_to "Permissions", department_roles_path(@department) %></li>
          <li><%= link_to "Templates", templates_path %></li>
        </ul>
      </li>
    <% end %>

  <% end %>
<% end %>
