<% if current_user.is_admin_of?(current_department) %>
<%# Admin Menu %>
  <% content_for :left_nav do %>
  	<ul id="navigationList" class="sf-menu sf-vertical">
			<li>
	      <a class="sf-with-ul" href="#">Schedule<span class="sf-sub-indicator"> &#187;</span></a>
					<ul>
		        <li><%= link_to "Shifts Schedule", shifts_path %></li>
		        <li><%= link_to "Active Shifts", show_active_shifts_path %></li>
		        <li><%= link_to "Sub Requests", sub_requests_path %></li>
		        <li><%= link_to "Calendars", calendars_path %></li>
				<li><%= link_to "Templates", templates_path %></li>
		        <li><%= link_to "Time Slots", time_slots_path %></li>
		        <li><%= link_to "Tasks", tasks_path %></li>
					</ul>
			</li>
			<li>
	      <a class="sf-with-ul" href="#">Data<span class="sf-sub-indicator"> &#187;</span></a>
					<ul>
		        <li><%= link_to "Data Objects", data_objects_path %></li>
		        <li><%= link_to "Data Types", data_types_path %></li>
					</ul>
			</li>
			<li>
		    <a class="sf-with-ul" href="#">Notices<span class="sf-sub-indicator"> &#187;</span></a>
					<ul>
						<li><%= link_to_post_a_sticky() %></li>
						<li><%= link_to_post_an_announcement %></li>
						<li><%= link_to "All links", links_path %></li>
						<li><%= link_to "All notices", notices_path %></li>
					</ul>
			</li>
			<li>
	      <a class="sf-with-ul" href="#">Misc<span class="sf-sub-indicator"> &#187;</span></a>
					<ul>
		        <li><%= link_to "Stats", stats_path %></li>
		        <li><%= link_to "Restrictions", restrictions_path %></li>
					</ul>
			</li>
   </ul>
    <div id="contentNav">
  <% end %>
<% else %>
<%# Non-admin Menu %>
	<% content_for :left_nav do %>
		<ul id="navigationList" class="sf-menu sf-vertical">
			<li>
	      <a class="sf-with-ul" href="#">Schedule<span class="sf-sub-indicator"> &#187;</span></a>
					<ul>
		        <li><%= link_to "Shifts Schedule", shifts_path %></li>
		        <li><%= link_to "Active Shifts", show_active_shifts_path %></li>
		        <li><%= link_to "Sub Requests", sub_requests_path %></li>
					</ul>
			</li>
			<li>
		    <a class="sf-with-ul" href="#">Notices<span class="sf-sub-indicator"> &#187;</span></a>
					<ul>
						<li><%= link_to_post_a_sticky() %></li>
						<li><%= link_to_post_an_announcement %></li>
						<li><%= link_to "All links", links_path %></li>
						<li><%= link_to "All notices", notices_path %></li>
					</ul>
			</li>
			<li>
	      <a class="sf-with-ul" href="#">Misc<span class="sf-sub-indicator"> &#187;</span></a>
					<ul>
		        <li><%= link_to "Data Objects", data_objects_path %></li>
		        <li><%= link_to "Stats", stats_path %></li>
					</ul>
			</li>
	 	</ul>
	  <div id="contentNav">
	<% end %>
<% end %>