<% content_for :head do %>
  <%= stylesheet_link_tag 'shift' %>
<% end %>


<% content_for :left_nav do %>
  <ul id="navigationList">
    <h3>Notice Actions</h3>
      <li><%= link_to_post_a_sticky %></li>
			<li><%= link_to "View useful links", links_path %></li>
    <% if current_user.is_admin_of?(current_department) %>
      <li><%= link_to 'View all notices', archive_notices_path %></li>
    <% end %>
  </ul>
  <div id="contentNav">
<% end %>


<% content_for :body do %>

  <%= yield %>

  <div class="clear"></div>
<% end -%>

<%= render :file => "layouts/application.html.erb" %>

