<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>

  <body>
    <!-- Start pagebox container -->


    <%= render 'layouts/navbar' %>
    <div class='container'>
      <%= yield(:left_nav) %>
      <div id=<%= content_wrapper_id %>>

        <div id="flash">
          <%= render :partial => "layouts/flash", :locals => {:flash => flash} %>
        </div>

        <!-- Main Content -->

        <% if show_title? %>
          <div class="page-header">
            <h1 id="page_title">
              <%= yield(:title) %>
              <small id="subtitle"><%= yield(:subtitle) %></small>
            </h1>
          </div>
        <% end %>

        <!-- Body Content -->
        <%# TODO: We should not have any more content_for :body tags, we need to
        figure out how to use this properly, and fix the files with such tags %>
        <%= yield(:body).empty? ? yield : yield(:body) %>
      </div>  <!-- End contentNav or contentNoNav (generated above or in :left_nav) -->

      <%= render 'layouts/footer' %>
    </div> <!-- End pagebox container generated in main_header -->

    <div id="pageboxBottom"> <!-- do not remove -->
      <script type='text/javascript' charset='utf-8'>
        <%= yield(:javascript) %>
      </script>
    </div>

  </body>
</html>
