<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application', 'nav' %>
    <%= yield(:head) %>
  </head>
  <body>

    <%= render :file => 'layouts/nav_top' %>
	  <% if current_user %>
	    <%= department_chooser %>
	    <div id="login">
		  Hello <%= current_user.name %>! You are logged in as <%= current_user.netid %> <%= link_to "[Logout]", :controller => "sessions", :action => "logout" %>
	  	</div>
	  <% end %>

    <div id="container">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>

      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>
      <%= yield(:my_content) || yield %>
    </div>
  </body>
</html>

