<% if mobile_device?%> <!-- establishes the initial width for mobile browser. -->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<% end %>

<%= render :file => "layouts/include/main_header.html.erb" %>

<!--this is necessary here for consistent layouts -->
<%= stylesheet_link_tag 'mobile_application' if mobile_device? %>

    <%= yield(:left_nav) || '<div id="contentNoNav">' %>

      <div id="flash">
        <%= render :partial => "layouts/flash", :locals => {:flash => flash} %>
      </div>

      <!-- Main Content -->

      <%- if show_title? -%>
        <h1 id="page_title"><%=h yield(:title) %></h1>
        <h4 id="subtitle"><%=h yield(:subtitle) %></h4>
      <%- end -%>

      <!-- Body Content -->
      <%if yield(:body) != "" %>
        <%= yield(:body) %>
      <% else %>
        <%= yield %>
      <% end %>
    </div>  <!-- End contentNav or contentNoNav (generated above or in :left_nav) -->

    <div id="footer">
        <p class="footer">
          <%if @appconfig%>
            <%= @appconfig.footer %>
          <%end%>
        </p>
        <p class="footer">
          For help with Shifts, please visit our repository on <a href="http://github.com/YaleSTC/shifts/tree/master">Github</a>.<br />
          Use this <a href="https://docs.google.com/a/yale.edu/spreadsheet/viewform?formkey=dE8zTFprNVB4RTAwdURhWEVTTlpDQVE6MQ#gid=0">form</a> to report a bug.<br />
			<% if mobile_device? %>
				Mobile Site | <%= link_to "Full Site", :mobile => 0 %>
			<% else %>
				<%= link_to "Mobile Site", :mobile => 1 %> | Full Site
			<% end %>
			<br />
          <% if current_user && current_user.superuser? -%>
            Superuser mode <%= link_to (current_user.supermode? ? 'ON' : 'OFF'),
                {:su_mode => current_user.supermode? ? 'OFF' : 'ON' } %>
                <%# note that passing true false wont work because Rails thinks that false means not to pass it -%>
          <% end -%>
        </p>
      </div>
  </div> <!-- End pagebox container generated in main_header -->

  <div id="pageboxBottom"> <!-- do not remove -->
    <script type='text/javascript' charset='utf-8'>
      <%= yield(:javascript) %>
    </script>
  </div>
  </body>
</html>
