<%= render :file => "layouts/include/main_header.html.erb" %>
    <%= yield(:left_nav) || '<div id="contentNoNav">' %>
    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}", :class => "flash" %>
    <%- end -%>

    <!-- Main Content -->

      <%- if show_title? -%>
        <h1 id="page_title"><%=h yield(:title) %></h1>
        <h4 id="subtitle"><%=h yield(:subtitle) %></h4>
      <%- end -%>
      <!-- Main Content -->
      <%= yield(:body) || yield %>
      </div>
      <div id="pageAnchor">
        <a href="#top_of_page">
          <%= image_tag "jump.gif", {:hspace => "0", :height => "13", :border => "0", :width => "19", :alt => "Jump to top", :title => "Jump to top"} %>
        </a>
      </div>
      <div id="footer">
        <p class="footer">
          URL: <%= request.env["HTTP_HOST"] %><%= request.request_uri %><br />
          <%= AppConfig.first.footer %>
        </p>
      </div>
    </div>
    <!-- End pagebox container -->
    <div id="pageboxBottom"/> <!-- do not remove this -->
  </body>
</html>

