<% content_for :head do %>
  <% stylesheet 'shift', 'report' %>
<% end %>

<% content_for :left_nav do %>
  <ul id="navigationList">
    <li><%= link_to_unless_current "Notices", notices_path %></li>
    <li><%= link_to_unless_current "User settings", edit_user_config_path(current_user.user_config) %></li>\
    <br/>
    <h3>Useful Links</h3>
    <li><%=link_to "Weke", "http://weke.its.yale.edu/" %></li>
    <li><%=link_to "RT", "http://uhu.its.yale.edu/" %></li>
  </ul>
  <div id="contentNav">
<% end %>


<% content_for :body do %>

  <%= yield %>

  <div class="clear"></div>
<% end -%>

<%= render :file => "layouts/application.html.erb" %>

