<% content_for :head do %>
  <%= stylesheet_link_tag 'shift', 'timeline'%>
<% end %>

<% if current_user.is_superuser? || current_user.is_admin_of?(@department)%>
  <% content_for :left_nav do %>
    <ul id="navigationList">
      <% if current_user.is_superuser? %>
        <h3> Super User Option </h3>
          <li><%= link_to_unless_current "Application Settings", edit_app_config_path %></li>
      <% end %>
      
      <% if current_user.is_admin_of?(@department) %>
        <h3>Admin Options</h3>
          <li><%= link_to_unless_current "Department Settings", edit_department_config_path(@department.department_config) %></li>
          <li><%= link_to_unless_current "Calendars", calendars_path %></li>
          <li><%= link_to_unless_current "Roles", department_roles_path(@department) %></li>
       <% end %>
    </ul>
          <div id="contentNav">
  <% end %>
 <% end %>

<% content_for :body do %>

  <%= yield %>

  <div class="clear"></div>
<% end -%>

<%= render :file => "layouts/application.html.erb" %>

