<% if current_user.is_admin_of?(current_department) %>
  <% content_for :left_nav do %>
      <ul id="navigationList">
        <li><h3>Payform Admin</h3></li>
        <li>
          <%= link_to "View Payforms", payforms_path %>
          <ul>
            <li><%= link_to "Submitted", payforms_path(:submitted => true)%></li>
            <li><%= link_to "Approved", payforms_path(:approved => true)%></li>
            <li><%= link_to "Printed", payforms_path(:printed => true) %></li>
          </ul>
        </li>
        <li><%= link_to "Print History", payform_sets_path %></li>
        <li><%= link_to "Mass Add Jobs", new_payform_item_set_path %>

          <ul>
            <li><%= link_to "View Mass Jobs", payform_item_sets_path %></li>
          </ul>
        </li>
        <li><%= link_to "Punch Clocks", '#' %>
              <ul>
                <li><%= link_to "Mass Punch Clocks", '#' %></li>
              </ul>
          </li>
          
        <li><%= link_to "E-mail Reminders", '#' %></li>
        <li><%= link_to "Edit Categories", department_categories_path(current_department) %></li>
        <li><%= link_to "Edit Configurations", '#' %></li>
      </ul>
    <div id="contentNav">
  <% end %>
<% end %>

<% content_for :head do %>

  <%# put payform specific head info here %>
  <% stylesheet 'payforms', :media => 'all' %>

<% end %>

<% content_for :body do %>

  <%# put payform specific body content here %>
  <%= yield %>

<% end %>

<%= render :file => "layouts/application.html.erb" %>

