<% inside_layout 'application' do %>

  <%# the following are yieled in the HEAD of document, not here, thus there's no equal sign %>
  <%#shift should be the last one because it might call classes belonging to the prior js files %>
  <%# javascript 'date_selector', 'shift' %>
  <%# stylesheet 'shift', 'report', 'date_selector', :media => 'all' %>
  <% stylesheet 'shift', 'report' %>

  <% if (woo = current_user.is_admin_of?(@department)) %>
    <div id="navigationShow">
      <ul id="navigationList">
        <li><h3>Scheduling Options</h3></li>
        <li><%= link_to_unless_current "Home", shifts_path %></li>
        <li><%= link_to_unless_current "Home", shifts_path %></li>
        <li><%= link_to_unless_current "Home", shifts_path %></li>
      <ul>
    </div>

    <div id="tab_content">
  <% end %>
  
  <%= yield %>
  
  <%= "</div>" if woo %>

  <div class="clear"></div>
<% end -%>