<% content_for :head do %>
  <% stylesheet 'shift', 'report', 'notice', 'thickbox' %>
  <% javascript 'sorttable', 'jrails', 'jquery', 'jquery-ui', 'jquery.simpletip-1.3.1' %>
<% end %>

<!-- Admin Menu -->
<% if current_user.is_admin_of?(current_department) %>
  <% content_for :left_nav do %>
    <ul id="navigationList">
      <h3>Scheduling Options</h3>
      <ul class="navigationList">
        <li><%= link_to_unless_current "Schedule", shifts_path %></li>
        <li><%= link_to_unless_current "Time Slots", time_slots_path %></li>
        <li><%= link_to_unless_current "Locations", department_locations_path(@department) %></li>
        <li><%= link_to_unless_current "Location Groups", department_loc_groups_path(@department) %></li>
        <li><%= link_to_unless_current "Restrictions", restrictions_path %></li>
        <li><%= link_to_unless_current "Notices", notices_path %></li>
        <li><%= link_to_unless_current "Shift Report Links", { :controller => '/shift_admin', :action => 'report_links' } %></li>
        <li><%= link_to_unless_current "Export Schedule", { :controller => '/shift_admin/calendar', :action => 'index' } %></li>
        <li><%= link_to_unless_current "Templates", { :controller => '/shift_admin', :action => 'manage_templates' } %>
          <ul><li><%= link_to_unless_current "Activate Templates", { :controller => '/shift_admin', :action => 'activate_templates' } %></li></ul>
        </li>
        <%# if @user.authorized?("shift_admin/@" + @department.name.decamelize + "/department_admin")%>
          <li><%#= link_to_unless_current "Edit Configuration", { :controller => '/shift_admin', :action => 'config' } %></li>        
        <%# end %>
      </ul>
      <h3>View Options</h3>
      <ul class="navigationList">
        <li><%= link_to_unless_current "Active Shifts", show_active_shifts_path %></li>
        <li><%= link_to_unless_current "Unscheduled Shifts", show_unscheduled_shifts_path %></li>
        <li><%= link_to_unless_current "Data Objects", data_objects_path %></li>
        <li><%#= link_to "Shift Stats", stats_path %></li>
        <li><%#= link_to "Missed Shifts", {:controller => '/shift_admin', :action => 'view_missed_shifts'} %></li>
      </ul>  
   </ul>
   
    <div id="contentNav">
  <% end %>
<% end %>

<% content_for :body do %>
  
  <%= yield %>

  <div class="clear"></div>
<% end -%>

<%= render :file => "layouts/application.html.erb" %>
