<% content_for :head do %>
  <% stylesheet 'shift', 'timeline'%>
  <% javascript 'sorttable' %>
<% end %>

<% if current_user.is_admin_of?(current_department) %>
<%# Admin Menu %>
  <% content_for :left_nav do %>
  	<ul id="navigationList" class="sf-menu sf-vertical">
			<li class="current">
				<li>
		      <a class="sf-with-ul" href="#">Schedule<span class="sf-sub-indicator"> &#187;</span></a>
						<ul>
			        <li><%= link_to_unless_current "Shift Schedule", shifts_path %></li>
			        <li><%= link_to_unless_current "Active Shifts", show_active_shifts_path %></li>
			        <li><%= link_to_unless_current "Sub Requests", sub_requests_path %></li>
			        <li><%= link_to_unless_current "Calendars", calendars_path %></li>
			        <li><%= link_to_unless_current "Time Slots", time_slots_path %></li>
			        <li><%= link_to_unless_current "Tasks", tasks_path %></li>
						</ul>
				</li>
				<li>
		      <a class="sf-with-ul" href="#">Locations<span class="sf-sub-indicator"> &#187;</span></a>
						<ul>
			        <li><%= link_to_unless_current "Locations", department_locations_path(@department) %></li>
			        <li><%= link_to_unless_current "Location Groups", department_loc_groups_path(@department) %></li>
						</ul>
				</li>
				<li>
		      <a class="sf-with-ul" href="#">Data<span class="sf-sub-indicator"> &#187;</span></a>
						<ul>
			        <li><%= link_to_unless_current "Data Objects", data_objects_path %></li>
			        <li><%= link_to_unless_current "Data Types", data_types_path %></li>
						</ul>
				</li>
				<li>
			    <a class="sf-with-ul" href="#">Notices<span class="sf-sub-indicator"> &#187;</span></a>
						<ul>
							<li><%= link_to_post_a_sticky() %></li>
							<li><%= link_to_post_an_announcement %></li>
							<li><%= link_to_unless_current "All links", links_path %></li>
							<li><%= link_to_unless_current "All notices", notices_path %></li>
				      <li><%= link_to_unless_current 'Inactive notices', archive_notices_path %></li>
						</ul>
				</li>
				<li>
		      <a class="sf-with-ul" href="#">Misc<span class="sf-sub-indicator"> &#187;</span></a>
						<ul>
			        <li><%= link_to_unless_current "Stats", stats_path %></li>
			        <li><%= link_to_unless_current "Restrictions", restrictions_path %></li>
						</ul>
				</li>
			</li>
   </ul>
    <div id="contentNav">
  <% end %>
<% else %>
<%# Non-admin Menu %>
	<% content_for :left_nav do %>
		<ul id="navigationList" class="sf-menu sf-vertical">
			<li class="current">
				<li>
		      <a class="sf-with-ul" href="#">Schedule<span class="sf-sub-indicator"> &#187;</span></a>
						<ul>
			        <li><%= link_to_unless_current "Shift Schedule", shifts_path %></li>
			        <li><%= link_to_unless_current "Active Shifts", show_active_shifts_path %></li>
			        <li><%= link_to_unless_current "Sub Requests", sub_requests_path %></li>
						</ul>
				</li>
				<li>
			    <a class="sf-with-ul" href="#">Notices<span class="sf-sub-indicator"> &#187;</span></a>
						<ul>
							<li><%= link_to_post_a_sticky() %></li>
							<li><%= link_to_post_an_announcement %></li>
							<li><%= link_to_unless_current "All links", links_path %></li>
							<li><%= link_to_unless_current "All notices", notices_path %></li>
						</ul>
				</li>
				<li>
		      <a class="sf-with-ul" href="#">Misc<span class="sf-sub-indicator"> &#187;</span></a>
						<ul>
			        <li><%= link_to_unless_current "Data Objects", data_objects_path %></li>
			        <li><%= link_to_unless_current "Stats", stats_path %></li>
						</ul>
				</li>
			</li>
	 </ul>
	  <div id="contentNav">
	<% end %>
<% end %>

<% content_for :body do %>

  <%= yield %>

  <div class="clear"></div>
<% end -%>

<%= render :file => "layouts/application.html.erb" %>
 
<script> 
    $(document).ready(function(){ 
        $("ul.navigationList").superfish(); 
    });
</script>
