<% content_for :head do %>

  <%# put payform specific head info here %>
  <% stylesheet 'shift', 'report' %>

<% end %>

<%# Admin Menu %>
<% if current_user && current_user.is_admin_of?(@department) && !@no_nav -%>
  <% content_for :left_nav do -%>
    <ul id="navigationList">
      <h3>Manage Users</h3>
      <li><%= link_to_unless_current "Show All Users", department_users_path(@department) %></li>
      <li><%= link_to_unless_current "Add a User", new_department_user_path(@department) %></li><br/>
      <h3>Manage Permissions</h3>
      <li><%= link_to_unless_current "Show All Roles", department_roles_path(@department) %></li>
      <li><%= link_to_unless_current "Add a Role", new_department_role_path(@department) %></li><br/>
      <h3>User Profiles</h3>
      <li><%= link_to_unless_current "Show Profile Fields", user_profile_fields_path %></li>
      <li><%= link_to_unless_current "Add a Profile Field", new_user_profile_field_path %></li>
	  <li><%= link_to_unless_current "Show All Profiles", user_profiles_path %></li>
      <li><%= link_to_unless_current "My Profile", user_profile_path(current_user.login) %></li>
    </ul>
    <div id="contentNav">
    <% end -%>
<% else -%>
  <% content_for :left_nav do -%>
    <ul id="navigationList">
      <h3>User Profiles</h3>
      <li><%= link_to_unless_current "Show All Profiles", user_profiles_path %></li>
      <li><%= link_to_unless_current "New Profile Field", new_user_profile_field_path %></li>
      <li><%= link_to_unless_current "Manage Profile Fields", user_profile_fields_path %></li>
      <h3>Manage Permissions</h3>
      <li><%= link_to_unless_current "Show all Roles", department_roles_path(@department) %></li>
      <li><%= link_to_unless_current "Add a Role", new_department_role_path(@department) %></li>
>>>>    </ul>
    <div id="contentNav">
  <% end -%>
<% end -%>

<% content_for :body do %>

  <%= yield %>

  <div class="clear"></div>
<% end -%>

<%= render :file => "layouts/application.html.erb" %>

